<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{},~{},~{::style})">
    <title data-th-text="${AppName}">抱歉，你访问的页面不存在！</title>
    <style>
        .middle-box h2 {
            font-size: 90px;
        }

        .middle-box h3 {
            font-size: 36px;
        }
    </style>
</head>

<body>


<div class="middle-box text-center animated fadeInDown">
    <h1>403</h1>
    <br/>
    <h2 class="text-danger"><i class="fa fa-odnoklassniki-square"></i>&nbsp;WC</h2>
    <br/>
    <br/>
    <h3 class="error-desc">
        等等，你好像走错门了~
    </h3>
    <h3 class="error-desc">
        你没有权限访问该页面！
    </h3>
    <h4><a href="/" target="_parent" class="text-danger">返回首页</a></h4>
</div>

<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>

</body>

</html>
