<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{},~{},~{})">
    <title data-th-text="${AppName}">系统出现故障！</title>

</head>

<body>


<div class="middle-box text-center animated fadeInDown">
    <h1 data-th-text="${status}"></h1>
    <h3 class="font-bold"><label class="text-warning" data-th-text="${error}"></label></h3>

    <div class="error-desc" data-th-text="${message}">

    </div>
</div>

<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>


</body>

</html>
