<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>目标设定</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]];
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <!--页面js-->
    <script src="/js/crm/commonDatagrid.js"></script>
    <style>
        .option_button {
            width: 88px;
            height: 28px;
            float: right;
            margin: 0 30px 0 0;
            display: block;
            background: rgb(24, 144, 255);
            color: white;
            border-width: 1px;
            border-radius: 4px;
            padding: 0px;
        }

        .ye-setting {
            font-family: SourceHanSansSC;
            font-weight: 400;
            font-size: 16px;
            color: rgba(99, 176, 252, 1);
            font-style: normal;
            letter-spacing: 0px;
            line-height: 24px;
            text-decoration: none;
            display: block;
            float: left;
            margin: 0 0 0 30px;
        }

        .year-option {
            width: 97%;
            height: 114px;
            margin: 0px auto;
            box-shadow: rgb(170, 170, 170) 2px 2px 2px 2px;
            border-width: 1px;
            border-style: solid;
            border-color: #bbb;
        }

        .img-circle {
            width: 80px;
            height: 80px;
        }

        .img-circle {
            border-radius: 50%;
            vertical-align: middle;
        }

        .pic-div {
            margin-top: 10px;
            margin-left: 15px;
        }

        .pic-text {
            font-family: Arial;
            font-weight: 400;
            font-size: 14px;
            color: rgba(107, 107, 181, 1);
            font-style: normal;
            letter-spacing: 0px;
            line-height: 16px;
            text-decoration: none;
        }

        .year-text {
            font-family: SourceHanSansSC;
            font-weight: 400;
            font-size: 16px;
            color: rgb(16, 16, 16);
            font-style: normal;
            letter-spacing: 0px;
            line-height: 24px;
            text-decoration: none;
            padding-top: 30px;
        }

        input {
            width: 168px;
            height: 36px;
        }
    </style>

    <script src="/js/crm/goal/goal_setting.js"></script>

    <script th:inline="javascript">
        $().ready(function () {
            Goal.init();
        });
    </script>

</head>

<body>
<form id="goal_form">
    <div id="head" style="height:170px;width:100%;">
        <div class="form-group" style="width:99%;height:30px;margin:10px auto">
            <span class="ye-setting">业绩目标设定</span>
            <input id="ret" type="button" class="form-control option_button" value="返回"
                   onclick="location.href = '/crm/custom_list'">
        </div>

        <div class="form-group year-option">
            <div class="pic-div col-sm-2" style="height:100%">
                <img src="/img/profile_small.jpg" class="img-circle"/>
                <br/>
                <span class="--mb--rich-text pic-text" data-boldtype="0"
                      style="font-family:Arial; font-weight:400; font-size:14px; color:rgba(107, 107, 181, 1); font-style:normal; letter-spacing:0px; line-height:16px; text-decoration:none;">
                        Beaut-zihan
                    </span>
            </div>
            <div class="col-sm-7 year-text" style="height:100%">
                    <span style="margin-left:-50px;">
                        2018年年度计划
                    </span>
            </div>
            <div class="pic-div col-sm-2" style="height:100%;padding-top:50px;">
                <div class="col-sm-6">
                    <input type="button" class="option_button" value="保存设置"
                           onclick="location.href = '/crm/custom_list'">
                </div>
                <div class="col-sm-6">
                    <input type="reset" class="option_button" style="background-color: rgb(229, 28, 35);" value="清空数据">
                </div>
            </div>
        </div>
    </div>

    <div id="content" style="width:100%;height:80%">
        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">销售业绩</div>
            <div class="col-sm-2">利润业绩</div>
            <div class="col-sm-2">回款额</div>
            <div class="col-sm-2">登记客户数量</div>
            <div class="col-sm-2">成交客户数量</div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-2">年度计划</div>
            <div class="col-sm-2"><input type="text" disabled="disabled" name="y1t1"/></div>
            <div class="col-sm-2"><input type="text" disabled="disabled" name="y1t2"/></div>
            <div class="col-sm-2"><input type="text" disabled="disabled" name="y1t3"/></div>
            <div class="col-sm-2"><input type="text" disabled="disabled" name="y1t4"/></div>
            <div class="col-sm-2"><input type="text" disabled="disabled" name="y1t5"/></div>
        </div>
        <div class="jdContent">
            <div class="col-sm-12">
                <div class="col-sm-2">第一季度</div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j1t1"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j1t2"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j1t3"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j1t4"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j1t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">一月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j1m1t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m1t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m1t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m1t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m1t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">二月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j1m2t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m2t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m2t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m2t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m2t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">三月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j1m3t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m3t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m3t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m3t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j1m3t5"/></div>
            </div>
        </div>

        <div class="jdContent">
            <div class="col-sm-12">
                <div class="col-sm-2">第二季度</div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j2t1"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j2t2"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j2t3"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j2t4"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j2t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">四月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j2m4t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m4t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m4t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m4t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m4t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">五月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j2m5t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m5t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m5t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m5t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m5t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">六月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j2m6t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m6t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m6t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m6t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j2m6t5"/></div>
            </div>
        </div>

        <div class="jdContent">
            <div class="col-sm-12">
                <div class="col-sm-2">第三季度</div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j3t1"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j3t2"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j3t3"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j3t4"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j3t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">七月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j3m7t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m7t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m7t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m7t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m7t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">八月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j3m8t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m8t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m8t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m8t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m8t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">九月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j3m9t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m9t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m9t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m9t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j3m9t5"/></div>
            </div>
        </div>

        <div class="jdContent">
            <div class="col-sm-12">
                <div class="col-sm-2">第四季度</div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j4t1"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j4t2"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j4t3"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j4t4"/></div>
                <div class="col-sm-2"><input type="text" disabled="disabled" name="j4t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">十月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j4m10t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m10t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m10t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m10t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m10t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">十一月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j4m11t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m11t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m11t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m11t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m11t5"/></div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">十二月目标</div>
                <div class="col-sm-2"><input type="text" name="y1j4m12t1"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m12t2"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m12t3"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m12t4"/></div>
                <div class="col-sm-2"><input type="text" name="y1j4m12t5"/></div>
            </div>
        </div>
    </div>
</form>
</body>

</html>
