<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>事项列表</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>

    <script src="/js/workbench/items_list.js"></script>

    <style>
        .right0 {
            margin-right: -23px;
        }

        .option_button {
            width: 60px;
            float: left;
            margin-left: 10px;
            display: block;
            background: rgb(24, 144, 255);
            color: white;
            border-width: 1px;
            border-radius: 4px;
        }

        .option_button_head {
            height: 25px;
            margin-left: 5px;
            text-align: center;
            padding-top: 4px;
        }

        .layui-form-select dl {
            max-height: 100px;
        }
    </style>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script th:inline="javascript">
        $(function () {
            var startTimeStart = {
                elem: '#startTimeStart',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    startTimeEnd.min = datas; //开始日选好后，重置结束日的最小日期
                    startTimeEnd.start = datas //将结束日的初始值设定为开始日
                }
            };
            var startTimeEnd = {
                elem: '#startTimeEnd',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    startTimeStart.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };

            var endTimeStart = {
                elem: '#endTimeStart',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    endTimeEnd.min = datas; //开始日选好后，重置结束日的最小日期
                    endTimeEnd.start = datas //将结束日的初始值设定为开始日
                }
            };
            var endTimeEnd = {
                elem: '#endTimeEnd',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    endTimeStart.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };


            laydate(startTimeStart);
            laydate(startTimeEnd);
            laydate(endTimeEnd);
            laydate(endTimeStart);


            //创建表格对象
            itemsGrid = new dataGrid("itemsTable", itemsObject, "itemsPager", "items");
            //加载表格
            itemsGrid.loadGrid();
            //设置下面的按钮
            itemsGrid.setNavGrid();

        });

    </script>

</head>

<body>

<div id="content">
    <!--查询条件-->
    <form id="items">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <!--待办或已办隐藏表单-->
                                <input type="text" name="transactionState" id="transactionState" style="display:none"/>
                                <label class="col-sm-1 control-label right0">工作类型:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="workType" name="workType"
                                           class="form-control height18">
                                </div>

                                <label class="col-sm-1 control-label right0">紧急程度:</label>
                                <div class="col-sm-2">
                                    <select name="urgencyLevel" class="form-control height18">
                                        <option value="">请选择</option>
                                        <option value="1">紧急</option>
                                        <option value="2">较急</option>
                                        <option value="3">普通</option>
                                    </select>
                                </div>


                                <label class="col-sm-1 control-label right0">工作名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="itemName"
                                           class="form-control height18">
                                </div>

                                <label class="col-sm-1 control-label right0">发起部门:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="initiatorDeptName"
                                           class="form-control height18">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label right0">开始时间：</label>
                                <div class="col-sm-2" style="min-width: 240px;">
                                    <input placeholder="开始日期" style="width:48%;margin-left:0;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="startTimeStart"
                                           name="startTimeStart">
                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="startTimeEnd"
                                           name="startTimeEnd">
                                </div>

                                <label class="col-sm-1 control-label right0">处理期限：</label>
                                <div class="col-sm-2" style="min-width: 240px;">
                                    <input placeholder="开始日期" style="width:48%;margin-left:0;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="endTimeStart"
                                           name="endTimeStart">
                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="endTimeEnd"
                                           name="endTimeEnd">
                                </div>

                                <label class="col-sm-1 control-label right0">发起人:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="initiatorWorker" class="form-control height18">
                                </div>

                                <div class="col-sm-2">
                                    <!--<input type="button" id="searchButton" class="form-control height18 option_button" value="搜索"-->
                                    <!--onclick="itemsGrid.setPageSelected('id');itemsGrid.search();">-->

                                    <button type="button" id="searchButton" class="btn btn-primary"
                                            onclick="itemsGrid.setPageSelected('id');itemsGrid.search();">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--查询条件结束-->

    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom:-8px;">
            <div class="ibox-title" id="todoDiv">
                <button id="batchBtn" class="btn btn-primary " type="button">
                    <i class="glyphicon glyphicon-ok"></i>批量标记为已办
                </button>
                <span  class="text-red">说明：批量标记为已办只是把待办转已办，并不处理实际业务流程。只适用于以下情况：该待办事项已经处理，但是待办没有消失。</span>
            </div>
        </div>
    </div>
    <div class="ibox-content" style="padding-left: 0px;padding-right: 0px;">
        <div class="form-horizontal">
            <div class="jqGrid_wrapper">
                <table id="itemsTable"></table>
                <div id="itemsPager"></div>
            </div>
        </div>
    </div>

</div>

</body>

</html>
