<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>消息列表</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>

    <script src="/js/workbench/message_list.js"></script>

    <style>
        .right0 {
            margin-right: -23px;
        }

        .option_button {
            width: 60px;
            float: left;
            margin-left: 10px;
            display: block;
            background: rgb(24, 144, 255);
            color: white;
            border-width: 1px;
            border-radius: 4px;
        }

        .option_button_head {
            height: 25px;
            margin-left: 5px;
            text-align: center;
            padding-top: 4px;
        }

        .layui-form-select dl {
            max-height: 100px;
        }
    </style>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script th:inline="javascript">
        $(function () {
            $("#search").click(function () {
                $("#itemsTable").emptyGridParam();
                $("#itemsTable").jqGrid('setGridParam', {
                    postData: $("#queryForm").serializeJson(), //发送数据
                }).trigger("reloadGrid"); //重新载入
            });
            //设置隐藏表单的值
            var transactionState = getQueryString("transactionState");
            $("#transactionState").val(transactionState);

            $('body').bind('keyup', function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    $("#searchButton").click();
                }
            });
            //加载时间控件
//            var startTimeStart = {
//                elem: '#startTimeStart',
//                format: 'YYYY/MM/DD',
//                istime: true,
//                istoday: false
//            };
//            laydate(startTimeStart);
//            startTimeStart.elem = '#startTimeEnd';
//            laydate(startTimeStart);
//            startTimeStart.elem = '#endTimeStart';
//            laydate(startTimeStart);
//            startTimeStart.elem = '#endTimeEnd';
//            laydate(startTimeStart);


            var startTimeStart = {
                elem: '#startTimeStart',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    startTimeEnd.min = datas; //开始日选好后，重置结束日的最小日期
                    startTimeEnd.start = datas //将结束日的初始值设定为开始日
                }
            };
            var startTimeEnd = {
                elem: '#startTimeEnd',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    startTimeStart.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(startTimeStart);
            laydate(startTimeEnd);

            //创建表格对象
            itemsGrid = new dataGrid("itemsTable", itemsObject, "itemsPager", "items");
            //加载表格
            itemsGrid.loadGrid();
            //设置下面的按钮
            itemsGrid.setNavGrid();
        });

    </script>

</head>

<body>

<div id="content">
    <!--查询条件-->
    <form id="queryForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label right0">消息内容：</label>
                                <div class="col-sm-2">
                                   <input type="text" name="messageContent" class="form-control height18"/>
                                </div>
                                <label class="col-sm-1 control-label right0">消息类型：</label>
                                <div class="col-sm-2">
                                    <select type="text" id="parentTypeQC" name="parentTypeQC" class="form-control" onchange="typeChange()">
                                        <option value="">请选择</option>
                                        <option value="1">待办</option>
                                        <option value="2">提醒</option>
                                        <option value="3">通知</option>
                                        <option value="0">其它</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label right0">流程类型：</label>
                                <div class="col-sm-2">
                                    <select name="typeQC" class="form-control height18" onchange="typeChange()">
                                        <option value="">请选择</option>
                                        <option value="1">开票</option>
                                        <option value="2">借款</option>
                                        <option value="3">请款</option>
                                        <option value="4">退款</option>
                                        <option value="5">费用报销</option>
                                        <option value="6">删稿</option>
                                        <option value="7">请假</option>
                                        <option value="8">加班</option>
                                        <option value="9">外出</option>
                                        <option value="10">出差</option>
                                        <option value="16">绩效</option>
                                        <option value="21">员工录用</option>
                                        <option value="17">员工转正</option>
                                        <option value="18">员工调岗</option>
                                        <option value="20">员工离职</option>
                                        <option value="19">员工交接</option>
                                        <option value="22">唤醒类型</option>
                                        <option value="11">媒体审核</option>
                                        <option value="12">稿件审核</option>
                                        <option value="13">论坛</option>
                                        <option value="14">公告通知</option>
                                        <option value="15">日程</option>
                                        <option value="16">绩效考核</option>
                                        <option value="17">员工转正</option>
                                        <option value="18">员工调岗</option>
                                        <option value="19">员工交接</option>
                                        <option value="20">员工离职</option>
                                        <option value="21">员工录用</option>
                                        <option value="22">流程唤醒</option>
                                        <option value="23">会议</option>
                                        <option value="24">业务下单</option>
                                        <option value="26">物品报修</option>
                                        <option value="27">物品报废</option>
                                        <option value="28">物品归还</option>
                                        <option value="29">烂账申请</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label right0">发起时间：</label>
                                <div class="col-sm-2" style="min-width: 240px;">
                                    <input placeholder="开始日期" style="width:48%;margin-left:0;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="startTimeStart"
                                           name="startTimeStart">
                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="startTimeEnd"
                                           name="startTimeEnd">
                                </div>
                                <label class="col-sm-1 control-label right0">状态：</label>
                                <div class="col-sm-2">
                                    <select name="state" class="form-control height18" onchange="typeChange()">
                                        <option value="">请选择</option>
                                        <option value="1">未读</option>
                                        <option value="2">已读</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <!--<input type="button" id="searchButton" class="form-control height18 option_button" value="搜索"-->
                                    <!--onclick="itemsGrid.setPageSelected('id');itemsGrid.search();">-->

                                    <button type="button" id="search" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--查询条件结束-->
    <div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <button id="auditAgree" class="btn btn-success" type="button" onclick="readMessage(this)"
                        style="margin-left: 0px;">
                    <i class="fa fa-check"></i>&nbsp;&nbsp;批量已读
                </button>
                <button id="agreeAll" class="btn btn-success" type="button" onclick="readAllMessage(this)"
                        style="margin-left: 10px;">
                    <i class="fa fa-check"></i>&nbsp;&nbsp;一键已读
                </button>
            </div>
            <div class="tabs-container">
                <ul class="nav nav-tabs" id="tabList">
                    <li class="active" id="tab0"><a data-toggle="tab" aria-expanded="true"><span
                            class="text-success">消息类型</span></a></li>
                    <li class="" id="tab1"><a data-toggle="tab" aria-expanded="true"><span>待办</span></a></li>
                    <li class="" id="tab2"><a data-toggle="tab" aria-expanded="true"><span>提醒</span></a></li>
                    <li class="" id="tab3"><a data-toggle="tab" aria-expanded="true"><span>通知</span></a></li>
                    <li class="" id="tab4"><a data-toggle="tab" aria-expanded="true"><span>其它</span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="jqGrid_wrapper">
                        <table id="itemsTable"></table>
                        <div id="itemsPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
