<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>入职申请审核</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/js/employ/rating/css/star-rating.min.css">
    <link rel="stylesheet" href="/js/employ/rating/themes/krajee-fa/theme.css">

    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/employ/utils/jquery.validate.addition.js"></script>
    <script type="text/javascript" src="/js/employ/utils/jquery.validate.cn.js"></script>
    <script type="text/javascript" src="/js/employ/rating/js/star-rating.min.js"></script>
    <script type="text/javascript" src="/js/employ/rating/js/locales/zh.js"></script>
    <script type="text/javascript" src="/js/employ/rating/themes/krajee-fa/theme.js"></script>
    <script type="text/javascript" src="/js/employ/utils/entry.util.js"></script>
    <script type="text/javascript" src="/js/process/approveTask.js"></script>
    <script type="text/javascript" src="/js/employ/approve/employApprove.js"></script>
</head>
<body>
<!-- 审核页面； -->
<div class="modal inmodal" id="employModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 880px;">
        <form id="approveForm">
            <input type="hidden" name="agree"/>
            <input type="hidden" name="deptId"/>
            <input type="hidden" name="taskId"/>
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h4 class="modal-title">员工录用</h4>
                </div>
                <div class="ibox-title">
                    <h5 style="font-weight:bold">基本资料</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">姓名：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="empName" class="form-control" style="width: 78%;"
                                                   placeholder="请输入姓名" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">性别：</label>
                                        <div class="col-sm-5">
                                            <input type="text" id="empGenderText" class="form-control"
                                                   style="width: 78%;" placeholder="请输入性别" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">出生日期：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="empBirth" class="form-control layer-date"
                                                   style="width: 78%;" placeholder="请输入出生日期" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">婚姻状况：</label>
                                        <div class="col-sm-5">
                                            <input type="text" id="empMarriageText" class="form-control"
                                                   style="width: 78%;" placeholder="请输入婚姻状况" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">学历：</label>
                                        <div class="col-sm-5">
                                            <input type="text" id="empEducationText" class="form-control"
                                                   style="width: 78%;" placeholder="请输入学历" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">院校专业：</label>
                                        <div class="col-sm-5">
                                            <input type="text" id="collegeMajor" class="form-control"
                                                   style="width: 78%;" placeholder="请输入院校及专业" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">家庭住址：</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="empLocalAddress"
                                                   placeholder="请输入家庭住址" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">试用期限：</label>
                                        <div class="col-sm-5">
                                            <input type="text" style="vertical-align:middle;width:38%;"
                                                   class="form-control layer-date" name="trialBegin" placeholder="开始日期"
                                                   disabled/>
                                            <input type="text" style="vertical-align:middle;width:39%;"
                                                   class="form-control layer-date" name="trialEnd" placeholder="结束日期"
                                                   disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">到岗日期：</label>
                                        <div class="col-sm-5">
                                            <input type="text"
                                                   style="vertical-align:middle;max-width: 260px;"
                                                   class="form-control layer-date"
                                                   name="empExpectDate" placeholder="确定的拟到岗日期"
                                                   disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">录用部门：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="empDeptName" class="form-control"
                                                   style="width: 78%;" placeholder="请输入部门名称" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">职位：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="empProfessionName" class="form-control"
                                                   style="width: 78%;" placeholder="请输入职位名称" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5 style="font-weight:bold">人员薪资</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">试用期工资：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="trialSalary" class="form-control"
                                                   style="width: 78%;" placeholder="请输入试用期工资" number="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">职位工资：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="trialPost" class="form-control trial"
                                                   style="width: 78%;" placeholder="请输入试用期职位工资" number="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">绩效工资：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="trialPerformance" class="form-control trial"
                                                   style="width: 78%;" placeholder="请输入试用期绩效工资" number="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">其他工资：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="trialOther" class="form-control trial"
                                                   style="width: 78%;" placeholder="请输入试用期其他工资" number="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">转正工资：</label>
                                        <div class="col-sm-5">
                                            <input type="text" id="formalTotal" name="formalSalary" class="form-control"
                                                   style="width: 78%;" placeholder="请输入转正工资" number="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">职位工资：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="formalPost" class="form-control formal"
                                                   style="width: 78%;" placeholder="请输入转正职位工资" number="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">绩效工资：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="formalPerformance" class="form-control formal"
                                                   style="width: 78%;" placeholder="请输入转正绩效工资" number="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">其他工资：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="formalOther" class="form-control formal"
                                                   style="width: 78%;" placeholder="请输入转正其他工资" number="true" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5 style="font-weight:bold">印象评估</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal" id="impression">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">形象气质：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comFigure"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">沟通表达：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comCommunicate"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">应聘诚意：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comFaith"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">职业素质：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comQuality"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">工作经验：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comExperience"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">累计分值：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="comTotalScore" value="0"
                                                   style="width: 78%;" class="form-control" placeholder="上述五项累计分值"
                                                   maxlength="3" digits="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">评估建议：</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="comAdvice"
                                                      placeholder="请输入面试评估建议" maxlength="500"
                                                      special="true" style="resize:none;" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title">
                    <h5 style="font-weight:bold">能力评估</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal" id="ability">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">专业测试：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comFigure"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">仪容态度：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comCommunicate"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">领悟反应：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comFaith"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">职位能力：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comQuality"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">职位匹配度：</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="kv-fa rating-loading" name="comExperience"
                                                   data-size="xs" maxlength="3" digits="true" disabled/>
                                        </div>
                                        <label class="col-sm-1 control-label">累计分值：</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="comTotalScore" value="0"
                                                   style="width: 78%;" class="form-control" placeholder="上述五项累计分值"
                                                   maxlength="3" digits="true" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">意见：</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="comAdvice"
                                                      placeholder="请输入面试评估建议" maxlength="500"
                                                      special="true" style="resize:none;" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox-title">
                    <h5 style="font-weight:bold">审批意见</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">意见：</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="desc" placeholder="请输入审核意见"
                                                      maxlength="500" special="true" style="resize:none;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-title approveUser">
                    <h5 style="font-weight:bold">下一步审核</h5>
                </div>
                <div class="ibox-content approveUser">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label approveUser">审核人：</label>
                                        <div class="col-sm-4 layui-form">
                                            <input name="userName" type="hidden"/>
                                            <select name="userId" class="form-control height18"
                                                    lay-verify="" lay-search lay-filter="userId">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button type="button" class="btn btn-primary" id="agreeEmploy" onclick="completeApprove(0)">
                        <i class="fa fa-check"></i>&nbsp;&nbsp;同意
                    </button>
                    <button type="button" class="btn btn-danger" id="rejectEmploy" onclick="completeApprove(1)">
                        <i class="fa fa-close"></i>&nbsp;&nbsp;拒绝
                    </button>
                    <button type="button" class="btn btn-white" onclick="returnApprove()">
                        <i class="fa fa-backward"></i>&nbsp;&nbsp;返回
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>