<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title data-th-text="'未到款管理-业务员-'+${AppName}"></title>
    <!--<link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">-->
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/biz/statistics/business_manager_notIncome_user.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/crm/common_util.js"></script>
    <script type="text/javascript" src="/js/fee/commonFee.js"></script>
    <script type="text/javascript" src="/js/plugins/treeview/bootstrap-treeview.js"></script>
</head>
<body>
<div class="row" id="queryDiv">
    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom:-8px;">
            <div class="ibox-title">
                <h5 style="font-weight: bold">查询条件</h5>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <form id="queryForm">
                        <div class="form-group">
                            <!--                                <input type="hidden" id="companyCode" name="companyCode"/>-->
                            <!--                                <div id="deptDiv" class="hideForYWYG">-->
                            <!--                                    <div class="col-sm-1" style="text-align:center">-->
                            <!--                                        <input type="hidden" id="deptId" name="deptId" class="form-control">-->
                            <!--                                        <input type="text" id="chooseDeptName" class="form-control height18"-->
                            <!--                                               readonly="readonly" placeholder="业务部门"-->
                            <!--                                               style="width:120%">-->
                            <!--                                    </div>-->
                            <!--                                    <div class="col-sm-1" style="text-align:center">-->
                            <!--                                        <button type="button" class="btn btn-primary  glyphicon glyphicon-search"-->
                            <!--                                                id="selDept"></button>-->
                            <!--                                        <button type="button" class="btn btn-danger  glyphicon glyphicon-remove"-->
                            <!--                                                id="cleanDept"></button>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-sm-1 hideForYWYG">-->
                            <!--                                    <select name="businessUserId" id="businessUserId" class="form-control height18">-->
                            <!--                                    </select>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-sm-1 layui-form hideForYWYG">-->
                            <!--                                    <select lay-verify="" lay-search name="userId" id="userId"  lay-filter="userIds"-->
                            <!--                                            class="form-control height18">-->
                            <!--                                    </select>-->
                            <!--                                </div>-->

                            <div id ="deptDiv" style="display:none">
                                <div class="col-sm-2">
                                    <div class="input-group m-b" style="margin-bottom: 0">
                                        <input type="hidden" id="currentDeptId" name="currentDeptId" class="height18">
                                        <input type="text" id="deptName" class="form-control height18" readonly="readonly">
                                        <span class="input-group-addon btn btn-primary glyphicon glyphicon-search"
                                              style="top: 0px;border: 1px solid #1ab394;border-radius: 3px;background-color: #1ab394;color: #FFFFFF" id="selDept"
                                              data-toggle="tooltip" data-placement="top" data-html="true" title="选择部门"></span>
                                        <span class="input-group-addon btn btn-primary glyphicon glyphicon-remove"
                                              style="top: 0px;border: 1px solid #f8ac59;border-radius: 3px;background-color: #f8ac59;color: #FFFFFF" id="cleanDept"
                                              data-toggle="tooltip" data-placement="top" data-html="true" title="清除选择的部门"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 layui-form">
                                <select lay-filter="user" lay-search name="currentUserId" id="currentUserId" class="form-control height18">
                                </select>
                            </div>
                            <input type="hidden" name="type" value="3">
                            <div class="col-sm-1">
                                <select id="year" name="year" class="form-control">
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">开始月份：</label>
                            <div class="col-sm-1">
                                <select id="monthStart" name="monthStart" class="form-control">
                                    <option value="1">一月</option>
                                    <option value="2">二月</option>
                                    <option value="3">三月</option>
                                    <option value="4">四月</option>
                                    <option value="5">五月</option>
                                    <option value="6">六月</option>
                                    <option value="7">七月</option>
                                    <option value="8">八月</option>
                                    <option value="9">九月</option>
                                    <option value="10">十月</option>
                                    <option value="11">十一月</option>
                                    <option value="12">十二月</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">结束月份：</label>
                            <div class="col-sm-1">
                                <select id="monthEnd" name="monthEnd" class="form-control">
                                    <option value="12">十二月</option>
                                    <option value="11">十一月</option>
                                    <option value="10">十月</option>
                                    <option value="9">九月</option>
                                    <option value="8">八月</option>
                                    <option value="7">七月</option>
                                    <option value="6">六月</option>
                                    <option value="5">五月</option>
                                    <option value="4">四月</option>
                                    <option value="3">三月</option>
                                    <option value="2">二月</option>
                                    <option value="1">一月</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" id="querySearch" class="btn btn-primary">
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom:-8px;">
            <div class="ibox-content">
                <div class="form-horizontal" id="tj">
                    <div class="col-sm-3">
                        <label>业绩合计: ￥ </label><span id="saleSum" class="text-danger">0</span>
                    </div>
                    <div class="col-sm-3">
                        <label>利润合计: ￥ </label><span id="profitSum" class="text-danger">0</span>
                    </div>
                    <div class="col-sm-3">
                        <label>未到款合计: ￥ </label><span id="notIncomeSum" class="text-danger">0</span>
                    </div>
                    <div class="col-sm-3">
                        <label>逾期款合计: ￥ </label><span id="yqIncomeSum" class="text-danger">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <button id="exportBtn" class="btn btn-info" type="button">
                    <i class="glyphicon glyphicon-export"></i>&nbsp;导&nbsp;出&nbsp;
                </button>
            </div>
            <div id="notIncome" class="ibox-content" style="padding-left: 0px;padding-right: 0px;">
                <div class="jqGrid_wrapper">
                    <table id="query_table_logs"></table>
                    <div id="query_pager_logs"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--按年统计详情页-->
<div class="modal inmodal" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title"><span id="chooseYear"></span>年未到款详情</h4>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div id="detailDiv">
                        <form id="detailForm">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <input class="form-control" name="deptNameYear" placeholder="部门">
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control" name="userName" placeholder="业务员">
                                </div>
                                <input type="hidden" name="type">
                                <input type="hidden" name="year">
                                <input type="hidden" name="companyCode">
                                <div class="col-sm-1">
                                    <button type="button" id="detailSearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                                <div class="col-sm-1">
                                    <button id="exportDetailBtn" class="btn btn-info" type="button">
                                        <i class="glyphicon glyphicon-export"></i>&nbsp;导&nbsp;出&nbsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div class="row">
                            <div class="jqGrid_wrapper">
                                <table id="detail_table_log"></table>
                                <div id="detail_pager_log"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="position:relative;z-index:2;">
                <span>提示：如果业务员换过部门，清空部门筛选项才会显示该业务员的所有数据</span>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
<!--搜索条件选择部门-->
<div class="modal inmodal" id="deptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h1>选择业务部门</h1>
            </div>
            <div class="modal-body" style="padding: 0px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox" style="margin-bottom: 0">
                            <div class="ibox-content">
                                <div id="treeview"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭
                </button>
            </div>
        </div>
    </div>
</div>
</html>