<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title>建议查询</title>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" th:src="@{//js/propose/queryPropose.js(v=${version})}"></script>
    <!--<script type="text/javascript" src="/js/propose/queryPropose.js"></script>-->
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script>
        $(function () {
            //回车提交事件
            $('#queryForm').on('keypress', function (event) {
                if (event.keyCode == "13") {
                    $("#search").click();
                }
            });
            var startTimeQc = {
                elem: '#startTimeQc',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                // max: laydate.now(),//最大日期
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // endTime.min = datas; //开始日选好后，重置结束日的最小日期
                    // endTime.start = datas //将结束日的初始值设定为开始日
                    var startTime = $("#startTimeQc").val();
                    var endTime = $("#endTimeQc").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#startTimeQc").val("")
                        return;
                    }
                }
            };
            var endTimeQc = {
                elem: '#endTimeQc',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                // max: laydate.now(),
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // startTime.max = datas; //结束日选好后，重置开始日的最大日期
                    var startTime = $("#startTimeQc").val();
                    var endTime = $("#endTimeQc").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#endTimeQc").val("")
                        return;
                    }
                }
            };
            var startTime = {
                elem: '#startTime',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                // max: laydate.now(),//最大日期
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // endTime.min = datas; //开始日选好后，重置结束日的最小日期
                    // endTime.start = datas //将结束日的初始值设定为开始日
                    var startTime = $("#startTime").val();
                    var endTime = $("#endTime").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#startTime").val("")
                        return;
                    }
                }
            };
            var endTime = {
                elem: '#endTime',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                // max: laydate.now(),
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // startTime.max = datas; //结束日选好后，重置开始日的最大日期
                    var startTime = $("#startTime").val();
                    var endTime = $("#endTime").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#endTime").val("")
                        return;
                    }
                }
            };
            laydate(startTimeQc);
            laydate(endTimeQc);
            laydate(startTime);
            laydate(endTime);
        });
    </script>
    <style>
        textarea{
            resize: vertical;
        }
        .layui-select-title input{
            padding-left: 30px;
        }
    </style>
</head>
<body>
<!--查询条件-->
<form id="queryForm">
    <div class="ibox-title">
        <h4>查询条件</h4>
    </div>
    <div class="ibox-title col-md-12" style="display: table">
        <div class="form-group form-inline col-md-12" style="margin-bottom: 10px">
            <div class="col-md-3 form-group form-inline">
                <label class=" control-label right0">提出人:</label>
                <input type="text" id="userName" name="userName" autocomplete="off" class="form-control ">
            </div>
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">问题描述:</label>
                <input type="text" id="problem" name="problem" autocomplete="off" class="form-control">
            </div>
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">建议类型:</label>
                <select type="text" id="proposeTypeQc" name="proposeTypeQc" class="form-control" onchange = "queryProposeList()">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">状态:</label>
                <select type="text" id="proposeState" name="proposeState" class="form-control" onchange = "queryProposeList()">
                    <option value="">请选择</option>
                    <option value="0">未处理</option>
                    <option value="2">处理中</option>
                    <option value="1">已处理</option>
                    <option value="3">已确认</option>
                    <option value="4">已驳回</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline col-md-12" style="margin-bottom: 10px">
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">解决人:</label>
                <input type="text" id="handlePersonQc" name="handlePersonQc" autocomplete="off" class="form-control">
            </div>
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">录入时间:</label>
                <input placeholder="开始日期"style="width:120px;vertical-align: middle" autocomplete="off"
                       class="form-control layer-date laydate-icon " id="startTimeQc" name="startTimeQc">
                <input placeholder="结束日期" style="width:120px;vertical-align: middle" autocomplete="off"
                       class="form-control layer-date laydate-icon" id="endTimeQc" name="endTimeQc">
            </div>
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">解决时间:</label>
                <input placeholder="开始日期"style="width:120px;vertical-align: middle" autocomplete="off"
                       class="form-control layer-date laydate-icon " id="startTime" name="startTime">
                <input placeholder="结束日期" style="width:120px;vertical-align: middle" autocomplete="off"
                       class="form-control layer-date laydate-icon" id="endTime" name="endTime">
            </div>
            <div class="col-md-1 form-group form-inline">
                <button type="button" id="search" class="btn btn-primary">
                    <i class="fa fa-search"></i>&nbsp;查询
                </button>
            </div>
        </div>
        <div class="form-group form-inline col-md-12" style="margin-bottom: 10px">
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">年:&nbsp;&nbsp;</label>
                <select name="yearQc" class="form-control" onchange = "queryProposeList()">
                    <option value=""></option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                </select>
            </div>
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">月:&nbsp;&nbsp;</label>
                <select name="monthQc" class="form-control" onchange = "queryProposeList()">
                    <option value=""></option>
                    <option value="1">一月</option>
                    <option value="2">二月</option>
                    <option value="3">三月</option>
                    <option value="4">四月</option>
                    <option value="5">五月</option>
                    <option value="6">六月</option>
                    <option value="7">七月</option>
                    <option value="8">八月</option>
                    <option value="9">九月</option>
                    <option value="10">十月</option>
                    <option value="11">十一月</option>
                    <option value="12">十二月</option>
                </select>
            </div>
            <div class="col-md-3 form-group form-inline">
                <label class="control-label right0">处理结果:&nbsp;&nbsp;</label>
                <select name="handleResultQc" class="form-control" onchange = "queryProposeList()">
                    <option value=""></option>
                    <option value="1">已处理</option>
                    <option value="2">处理中</option>
                    <option value="3">指定给其他人</option>
                </select>
            </div>
        </div>
    </div>
</form>
<div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <button id="addBtn" class="btn btn-danger" type="button" style="margin-top: -7px">
                <i class="fa fa-plus"></i>&nbsp;新增
            </button>
            <a style="float: right" title="建议跳转制度链接" onclick="goToDocument()" href="javascript:void(0)"><img src="/img/question.png" style="width: 20px;height: 20px;"/></a>
        </div>
        <div class="tabs-container">
            <ul class="nav nav-tabs" id="tabList">
                <li class="active" id="tab0"><a data-toggle="tab" aria-expanded="true"><span
                        class="text-success">建议状态</span></a></li>
                <li class="" id="tab1"><a data-toggle="tab" aria-expanded="true"><span>未处理</span></a></li>
                <li class="" id="tab2"><a data-toggle="tab" aria-expanded="true"><span>处理中</span></a></li>
                <li class="" id="tab3"><a data-toggle="tab" aria-expanded="true"><span>已处理</span></a></li>
                <li class="" id="tab4"><a data-toggle="tab" aria-expanded="true"><span>已确认</span></a></li>
                <li class="" id="tab5"><a data-toggle="tab" aria-expanded="true"><span>已驳回</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="jqGrid_wrapper">
                    <table id="query_table_logs"></table>
                    <div id="query_pager_logs"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--处理建议-->
<div class="modal inmodal" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:800px">
            <div class="modal-header" style="line-height: 30px">
                <h4>处理建议</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="updateForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-top: 8px">
                                    <label class="col-sm-2 control-label">录入人:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="id">
                                        <input type="hidden" name="userId">
                                        <input type="hidden" name="state">
                                        <input type="hidden" name="itemId">
                                        <input type="text" id="name" name="name" placeholder="录入人" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">录入部门:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="deptId">
                                        <input type="text" id="deptName" name="deptName" placeholder="录入部门" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">录入时间:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="entryTime" name="entryTime" placeholder="录入时间" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">修改时间:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="updateTime" placeholder="修改时间" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">建议类型:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" id="adviceType" name="proposeType">
                                        <select id="proposeType" class="form-control" disabled="disabled">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                    <!--<label class="col-sm-1 control-label">处理时间:</label>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<input type="text" name="handleTime" id="handleTime" placeholder="处理时间" class="form-control "/>-->
                                    <!--</div>-->
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">问题描述:</label>
                                    <div class="col-sm-8">
                                        <textarea rows="6" cols="30" id="problemDescription" name="problemDescription" placeholder="问题描述" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label class="col-sm-2 control-label">期望的解决方案:</label>
                                    <div class="col-sm-8">
                                        <textarea rows="6" cols="30" id="expectSolution" name="expectSolution" placeholder="期望的解决方案" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">处理人:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="handlePerson" name="handlePerson" placeholder="处理人" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">处理结果<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <select id="handleResult2" name="handleResult" class="form-control" required onchange="handleChange()">
                                            <option value=""></option>
                                            <option value="1">已处理</option>
                                            <option value="2">处理中</option>
                                            <option value="3">指定给其他人</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="show">
                                        <label class="col-sm-1 control-label" style="margin-left: -6px;">指定人<span class="text-red">*</span>:</label>
                                        <div class="col-sm-2 layui-form" style="position: relative;padding-left: 0px;">
                                            <i class="fa fa-search" style="position: absolute;top: 13px;left: 12px;z-index: 1;"></i>
                                            <select lay-verify="" lay-search name="appointPerson" id="appointPerson" class="form-control">
                                                <option value="">请选择</option>
                                            </select>
                                            <span id="message" style="color: #7b1fa2;font-size: 14px"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">历史处理意见:</label>
                                    <div class="col-sm-8" id="showHistoryAdvice">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">详细处理意见<span class="text-red">*</span>:</label>
                                    <div class="col-sm-8">
                                        <textarea rows="6" cols="30" placeholder="详细处理意见" required id="handleAdvice4" name="handleAdvice" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <p style="color: burlywood;font-weight: bold;">注意：处理结果中的处理中是接收建议，待办并不会消除。</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary handle" id="handle" onclick="submitHander2(this,'/propose/handleAdvice',2)">
                                        <i class="fa fa-save"></i>&nbsp;处理
                                    </button>
                                    <button type="button" class="btn btn-danger backButton" id="cancel"
                                            data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--建议查看-->
<div class="modal inmodal" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:800px">
            <div class="modal-header" style="line-height: 30px">
                <h3 class="view">建议详情</h3>
                <h3 class="confirm">确认建议详情</h3>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="viewForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-top: 8px">
                                    <label class="col-sm-2 control-label">录入人:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="id" id="proposeId">
                                        <input type="hidden" name="userId">
                                        <input type="hidden" name="state" id="state">
                                        <input type="hidden" name="itemId">
                                        <input type="text" id="name3" name="name" placeholder="录入人" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">录入部门:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="deptId">
                                        <input type="text" id="deptName3" name="deptName" placeholder="录入部门" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">建议类型:</label>
                                    <div class="col-sm-2">
                                        <select id="proposeType3" name="proposeType" class="form-control" disabled="disabled">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">录入时间:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="entryTime3" name="entryTime" placeholder="录入时间" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">修改时间:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="updateTime3" name="updateTime" placeholder="修改时间" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">处理时间:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="handleTime" id="handleTime3" placeholder="处理时间" class="form-control "/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">问题描述:</label>
                                    <div class="col-sm-8">
                                        <textarea rows="6" cols="30" id="problemDescription3" name="problemDescription" placeholder="问题描述" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label class="col-sm-2 control-label">期望的解决方案:</label>
                                    <div class="col-sm-8">
                                        <textarea rows="6" cols="30" id="expectSolution3" name="expectSolution" placeholder="期望的解决方案" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">处理人:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="handlePerson3" name="handlePerson" placeholder="处理人" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label">处理结果<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <select id="handleResult3" name="handleResult"  class="form-control" required onchange="handleChange()">
                                            <option value=""></option>
                                            <option value="1">已处理</option>
                                            <option value="2">处理中</option>
                                            <option value="3">指定给其他人</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="showView" style="display: none;">
                                        <label class="col-sm-1 control-label">指定人:</label>
                                        <div class="col-sm-2">
                                            <select name="appointPerson" id="appointPerson3" class="form-control">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">历史处理意见:</label>
                                    <div class="col-sm-8" id="showHistoryAdvice3">

                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-2 control-label">详细处理意见:</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<textarea rows="6" cols="30" placeholder="详细处理意见" id="handleAdvice3" name="handleAdvice" class="form-control"></textarea>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary confirm" id="review" onclick="submitHander2(this,'/propose/confirmAdvice',0)">
                                        <i class="fa fa-save"></i>&nbsp;确认
                                    </button>
                                    <button type="button" class="btn btn-warning confirm" id="back" onclick="submitHander2(this,'/propose/confirmAdvice',3)">
                                        <i class="fa fa-reply"></i>&nbsp;驳回
                                    </button>
                                    <button type="button" class="btn btn-danger backButton" id="cancel2"
                                            data-dismiss="modal"><i class="fa fa-close"></i> 关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--添加修改建议信息-->
<div class="modal inmodal" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:620px">
            <div class="modal-header" style="line-height: 30px">
                <h3 class="save">添加建议</h3>
                <h3 class="update">修改建议</h3>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="savePropose" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-top: 8px">
                                    <input type="hidden" name="id" id="id">
                                    <label class="col-sm-2 control-label">录入人:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="userId" id ="userId2">
                                        <input type="text" id="name2" name="name" placeholder="录入人" class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">录入部门:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" name="deptId" id ="deptId2">
                                        <input type="text" id="deptName2" name="deptName" placeholder="录入部门" class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">建议类型<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <select id="proposeType2" name="proposeType" class="form-control" required>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">问题描述<span class="text-red">*</span>:</label>
                                    <div class="col-sm-8">
                                        <textarea rows="10" cols="30" id="problemDescription2" name="problemDescription" required placeholder="问题描述" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">期望的解决方案:</label>
                                    <div class="col-sm-8">
                                        <textarea rows="10" cols="30" id="expectSolution2" name="expectSolution" placeholder="期望的解决方案" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary save" id="add" onclick="submitHander3(this,'/propose/addPropose')">
                                        <i class="fa fa-save"></i>&nbsp;保存
                                    </button>
                                    <button type="button" class="btn btn-primary update" id="update" onclick="submitHander3(this,'/propose/modifyPropose')">
                                        <i class="fa fa-save"></i>&nbsp;保存
                                    </button>
                                    <button type="button" class="btn btn-danger backButton" id="cancel1"
                                            data-dismiss="modal"><i class="fa fa-close"></i> 关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>