<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title data-th-text="'流程管理-查询流程-'+${AppName}"></title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/need/laydate.css"/>
    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css"
          id="LayDateSkin"/>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <!--<script src="/js/media/media.js"></script>-->
    <script src="/js/media/addMedia.js"></script>
    <script src="/js/media/commonOperate.js"></script>

    <style type="text/css">
        #mediaType {
            padding: 10px;
            display: table;
        }

    </style>


</head>
<body>
<div class="ibox col-md-12">
    <div class="ibox-title col-md-12">
        <h3 class="box-title">媒体录入</h3>
    </div>
    <div class="ibox-content col-md-12" id="mediaType">

    </div>
    <div class="ibox-content col-md-12" style="background-color: #f5f9f4;">
       
    </div>
</div>
</body>
</html>