<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title data-th-text="'媒体管理-媒体审核-'+${AppName}"></title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/need/laydate.css"/>
    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css"
          id="LayDateSkin"/>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <!--<script src="/js/media/media.js"></script>-->

    <style type="text/css">
        #mediaType {
            padding: 10px;
            display: table;
        }
    </style>
    <script src="/js/media/auditMedia.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>

<div class="ibox col-md-12">
    <div class="ibox-title col-md-12">
        <h5>媒体审核 &nbsp;<i class="fa fa-angle-double-right"></i>
            &nbsp;<span class="text-danger " id="mediaTypeText"></span>
            <input type="hidden" id="mediaTypeVal">
        </h5>
    </div>
    <div class="ibox-content col-md-12" id="mediaType">

    </div>
    <div class="ibox-content col-md-12">
        <!--<form autocomplete="off" class="form-horizontal" action="/media" enctype="multipart/form-data" method="post">-->
        <form id="mf" autocomplete="off" class="form-horizontal" action="/media/update" method="post">
            <input type="hidden" id="mType" name="mType">
            <input type="hidden" id="id" name="id">
            <div id="mediaForm">
            </div>
            <div class="footer col-md-12" style="display: table;">
                <label class="col-sm-10  " style="text-align:left;color: #0000004a;font-size: 11px">说明：1、序号、更新责任人、更新责任人部门、修改日期、板块类型等字段是自动获取的;
                    2、前面标红星的是必填项;3、媒体名称、供应商名称、联系人必须填写，不能为空</label>
                <div class="col-sm-2">
                    <button class="btn btn-success" type="button" onclick="pass()">通过</button>
                    <button class="btn btn-warning" type="button" onclick="reject()">驳回
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
</body>

</html>