<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title data-th-text="'媒体管理-'+${AppName}"></title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <!-- iCheck -->
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/js/media/media_regist.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>

    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-htable thead th div {
            text-align: center !important;
        }

        #mediaTypeUL > li, #mediaTermUL > li {
            /*border-bottom: 1px dashed #DEDEDE;*/
            /*padding: 5px 5px 4px ;*/
            line-height: 35px;
            display: table;
        }

        #mediaTypeUL > li > div > span, #mediaTermUL > li > div > span {
            text-align: center;
        }

        #mediaTermUL {
            padding-top: 5px;
        }

        #mediaTermUL > li {
            border-bottom: 1px dashed #DEDEDE;

        }

        #mediaTermUL > li > div > span, #mediaTypeUL > li > div > span {
            /*color: #000000;*/
            cursor: pointer;
        }

        #mediaTermUL > li > div, #mediaTermUL > li > label {
            /*margin: 10px 0;*/
        }

        #mediaTypeUL > li > label, #mediaTermUL > li > label {
            /*background-color: #e0e0e0;*/
            text-align: right;
        }

        #mediaTypeUL > li > div > span:hover, #mediaTermUL > li > div > span:hover {
            color: red;
        }

        /*自定义按钮样式*/
        .option_button {
            width: 60px;
            float: left;
            margin-left: 10px;
            display: block;
            background: rgb(24, 144, 255);
            color: white;
            border-width: 1px;
            border-radius: 4px;
        }

        .font-red {
            color: red;
        }
    </style>

    <script>

        $(function () {
            //加载时间控件
            var createStart = {
                elem: '#validEnd',
                format: 'YYYY/MM/DD',
                istime: true,
                istoday: false
            };
            laydate(createStart);

            /*!//加载时间控件
            var createStart = {
                elem: '#createStart',
                format: 'YYYY/MM/DD',
                istime: true,
                istoday: false
            };
            laydate(createStart);
            createStart.elem = '#validEnd';
            laydate(createStart);*/

        });
    </script>

</head>

<body>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>媒体登记</h5>
                </div>
                <ul id="mediaTypeUL" class="ibox-title col-md-12">
                    <li class="col-md-12">
                        <label class="col-md-1">媒体类型：</label>
                        <div class="col-md-11">
                        </div>
                    </li>
                </ul>
                <ul id="mediaRegistUL" class="ibox-content col-md-12">

                </ul>
                <!--<div class="ibox-content">
                    &lt;!&ndash;<h4 class="m-t">媒体查询</h4>&ndash;&gt;
                    <div class="jqGrid_wrapper">
                        <table id="table_medias"></table>
                        <div id="pager_medias"></div>
                    </div>
                </div>-->

                <form id="fmRegist">
                    <div id="content">
                        <form id="cust">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                                        <div class="ibox-title">
                                            <h5 style="font-weight: bold">板块特有</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">资源类别筛选:</label>
                                                    <div class="col-sm-2">
                                                        <select name="n1" class="form-control height18">
                                                            <option value="1">全部</option>
                                                            <option value="2">特别推荐号</option>
                                                            <option value="3">公司独家签约号</option>
                                                            <option value="3">常用媒体号</option>
                                                            <option value="3">水号</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-1 control-label right0">媒体类型:</label>
                                                    <div class="col-sm-2">
                                                        <select name="n2" class="form-control height18">
                                                            <option value="1">全部</option>
                                                            <option value="2">特别推荐号</option>
                                                            <option value="3">公司独家签约号</option>
                                                            <option value="3">常用媒体号</option>
                                                            <option value="3">水号</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-1 control-label right0">地区:</label>
                                                    <div class="col-sm-2">
                                                        <select name="n3" class="form-control height18">
                                                            <option value="1">全部</option>
                                                            <option value="2">北京</option>
                                                            <option value="3">上海</option>
                                                            <option value="3">广州</option>
                                                            <option value="3">深圳</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-1 control-label">价格有效期间：</label>
                                                    <div class="col-sm-2">
                                                        <input placeholder="有效期止"
                                                               style="float:left;width:40%;margin-left:0"
                                                               class="form-control layer-date" id="validEnd"
                                                               name="validEnd">
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">账号介绍:</label>
                                                    <div class="col-sm-11">
                                                        <input type="textarea" name="projectName"
                                                               class="form-control height18">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">账号名称<span
                                                            class="font-red">*</span>:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="area" class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">ID:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="experience"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">粉丝数:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="publicMedium"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">历史头条阅读量:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="throwDitch"
                                                               class="form-control height18">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">撰稿发布:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="area" class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">头条刊例价:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="experience"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">次条刊例价:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="publicMedium"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">其他刊例价:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="throwDitch"
                                                               class="form-control height18">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">撰稿价格:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="area" class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">折扣率:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="experience"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">是否500强:</label>
                                                    <div class="col-sm-2">
                                                        <select name="n4" class="form-control height18">
                                                            <option value="1">是</option>
                                                            <option value="2">否</option>
                                                        </select>
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">是否750以上指数:</label>
                                                    <div class="col-sm-2">
                                                        <select name="n5" class="form-control height18">
                                                            <option value="1">是</option>
                                                            <option value="2">否</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                                        <div class="ibox-title">
                                            <h5 style="font-weight: bold">公共信息</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">姓名<span
                                                            class="font-red">*</span>:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" id="custName"
                                                               onblur="CustOption.custNameRepeat()" name="custName"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">部门:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="department"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">负责项目:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="fproject"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">职位:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="job" class="form-control height18">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <!--<label class="col-sm-1 control-label right0">客户级别:</label>-->
                                                    <!--<div class="col-sm-2">-->
                                                        <!--<select name="custLevel" class="form-control height18">-->
                                                            <!--<option value="1">VIP客户</option>-->
                                                            <!--<option value="2">会员客户</option>-->
                                                            <!--<option value="3">普通客户</option>-->
                                                        <!--</select>-->
                                                    <!--</div>-->

                                                    <label class="col-sm-1 control-label right0">客户状态:</label>
                                                    <div class="col-sm-2">
                                                        <select name="status" class="form-control height18">
                                                            <option value="0">有效</option>
                                                            <option value="1">待开发</option>
                                                            <option value="2">流失</option>
                                                        </select>
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">客户类型:</label>
                                                    <div class="col-sm-2">
                                                        <select name="custType" class="form-control height18">
                                                            <option value="1">大型客户</option>
                                                            <option value="2">中型客户</option>
                                                            <option value="3">小型客户</option>
                                                        </select>
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">负责人:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" data-th-value="${session.user.userName}"
                                                               class="form-control height18" readonly="readonly">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">性格:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="kidney" class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">年龄:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="age" class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">家庭:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="home" class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">专业程度:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="professionLevel"
                                                               class="form-control height18">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">文化:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="cultural"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">爱好:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="hobby" class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">长相:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="looks" class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">之前所在的公司:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="oldCompany"
                                                               class="form-control height18">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">成交详情:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="successDetail"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">意向度:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="likeLevel"
                                                               class="form-control height18">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">是否重复:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" id="repeatFlag" name="repeatFlag1"
                                                               class="form-control height18" readonly="readonly">
                                                    </div>

                                                    <label class="col-sm-1 control-label right0">联系方式:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" name="connectionType"
                                                               class="form-control height18">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-1 control-label right0">上传头像:</label>
                                                    <div class="col-sm-2">
                                                        <input type="file" name="file" class="form-control height18">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                                        <div class="ibox-title">
                                            <h5 style="font-weight: bold">提交</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-horizontal">

                                                <div class="form-group">
                                                    <!--<label class="col-sm-1 control-label right0"></label>-->
                                                    <!--<div class="col-sm-2">-->
                                                    <!--</div>-->
                                                    <!--<label class="col-sm-1 control-label right0"></label>-->
                                                    <!--<div class="col-sm-2">-->
                                                    <!--</div>-->
                                                    <!--<label class="col-sm-1 control-label right0"></label>-->
                                                    <!--<div class="col-sm-2">-->
                                                    <!--</div>-->
                                                    <label class="col-sm-10 control-label right0"
                                                           style="text-align:left;color: #0000004a;">说明：1、序号、更新责任人、更新责任人部门、修改日期、板块类型等字段是自动获取的，
                                                        2、深色底色的输入框中是所有版块共有的字段</label>
                                                    <div class="col-sm-2">
                                                        <input type="button" class="form-control height18 option_button"
                                                               value="保存" onclick="CustOption.submitCust()">
                                                        <input type="button" class="form-control height18 option_button"
                                                               value="返回" onclick="location.href = '/crm/custom_list'">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>

</html>
