<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>临时稿件管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/media/queryImportMJ.js"></script>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script>
        $(function () {
            var startTime = {
                elem: '#startTime',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    endTime.min = datas; //开始日选好后，重置结束日的最小日期
                    endTime.start = datas //将结束日的初始值设定为开始日
                }
            };
            var endTime = {
                elem: '#endTime',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    startTime.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            var createstartTime = {
                elem: '#createstartTime',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    createendTime.min = datas; //开始日选好后，重置结束日的最小日期
                    createendTime.start = datas //将结束日的初始值设定为开始日
                }
            };
            var createendTime = {
                elem: '#createendTime',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    createstartTime.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(startTime);
            laydate(endTime);
            laydate(createstartTime);
            laydate(createendTime);

            Views.loadParentMediaType("mType");
        })
    </script>
</head>
<body>
<div>
    <form id="queryForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label right0">媒体板块:</label>
                                <div class="col-sm-2">
                                    <select name="mType" class="form-control height18">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">标题:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="title" name="title" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label">供应商名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="supplierName" name="supplierName" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label">供应商联系人:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="supplierContactor" name="supplierContactor" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">媒体:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="mediaName" name="mediaName" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label">业务员:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="userName" name="userName" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label">媒介:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="mediaUserName" name="mediaUserName" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label">录入人:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="createName" name="createName" class="form-control">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">链接:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="link" name="link" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label">价格类型:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="priceType" name="priceType" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label">发布时间:</label>
                                <div class="col-sm-3" style="min-width:240px;">
                                    <input placeholder="开始日期" style="width:31%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="startTime" name="startTime">
                                    <input placeholder="结束日期" style="width:31%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="endTime" name="endTime">
                                </div>
                            </div>
                                <div class="form-group">
                                <label class="col-sm-1 control-label">导入时间:</label>
                                <div class="col-sm-3" style="min-width:240px;">
                                    <input placeholder="开始日期" style="width:31%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="createstartTime" name="createstartTime">
                                    <input placeholder="结束日期" style="width:31%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="createendTime" name="createendTime">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="querySearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="col-sm-8">
                        <button id="exportTemplate" class="btn btn-warning glyphicon glyphicon-export" type="button">&nbsp;导出模板
                        </button>
                        <button id="importBtn" class="btn btn-primary glyphicon glyphicon-import" type="button">&nbsp;批量导入
                        </button>
                        <button id="exportArticle" class="btn btn-success" type="button">
                            <i class="glyphicon glyphicon-export"></i>&nbsp;导出选中
                        </button>
                        <button id="exportAll" class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-export"></i>&nbsp;导出全部
                        </button>
                        <button id="batchDelBtn" class="btn btn-danger glyphicon glyphicon-trash" type="button">&nbsp;批量删除
                        </button>
                    </div>
                    <div  class="col-sm-4" id="tj">
                        <label>成本合计:￥</label><span id="payAmountSum" class="text-danger">0</span>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="query_table_logs"></table>
                        <div id="query_pager_logs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/articleImport/exportArticleMJ" method="post" id="exportForm">
    <input name="datas" type="hidden">
</form>
<!--批量导入稿件-->
<div class="modal inmodal" id="importModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form id="importForm" class="form-horizontal" action="" type="post" enctype="multipart/form-data">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">批量导入稿件</h4>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">上传excel:</label>
                                    <div class="col-sm-10">
                                        <a id="" href="">
                                            <span id="affixName"></span>
                                        </a>
                                        <input type="file" id="file" name="file" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="submitHander(this,'/articleImport/batchOrder')">批量导入
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--查看页面-->
<div class="modal inmodal" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title ">查看临时稿件信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="viewForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id1" name="id1" class="form-control">
                                <div class="form-group update">
                                    <label class="col-sm-1 control-label">板块类型<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="mediaTypeName1" name="mediaTypeName" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">供应商名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="supplierName1" name="supplierName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">供应商联系人<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="supplierContactor1" name="supplierContactor" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">媒体名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="mediaName1" name="mediaName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">业务员<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="userName1" name="userName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">媒介<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="mediaUserName1" name="mediaUserName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">标题<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="title1" name="title" class="form-control" required=""
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">链接<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="link1" name="link" class="form-control" required=""
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">发布日期:</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="发布日期" name="issuedDate" id="issuedDate1"
                                               class="form-control layer-date laydate-icon"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" required=""
                                               readonly="readonly"/>
                                    </div>
                                    <label class="col-sm-2 control-label">数量<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="num1" name="num" class="form-control" required=""
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">价格类型<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="priceType1" name="priceType" class="form-control" required=""
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">应付金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="payAmount1" name="payAmount" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">备注:</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" id="remark1" name="remark" class="form-control"
                                                  readonly="readonly"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div id="auditFalse" class="">
                                        <button type="button" class="btn btn-white" id="cancel1" data-dismiss="modal">
                                            关闭
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--编辑页面-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title ">修改临时稿件信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="editForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id2" name="id" class="form-control">
                                <div class="form-group update">
                                    <label class="col-sm-1 control-label">板块类型<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="mediaTypeName2" name="mediaTypeName" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">供应商名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="supplierName2" name="supplierName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">供应商联系人<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="supplierContactor2" name="supplierContactor" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">媒体名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="mediaName2" name="mediaName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">业务员<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="userName2" name="userName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">媒介<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="mediaUserName2" name="mediaUserName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">标题<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="title2" name="title" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">链接<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="link2" name="link" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">发布日期:</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="发布日期" name="issuedDate" id="issuedDate2"
                                               class="form-control layer-date laydate-icon"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" required=""/>
                                    </div>
                                    <label class="col-sm-2 control-label">数量<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="num2" name="num" class="form-control" required="">
                                    </div>
                                    <label class="col-sm-2 control-label">价格类型<span class="text-red">*</span>:</label>
                                    <div id="priceTypeDiv" class="col-sm-2">
                                        <select class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">应付金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="payAmount2" name="payAmount" class="form-control" required="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">备注:</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" id="remark2" name="remark" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary " id="save" onclick="submitHander2(this,'/articleImport/edit')" >修改</button>
                                    <button type="button" class="btn btn-white" id="cancel" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--选择客户账号-->
<div class="modal inmodal" id="custModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="wrapper wrapper-content  animated fadeInRight">
                    <form id="custForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                                    <div class="ibox-title">
                                        <h5 style="font-weight: bold">查询条件</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">客户公司名称:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="companyNameQc1" name="companyName"
                                                           class="form-control">
                                                </div>
                                                <label class="col-sm-2 control-label">客户联系人名称:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="custNameQc1" name="custName"
                                                           class="form-control">
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button" id="custSearch" class="btn btn-primary">
                                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5></h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="jqGrid_wrapper">
                                        <table id="select_cust_table_logs"></table>
                                        <div id="select_cust_pager_logs"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="selectSupplier">选择</button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <a onfocus="this.blur();" download="稿件导入失败详情.txt" id="createInvote" class="ipt-todo hide" ></a>
</div>
</body>
</html>