<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>媒体供应商信息</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/media/supplier_edit.js"></script>

    <style>
        .height25 {
            height: 23px;
        }

        .font-red {
            color: red;
        }

        .right0 {
            margin-right: -23px;
        }

        .option_button {
            width: 60px;
            float: left;
            margin-left: 10px;
            display: block;
            background: rgb(24, 144, 255);
            color: white;
            border-width: 1px;
            border-radius: 4px;
        }

        .c {
            width: 95%;
            overflow: hidden;
        }

    </style>

    <script>
        var SupplierOption = {
            supplierId: getQueryString("supplierId"),
            supplierName: getQueryString("supplierName"),
            contactor: getQueryString("contactor"),
            mediaTypeId: getQueryString("mediaTypeId"),
            op: getQueryString("op"),
            //回显供应商信息
            showDetail: function () {
                $("#id").val(SupplierOption.supplierId);
                var id = SupplierOption.supplierId;
                $.ajax({
                    url: baseUrl + "/supplier/get",
                    type: "get",
                    data: {id: id},
                    success: function (resData) {
                        for (var o in resData.data.supplier) {
                            var v = resData.data.supplier[o] || "";
                            $("[name=" + o + "]").val(v);
                        }
                    }
                });
            },
            //添加供应商信息
            submitSupplier: function (url) {

                if ($("#repeatFlag").val() == "是") {
                    layer.alert("保存失败：【供应商名称+联系人】已经存在或【供应商联系人+电话】已经存在或【供应商联系人+QQ微信】已经存在，不能重复，请重新输入！");
                    $("#contactor").focus();
                } else {
                    var id = $("#id").val();
                    console.log($("#id").val())
                    var url = "/supplier/add";
                    if (id.length > 0) {
                        url = "/supplier/edit";
                    }
                    if ($("#supplier").valid()) {
                        startModal("#saveBtn");//锁定按钮，防止重复提交
                        $("#mediaTypeId").removeAttr("disabled");    //提交前移除媒体板块类型的disabled属性
//                        var formData = new FormData($("#supplier")[0]);
                        var data = $("#supplier").serializeJson();
                        $.ajax({
                            url: url,
                            type: 'post',
//                            data: formData,
                            data: JSON.stringify(data),
                           // async: false,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (returndata) {
                                Ladda.stopAll() ;
                                layer.alert(returndata.data.message);
                                setTimeout(function () {
                                        var fs = parent.frames;
                                        var currrentTabUrl = $(".J_menuTab.active", window.top.document).attr("data-id");
                                        // 刷新数据；
                                        for (var i = 0; i < fs.length; i++) {
                                            if (parent.frames[i].reloadSupplierData && currrentTabUrl.indexOf("supplier_manage") > 0) {
                                                parent.frames[i].reloadSupplierData();
                                                parent.layer.closeAll();
                                            }
                                            if (parent.frames[i].loadSupplierData && currrentTabUrl.indexOf("addMedia") > 0) {
                                                parent.frames[i].loadSupplierData();
                                                parent.layer.closeAll();
                                            }
                                        }
                                        parent.layer.close();
                                    }
                                    , 2000);
                            },
                            error: function (returndata) {
                                Ladda.stopAll() ;
                                layer.alert(returndata.msg);
                            }
                        });
                    }

                }
            },
            //判断供应商是否重复
            supplierNameRepeat: function () {
                var supplierName = SupplierOption.supplierName;
                if (supplierName == null)
                    supplierName = $("#supplierName").val();
                var contactor = $("#contactor").val();
                var phone = $("#phone").val();
                var qqwechat = $("#qqwechat").val();
                $.ajax({
                    url: baseUrl + '/supplier/repeat',
                    type: 'post',
                    data: {supplierName: supplierName,
                        contactor: contactor,
                        mediaTypeId: $("#mediaTypeId").val(),
                        phone: phone,
                        qqwechat:qqwechat
                    },
                    async: true,
                    success: function (returndata) {
                        if (returndata.data.repeatResult) {
                            $("#repeatFlag").val("是");
                            // $(".isrepeat").css({border: "1px solid red"});
                            // $("#contactor").focus();
                            // $("#tips").text("供应商名称+联系人：已经存在，不能重复，请重新输入！")
                            //layer.alert("供应商名称+联系人：已经存在，不能重复，请重新输入！");
                            swal("【供应商名称+联系人】已经存在或【供应商联系人+电话】已经存在或【供应商联系人+QQ微信】已经存在，不能重复，请重新输入！")

                        } else {
                            $("#repeatFlag").val("否");
                            // $(".isrepeat").css({border: "1px solid #e5e6e7"});
                            // $("#tips").text("");
                        }
                    },
                    error: function (returndata) {
                        layer.alert(returndata.msg);
                    }
                });
            },
            //     selectOne:function(){
            //         $.ajax({
            //             url: baseUrl+"/dockingPeople/selectOne",
            //             type: "POST",
            //             data: {id: SupplierOption.supplierId},
            //             success: function(data){
            //                 for(var o in data){
            //                     $("[name="+o+"]").val(data[o]);
            //                 }
            //                 if(data.photo && (CustOption.op == "edit" || CustOption.op == "ck")){
            //                     $("#picGroup").append("<img src="+data.photo+" style=\"width:120px;height:120px;\"/>");
            //                 }
            //             }
            //         });
            //     }
        };
        $().ready(function () {
            $("#mediaTypeId").val(SupplierOption.mediaTypeId);
            var e = "<i class='fa fa-times-circle'></i> ";
            $("#supplier").validate({
                rules: {
                    name: {required: !0, minlength: 1, maxlength: 255},
                    contactor: {required: !0, minlength: 1, maxlength: 50},
                    // product: {required: !0, minlength: 1, maxlength: 255},
                    // companyBuild: {required: !0, minlength: 1, maxlength: 255},
                    // projectName: {required: !0, minlength: 1, maxlength: 255},
                    // transmissionGoal: {required: !0, minlength: 1, maxlength: 255},
                    // custName: {required: !0, minlength: 1, maxlength: 50},
                    // age: {digits: true, min: 1, max: 120},
                    // age1: {digits: true, min: 1, max: 120},
                    // throwCount: {digits: true, min: 0},
                    //phone: {digits: true, minlength: 11, maxlength: 11}
                    qqwechat:{required: !0}
                },
                messages: {
                    name: {required: e + "请输入供应商名称", minlength: e + "供应商名称长度必须大于{0}", maxlength: e + "供应商长度必须小于{0}"},
                    contactor: {required: e + "请输入联系人", minlength: e + "联系人长度必须大于{0}", maxlength: e + "联系人长度必须小于{0}"},
                    // product: {required: e + "请输入产品", minlength: e + "产品长度必须大于{0}", maxlength: e + "产品长度必须小于{0}"},
                    // companyBuild: {required: e + "请输入公司结构", minlength: e + "公司结构长度必须大于{0}", maxlength: e + "公司结构长度必须小于{0}"},
                    // projectName: {required: e + "请输入项目名称", minlength: e + "项目名称长度必须大于{0}", maxlength: e + "项目名称长度必须小于{0}"},
                    // transmissionGoal: {required: e + "请输入传播目的", minlength: e + "传播目的长度必须大于{0}", maxlength: e + "传播目的长度必须小于{0}"},
                    // custName: {required: e + "请输入对接人名称", minlength: e + "对接人名称的长度必须大于{0}", maxlength: e + "对接人名称长度必须小于{0}"},
                    // age: {digits: e + "请输入数字", min: e + "年龄最小是{0}", max: e + "年龄最大是{0}"},
                    // age1: {digits: e + "请输入数字", min: e + "年龄最小是{0}", max: e + "年龄最大是{0}"},
                    // throwCount: {digits: e + "请输入数字", min: e + "投放量最小是{0}"},
                    //phone: {digits: e + "请输入数字", min: e + "电话号码长度为{0}位"}
                    qqwechat:{required: e+"请输入联系QQ\微信"}
                }
            });

            // //编辑页面
            if (SupplierOption.op == "edit") {
//                $("#baseInfo").append("<input type='text' style='display:none' id='id' name='id' value=" + SupplierOption.supplierId + ">")
                $("#id").val(SupplierOption.supplierId );
                $("#saveButton").attr("onclick", "SupplierOption.submitSupplier('/supplier/edit')");
            } else if (SupplierOption.op == "create") {
                $("#grid_accounts").css("display", "none");
                // $("input").css("border","none");
                // $("select").css("border","none");
            }
        });
    </script>

</head>

<body>

<div id="content">
    <form id="supplier">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">基本信息</h5>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="tips" style="color:red"></span>
                    </div>
                    <div class="ibox-content" style="padding-bottom: 1px;  height: 80%;">
                        <div class="form-horizontal" id="baseInfo">
                            <input type="hidden" id="id" name="id">
                            <input type="hidden" id="creator" data-th-value="${session.user.userName}">
                            <input type="hidden" id="repeatFlag" name="repeatFlag">
                            <div class="form-group">
                                <label class="col-sm-2 control-label right0"><span
                                        class="text-red"> * </span>媒体版块:</label>
                                <div class="col-sm-2">
                                    <select id="mediaTypeId" name="mediaTypeId" placeholder="媒体版块" data-value="0"
                                            class="form-control" required="">
                                        <option value="">请选择媒体版块</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label right0"><span
                                        class="text-red"> * </span>供应商公司名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="supplierName" name="name"
                                           onblur="SupplierOption.supplierNameRepeat()"
                                           class="form-control height18 isrepeat">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label right0">供应商备注:</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" name="desc"></textarea>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-sm-2 control-label right0"><span class="font-red">*</span>联系人:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="contactor" name="contactor"
                                           class="form-control height18 isrepeat">
                                </div>

                                <label class="col-sm-2 control-label right0">联系电话:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="phone" class="form-control height18">
                                </div>

                                <label class="col-sm-2 control-label right0"><span
                                        class="text-red"> * </span>联系QQ/微信:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="qqwechat" class="form-control height18">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label right0">联系人备注:</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" name="contactorDesc"></textarea>
                                </div>
                            </div>

                            <!--<div id="saveOrClose" class="form-group" style="width:100%;text-align:center">-->
                            <!--<div style="margin-left: 50%">-->
                            <!--<div style="margin-left:-90px;">-->
                            <!--<input type="button" id="saveButton" class="form-control height18 option_button" value="保存" onclick="SupplierOption.submitSupplier()">-->
                            <!--<input type="button" class="form-control height18 option_button" value="关闭" onclick="parent.layer.closeAll()">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="ibox-content" style="padding: 6px" id="grid_accounts">
                        <!--<h4 class="m-t">账号查询</h4>-->
                        <div class="jqGrid_wrapper">
                            <table id="table_accounts"></table>
                            <div id="pager_accounts"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div style="position: fixed;bottom:0px;width: 100%;padding: 5px" class="text-center col-md-12 bg-info row">
        <button class="btn btn-success" onclick="SupplierOption.submitSupplier()" id="saveBtn"><i class="fa fa-save"></i> 保存</button>
        &emsp;&emsp;&emsp;&emsp;<button class="btn btn-danger backButton" onclick="parent.layer.closeAll()"><i
            class="fa fa-close"></i> 取消
    </button>
    </div>
</div>
</body>

</html>
