<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>提成管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/fee/queryCommission.js"></script>
    <script type="text/javascript" src="/js/fee/commonFee.js"></script>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/process/approveTask.js"></script>
    <link rel="stylesheet" href="/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css"/>
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/plugins/treeview/bootstrap-treeview.js"></script>
    <script>
        $(function () {
            //回车提交事件
            $('#queryDiv').on('keypress', function (event) {
                if (event.keyCode == "13") {
                    $("#querySearch").click();
                }
            });
            $('#selectedArticleDiv').on('keypress', function (event) {
                if (event.keyCode == "13") {
                    $("#selectedArticleSearch").click();
                }
            });

            var publishStartTime = {
                elem: '#publishStartTime',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    publishEndTime.min = datas; //开始日选好后，重置结束日的最小日期
                    publishEndTime.start = datas //将结束日的初始值设定为开始日
                }
            };
            var publishEndTime = {
                elem: '#publishEndTime',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    publishStartTime.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(publishStartTime);
            laydate(publishEndTime);

            $("#articleModal").draggable();
        });
    </script>
</head>
<body>
<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                <div class="ibox-title">
                    <h5 style="font-weight: bold">查询条件</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal" id="queryDiv">
                        <form id="queryForm">
                            <div class="form-group">
                                <!--用于查询：公司部门选择整个公司或者集团时，该值有效-->
                                <div id="deptDiv" style="display:none">
                                    <div class="col-sm-1" style="text-align:center">
                                        <input type="hidden" id="deptId" name="deptId" class="form-control">
                                        <input type="text" id="chooseDeptName" class="form-control height18"
                                               readonly="readonly" placeholder="业务部门"
                                               style="width:120%">
                                    </div>
                                    <div class="col-sm-2" style="text-align:center">
                                        <button type="button" class="btn btn-primary  glyphicon glyphicon-search"
                                                id="selDept"></button>
                                        <button type="button" class="btn btn-danger  glyphicon glyphicon-remove"
                                                id="cleanDept"></button>
                                    </div>
                                </div>
                                <div class="col-sm-2 layui-form">
                                    <select lay-verify="" lay-search name="userId" id="userId"  lay-filter="users"
                                            class="form-control height18">
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <select id="yearQc" name="year" class="form-control">
                                        <option value="">提成年</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <select id="monthQc" name="month" class="form-control">
                                        <option value="">提成月</option>
                                        <option value="1">一月</option>
                                        <option value="2">二月</option>
                                        <option value="3">三月</option>
                                        <option value="4">四月</option>
                                        <option value="5">五月</option>
                                        <option value="6">六月</option>
                                        <option value="7">七月</option>
                                        <option value="8">八月</option>
                                        <option value="9">九月</option>
                                        <option value="10">十月</option>
                                        <option value="11">十一月</option>
                                        <option value="12">十二月</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="querySearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div>
                    <div class="ibox-title" id="showFowCW">
                        <button id="addBtn" class="btn btn-danger" type="button">
                            <i class="glyphicon glyphicon-plus"></i>&nbsp;管理上个月提成
                        </button>
                        <button id="confirmAll" class="btn btn-info" type="button" onclick="confirmOprate()">
                            <i class="fa fa-check"></i>&nbsp;批量发起确认
                        </button>
                        <button id="exportAll" class="btn btn-primary showForCWBZ" type="button">
                            <i class="glyphicon glyphicon-export"></i>&nbsp;导出列表
                        </button>
                    </div>
                    <div>
                        <div class="jqGrid_wrapper">
                            <table id="query_table_logs"></table>
                            <div id="query_pager_logs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  提成稿件详情 -->
<div class="modal inmodal" id="articleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title save">提成详情</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="commForm" class="form-horizontal" action="" method="post">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">姓名:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" id="userId1" name="userId">
                                        <input type="text" id="name" name="name" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">部门:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="deptName" name="deptName" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">年:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="year" name="year" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">月:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="month" name="month" class="form-control"
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">报价:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="sale" name="sale" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">进账:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="income" name="income" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">成本:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="outgo" name="outgo" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">退款:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="refund" name="refund" class="form-control"
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">其他支出:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="otherExpense" name="otherExpense" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">税额:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="taxExpense" name="taxExpense" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">利润:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="profit" name="profit" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">提成:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="comm" name="comm" class="form-control"
                                               readonly="readonly">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                                <div class="ibox-title">
                                    <h5 style="font-weight: bold">已登记的稿件</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-horizontal" id="selectedArticleDiv">
                                        <form id="selectedArticleForm">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">发布日期:</label>
                                                <div class="col-sm-3" style="min-width:280px;">
                                                    <input placeholder="开始日期" style="width:48%;vertical-align: middle"
                                                           class="form-control layer-date laydate-icon "
                                                           id="publishStartTime"
                                                           name="publishStartTime">
                                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                                           class="form-control layer-date laydate-icon "
                                                           id="publishEndTime"
                                                           name="publishEndTime">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" name="custCompanyName"
                                                           class="form-control" placeholder="客户公司">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" name="custName"
                                                           class="form-control" placeholder="联系人">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" name="mediaName"
                                                           class="form-control" placeholder="媒体">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" name="mediaUserName"
                                                           class="form-control" placeholder="媒介">
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <label class="col-sm-1 control-label">稿件标题:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" name="title" class="form-control">
                                                </div>

                                                <div class="col-sm-1">
                                                    <button type="button" id="selectedArticleSearch"
                                                            class="btn btn-primary">
                                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                    </button>
                                                </div>
                                                <button id="exportRegister" class="btn btn-success" type="button">
                                                    <i class="glyphicon glyphicon-export"></i>&nbsp;导出已登记
                                                </button>
                                            </div>
                                            <input type="hidden" name="commissionStates" value="2">
                                            <input type="hidden" id="userId2" name="userId">
                                            <input type="hidden" id="year2" name="year">
                                            <input type="hidden" id="month2" name="month">
                                        </form>
                                    </div>
                                </div>
                                <div class="jqGrid_wrapper">
                                    <table id="selected_article_table_logs"></table>
                                    <div id="selected_article_pager_logs"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--审核流程详情-->
<div class="modal inmodal" id="historyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">审核流程详情</h4>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div>
                        <div class="row">
                            <div id="history" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="incomeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h1 class="modal-title">进账信息</h1>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div class="jqGrid_wrapper">
                        <table id="incomeTable"></table>
                        <div id="incomePager"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger backButton" id="cancel2"
                        data-dismiss="modal"><i class="fa fa-close"></i> 关闭
                </button>
            </div>
        </div>
    </div>
</div>
<!--搜索条件选择部门-->
<div class="modal inmodal" id="deptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h5 class="modal-title">部门信息</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>选择部门</h5>
                                    <div class="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">
                                    <div id="treeview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>