<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title >退稿流水管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/fee/commonFee.js"></script>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/process/approveTask.js"></script>
    <link rel="stylesheet" href="/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" />
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/plugins/treeview/bootstrap-treeview.js"></script>
    <script th:src="@{//js/fee/queryDrop.js(v=${version})}"></script>
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script>
        $(function () {
            //回车提交事件
            $("body").keydown(function (evt) {
                evt = (evt) ? evt : ((window.event) ? window.event : "");
                var curKey = evt.keyCode ? evt.keyCode : evt.which;
                if (curKey == 13) {//keyCode=13是回车键
                    $("#articleSearch").click();
                    $("#querySearch").click();
                    $("#supplierSearch").click();
                }
            });
            var applyStartTime = {
                elem: '#applyStartTime',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                // max: laydate.now(),//最大日期
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // applyEndTime.min = datas; //开始日选好后，重置结束日的最小日期
                    // applyEndTime.start = datas //将结束日的初始值设定为开始日
                    var startTime = $("#applyStartTime").val();
                    var endTime = $("#applyEndTime").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#applyStartTime").val("")
                        return;
                    }
                }
            };
            var applyEndTime = {
                elem: '#applyEndTime',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                // max: laydate.now(),
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // applyStartTime.max = datas; //结束日选好后，重置开始日的最大日期
                    var startTime = $("#applyStartTime").val();
                    var endTime = $("#applyEndTime").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#applyEndTime").val("")
                        return;
                    }
                }
            };

            laydate(applyStartTime);
            laydate(applyEndTime);

            var startTime = {
                elem: '#startTime',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                // max: laydate.now(),//最大日期
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // endTime.min = datas; //开始日选好后，重置结束日的最小日期
                    // endTime.start = datas //将结束日的初始值设定为开始日
                    var startTime = $("#startTime").val();
                    var endTime = $("#endTime").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#startTime").val("")
                        return;
                    }
                }
            };
            var endTime = {
                elem: '#endTime',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                // max: laydate.now(),
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // startTime.max = datas; //结束日选好后，重置开始日的最大日期
                    var startTime = $("#startTime").val();
                    var endTime = $("#endTime").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#endTime").val("")
                        return;
                    }
                }
            };

            laydate(startTime);
            laydate(endTime);

            loadMJByMediaType("#mediaNameIdQc");
            loadTypeByUserId("media_type_id");
            $( "#editModal" ).draggable();

            layui.use(["form"], function () {
                layui.form.render();

                //稿件退稿
                layui.form.on('checkbox(isOldSupplier)', function(data){
                    var param = {
                        supplierNameQc: $("#supplierNameQc1").val(),
                        supplierContactorQc: $("#supplierContactorQc1").val(),
                    };
                    //判断是否选中
                    if(data.elem.checked){
                        param["isOldSupplier"] = 1;
                    }else {
                        delete param["isOldSupplier"];
                    }
                    $("#select_supplier_table_logs").emptyGridParam();
                    $("#select_supplier_table_logs").jqGrid('setGridParam', {
                        datatype: "json",
                        postData: param, //发送数据
                    }).trigger("reloadGrid"); //重新载入
                    layui.form.render('checkbox');
                });
            });
        });
    </script>
    <style type="text/css">
        .companyWrap {
            border: 1px solid #eeeeee;
            width: 95.6%;
            height: 212px;
            position: absolute;
            top: 34px;
            background-color: white;
            z-index: 999;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .companyNameItem {
            border-bottom: 1px solid #eeeeee;
            width: 100%;
            height: 30px;
            float: left;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0 12px;
        }
        .companyNameItem:hover{
            background-color: #DFF0D8;
        }

        .companyNameItem > span{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .text-green {
            color: #18a689;
        }
        .companyPanelCancel {
            display: none;
        }
    </style>
</head>
<div>
    <form id="queryForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">申请日期:</label>
                                <div class="col-sm-2" style="min-width:240px;">
                                    <input placeholder="开始日期"style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon " id="applyStartTime" name="applyStartTime" readonly="readonly">
                                    <!--<span style="display:inline-block;padding:0 1px;">至</span>-->
                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="applyEndTime" name="applyEndTime" readonly="readonly">
                                </div>
                                <div class="col-sm-1">
                                    <select class="form-control" name="companyCode" id="companyCode2">
                                        <option value="">公司</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="applyNameQc1" name="applyName" class="form-control" placeholder="申请人">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="titleQc1" name="title" class="form-control" placeholder="退稿标题">
                                </div>
                                <div class="col-sm-1">
                                    <select class="form-control" name="state">
                                        <option value="">状态</option>
                                        <option value="-1">已驳回</option>
                                        <option value="0">已保存</option>
                                        <option value="2">出款中</option>
                                        <option value="12">确认中</option>
                                        <option value="3">审核中</option>
                                        <option value="1">已完成</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="supplierNameQc" name="supplierName" class="form-control" placeholder="供应商名称">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="supplierContactoruser" name="supplierContactor" class="form-control" placeholder="联系人">
                                </div>
                                <input type="hidden" id="companyCode1" name="companyCode"/>
                                <div id ="deptDiv" style="display:none">
                                    <div class="col-sm-1" style="text-align:center">
                                        <input type="hidden" id="deptId1" name="deptId" class="form-control">
                                        <input type="text" id="chooseDeptName" class="form-control height18" readonly="readonly"
                                               style="width:120%" placeholder="申请部门">
                                    </div>
                                    <div class="col-sm-1" style="text-align:center">
                                        <button type="button" class="btn btn-primary  glyphicon glyphicon-search"
                                                id="selDept"></button>
                                        <button type="button" class="btn btn-danger  glyphicon glyphicon-remove"
                                                id="cleanDept"></button>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="querySearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button id="addBtn" class="btn btn-primary " type="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;新增退稿</button>
                </div>
                <div>
                    <div class="jqGrid_wrapper">
                        <table id="query_table_logs"></table>
                        <div id="query_pager_logs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增编辑查看页面-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content animated bounceInRight" style="height:100%">
            <div class="modal-header " style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h6 class="modal-title">退稿信息</h6>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs " id="navTabs">
                            <li class="active firstDiv"><a data-toggle="tab" id="firstStep" href="#firstDiv" aria-expanded="true">第一步选择供应商</a>
                            </li>
                            <li class="secondDiv"><a data-toggle="tab" id="secondStep" href="#secondDiv" aria-expanded="false">第二步选择稿件</a>
                            </li>
                            <li class="thirdDiv"><a data-toggle="tab" id="thirdStep" href="#thirdDiv" aria-expanded="false">第三步完善退稿信息</a>
                            </li>
                        </ul>
                        <div class="tab-content " >
                            <div id="firstDiv" class="tab-pane form-horizontal active"  style="margin-top:18px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ibox ">
                                            <div class="form-horizontal">
                                                <div class="form-group" >
                                                    <label class="col-sm-1 control-label">供应商公司名称:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" id="supplierNameQc1" name="supplierNameQc" class="form-control" >
                                                    </div>
                                                    <label class="col-sm-1 control-label">联系人:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" id="supplierContactorQc1" name="supplierContactor" class="form-control" >
                                                    </div>
                                                    <div class="col-sm-3 layui-form">
                                                        <button type="button" id="supplierSearch" class="btn btn-primary" style="margin-right: 15px;">
                                                            <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                        </button>

                                                        <input type="checkbox" id="isOldSupplier" name="isOldSupplier" value="1" title="历史稿件退稿" lay-skin="primary" lay-filter="isOldSupplier"/>
                                                        <span style="color: #0a6aa1;font-size: 10px;" title="说明：历史稿件退稿，针对于媒体供应商标准化之前的稿件，当勾选复选框后，列表展示的仅为历史供应商，选择后无需进行供应商公司名称标准和联系人规范校验。" class="glyphicon glyphicon-question-sign"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="jqGrid_wrapper">
                                                    <table id="select_supplier_table_logs"></table>
                                                    <div id="select_supplier_pager_logs"></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary " id="selectSupplier">下一步</button>
                                                <button type="button" class="btn btn-danger" id="cancelSupplier" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="secondDiv" class="tab-pane form-horizontal"  style="margin-top:18px;">
                                <div class="row" >
                                    <form id="secondForm">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">发布日期:</label>
                                                <div class="col-sm-2">
                                                    <input placeholder="开始日期" style="width:49%;vertical-align: middle"
                                                           class="form-control layer-date laydate-icon " id="startTime"
                                                           name="startTime">
                                                    <input placeholder="结束日期" style="width:49%;vertical-align: middle"
                                                           class="form-control layer-date laydate-icon " id="endTime" name="endTime">
                                                </div>
                                                <label class="col-sm-1 control-label">媒体板块:</label>
                                                <div class="col-sm-1">
                                                    <select class="form-control" id="media_type_id" name="media_type_id">
                                                    </select>
                                                </div>
                                                <label class="col-sm-1 control-label" style="padding-left: 0px;">业务员所属公司:</label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="companyCode" name="companyCode">
                                                    </select>
                                                </div>
                                                <div class="col-sm-1">
                                                    <input type="hidden" id="mediaUserNameQc" name="mediaUserName" class="form-control" >
                                                    <select lay-verify="" lay-search name="mediaNameId" id="mediaNameIdQc"
                                                            class="form-control height18">
                                                        <option value="">媒介姓名</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-1">
                                                    <input type="text" id="mediaNameQc" name="mediaName" class="form-control" placeholder="媒体" >
                                                </div>
                                                <div class="col-sm-1">
                                                    <input type="text" id="titleQc" name="title" class="form-control" placeholder="标题">
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button" id="articleSearch" class="btn btn-primary">
                                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <h3>已请款未开票未回款未提成未烂账的稿件列表</h3>
                                            <div class="text-right">
                                                <label>报价合计:￥</label>
                                                <span id="saleSum2"  class="text-danger">0</span>
                                                <label style="margin-left: 52px">请款合计:￥</label>
                                                <span id="outgoSum2"  class="text-danger">0</span>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="jqGrid_wrapper">
                                                <table id="select_article_table_logs"></table>
                                                <div id="select_article_pager_logs"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" id="flagEdit" name="flagEdit" >
                                                <input type="hidden" id="supplierIdSec" name="supplierIdSec" >
                                                <input type="hidden" id="supplierNameSec" name="supplierNameSec" >
                                                <input type="hidden" id="supplierContactorSec" name="supplierContactorSec" >
                                                <input type="hidden" id="articleIdsSec" name="articleIdsSec" >
                                                <button type="button" class="btn btn-primary " id="backStepOne">上一步</button>
                                                <button type="button" class="btn btn-primary " id="selectArticle">下一步</button>
                                                <button type="button" class="btn btn-white" id="cancelArticle" data-dismiss="modal">关闭</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="thirdDiv" class="tab-pane form-horizontal"  style="margin-top:18px;">
                                <form id="editForm" class="form-horizontal" action="" method="post">
                                    <div class="row" >
                                        <div class="col-sm-12">
                                            <input type="hidden" id="id" name="id" class="form-control">
                                            <input type="hidden" id="flag" name="flag" class="form-control">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">编号<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="code" name="code"  class="form-control"  required="" readonly="readonly">
                                                </div>
                                                <label class="col-sm-1 control-label">供应商名称<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="hidden" id="supplierId" name="supplierId"    class="form-control" >
                                                    <input type="text" id="supplierName" name="supplierName"    class="form-control"  required="" readonly="readonly">
                                                </div>
                                                <label class="col-sm-1 control-label">联系人<span class="text-red">*</span>:</label>
                                                <div class="col-sm-1">
                                                    <input type="text" id="supplierContactor" name="supplierContactor"    class="form-control"  required="" readonly="readonly">
                                                </div>
                                                <label class="col-sm-1 control-label">电话<span class="text-red">*</span>:</label>
                                                <div class="col-sm-1">
                                                    <input type="text" id="supplierPhone" name="supplierPhone"    class="form-control"  required="" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">退稿标题<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="title" name="title"    class="form-control"  required="">
                                                </div>
                                                <label class="col-sm-1 control-label">申请人<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="applyName" name="applyName"    class="form-control"  readonly="readonly">
                                                </div>
                                                <label class="col-sm-1 control-label">所在部门<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="deptName" name="deptName"    class="form-control"  readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">关联的请款备用金<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="fundAmount" name="fundAmount"    class="form-control"  readonly="readonly">
                                                </div>
                                                <label class="col-sm-1 control-label">退还备用金<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="payAmount" name="payAmount"  onkeyup="value=value.replace(/[^\d\.\-]/g,'')"   class="form-control" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">备注:</label>
                                                <div class="col-sm-11">
                                                    <textarea id="remark" name="remark" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <input type="hidden" id="accountId" name="accountId">
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div>
                                            <h3>删除的稿件详情</h3>
                                            <div class="text-right">
                                                <label>报价合计:￥</label>
                                                <span id="saleSum"  class="text-danger">0</span>
                                                <label style="margin-left: 52px;">请款合计:￥</label>
                                                <span id="outgoSum"  class="text-danger">0</span>
                                            </div>
                                        </div>
                                        <div class="jqGrid_wrapper">
                                            <table id="selected_article_table_logs"></table>
                                            <div id="selected_article_pager_logs"></div>
                                        </div>
                                    </div>
                                    <!--taskId如果是null，则是第一次提交，taskId有值，则表示是驳回后提交，走的审核流程不一样-->
                                    <input type="hidden" id="taskId" name="taskId">
                                    <div class="modal-footer" id="thirdFoot">
                                        <input type="hidden" id="state" name="state" value="0">
                                        <input type="hidden" name="companyCode" >
                                        <input type="hidden" name="type">
                                        <button type="button" class="btn btn-success save" id ="save" onclick="submitHander(this,'/drop/edit',0)" >保存</button>
                                        <button type="button" class="btn btn-primary update" id="update" onclick="submitHander(this,'/drop/edit',4)" >提交审核</button>
                                        <button type="button" class="btn btn-white" id="cancel" data-dismiss="modal">关闭</button>
                                    </div>
                                    <div class="modal-footer" id="viewFoot">
                                        <div id="auditTrue" align="center" class="">
                                            <button type="button" class="btn btn-info" id="showHistory1" onclick="showHistory($('#showHistory1').data('id'))"  >审核详情</button>
                                            <button type="button" class="btn btn-success " id="pass1" onclick="pass(this)" >审核通过</button>
                                            <button type="button" class="btn btn-danger " id="reject1" onclick="reject(this)" >审核驳回</button>
                                            <button type="button" class="btn btn-primary" onclick="goBackProcess()">
                                                <i class="fa fa-reply"></i>&nbsp;返回
                                            </button>
                                        </div>
                                        <div id="auditFalse" class="">
                                            <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal">
                                                <i class="fa fa-close"></i>&nbsp;&nbsp;关闭
                                            </button>
                                            <button type="button" id="goback" class="btn btn-danger" onclick="goBackHtml()">
                                                <i class="fa fa-reply"></i>&nbsp;返回
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--审核流程详情-->
<div class="modal inmodal" id="historyModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content animated bounceInRight" >
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">审核流程详情</h4>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div>
                        <div class="row">
                            <div id="history" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="position:relative;z-index:2;">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--搜索条件选择部门-->
<div class="modal inmodal" id="deptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h5 class="modal-title">部门信息</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>选择部门</h5>
                                    <div class="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">
                                    <div id="treeview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--供应商编辑-->
<div class="modal fade" id="mediaSupplierEditModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 1000px">
        <div class="modal-content" style="display: flex;flex-direction: column;height: 420px;">
            <!--标题-->
            <div style="border-bottom: 1px solid #EEEEEE;height: 50px;width: 100%;display: flex;align-items: center;justify-content:center;font-size: 20px;">
                供应商编辑
            </div>
            <!--内容-->
            <div style="border: 0px solid red;flex: 1;width: 100%;padding-top: 10px;overflow: hidden;">
                <!--记录修改前的联系人标准状态，不能由规范改为非标准-->
                <input type="hidden" id="oldStandarCompanyFlag">
                <!--记录修改前的联系人规范状态，不能由规范改为非规范-->
                <input type="hidden" id="oldStandarPhoneFlag">
                <form autocomplete="off" class="form-horizontal layui-form" method="post" style="width: 100%;height: 100%;display: flex;flex-direction: column;">
                    <!--供应商公司-->
                    <div style="border: 0px solid red;width: 100%;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-red">*</span>供应商性质:</label>
                            <div class="col-sm-8">
                                <label class="control-label" style="font-size: 20px;margin-top: -5px;">企业供应商</label>
                                <input type="hidden" name="id"/>
                                <input type="hidden" id="oldSupplierNature" name="oldSupplierNature"/>
                                <input type="hidden" id="oldCompanyName" name="oldCompanyName"/>
                                <input type="hidden" id="oldContactor" name="oldContactor"/>
                                <input type="hidden" name="supplierNature" value="0"/>
                                <button onclick="companyObj.natureClick(this, 0);" type="button" class="btn btn-info companyBtnCls">&nbsp;企业供应商&nbsp;
                                </button>&nbsp;&nbsp;
                                <button onclick="companyObj.natureClick(this, 1);" type="button" class="btn btn-white personBtnCls">&nbsp;个体供应商&nbsp;
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <span class="text-red">*</span>供应商公司名称:
                            </label>
                            <div class="col-sm-8" style="position: relative;">
                                <input type="text" placeholder="请输入关键字(公司名、注册号或社会统一信用代码)搜索" class="form-control" name="name" autocomplete="off" required oninput="companyObj.search(this);" onblur="companyObj.checkCompany(this);" onkeydown="companyObj.enterEvent(this, event);" onmouseout="companyObj.mourseOut(this);" onmouseover="companyObj.mourseOver(this);"/>
                                <div class="companyWrap companyPanelCancel" onmouseover="companyObj.mourseOver(this);" onmouseout="companyObj.mourseOut(this);">

                                </div>
                            </div>

                            <div class="col-sm-2" style="padding-top: 9px;">
                                <input type="hidden" name="standarCompanyFlag" value="0"/>
                                <span data-toggle="tooltip" data-placement="left" data-html="true" title="供应商登记根据性质分为企业供应商和个体供应商，选择企业供应商时，供应商公司名称有标准类型和非标类型，选择个体供应商时，供应商名称默认为个体工商户">
                                <i class="fa fa-question-circle"></i>
                                </span>
                                <span class="companyTipsYes" style="display:none">
                                    <span class="text-green">
                                        &nbsp;<i class="fa fa-check-circle"></i>
                                        &nbsp;标准
                                    </span>
                                </span>
                                <span class="companyTipsNo" style="display:none">
                                    <span class="text-red">
                                        &nbsp;<i class="fa fa-times-circle"></i>
                                        &nbsp;非标准
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="text-red">*</span>联系人:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="contactor" required/>
                            </div>
                            <label class="col-sm-2 control-label"><span class="text-red">*</span>手机号:</label>
                            <div class="col-sm-3">
                                <input type="text" maxlength="11" class="form-control" name="phone" required oninput="companyObj.checkPhone(this);"/>
                            </div>
                            <div class="col-sm-2" style="padding-top: 9px;">
                                <input type="hidden" name="standarPhoneFlag" value="0">
                                <span data-toggle="tooltip" data-placement="left" data-html="true" title="联系人规范，采用通用手机号校验规则来校验">
                                            <i class="fa fa-question-circle"></i>
                                        </span>
                                <span class="phoneTipsYes" style="display:none">
                                            <span class="text-green">
                                                &nbsp;<i class="fa fa-check-circle"></i>
                                                &nbsp;规范
                                            </span>
                                        </span>
                                <span  class="phoneTipsNo" style="display:none">
                                            <span class="text-red">
                                                &nbsp;<i class="fa fa-times-circle"></i>
                                                &nbsp;不规范
                                            </span>
                                        </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">微信号:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="qqwechat"/>
                            </div>
                            <label class="col-sm-2 control-label">QQ号:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="qq"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注:</label>
                            <div class="col-sm-8">
                                <textarea class="layui-textarea" style="min-height: 50px;" name="contactorDesc"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--底部按钮-->
            <div style="border: 0px solid red;height: 50px;width: 100%;display: flex;align-items: center;justify-content:center;font-size: 20px;background-color: #7F7F7F;">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-close"></i>&nbsp;关闭
                </button>
                &nbsp;&nbsp;
                <button id="editSupplierBtn" type="button" class="btn btn-success" onclick="supplierEditObj.editSupplier(this);">
                    <i class="fa fa-save"></i>&nbsp;编辑
                </button>
            </div>
        </div>
    </div>
</div>
</body>

</html>