<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>进款流水管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/fee/queryIncome.js"></script>
    <script type="text/javascript" src="/js/fee/commonFee.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css"/>
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script>
        $(function () {
            $('#queryDiv').on('keypress', function (event) {
                if (event.keyCode == "13") {
                    $("#querySearch").click();
                }
            });
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            layui.use('form', function () {
                var form = layui.form;
                $.ajax({
                    type: "get",
                    url: "/user/queryDeptUsers",
                    data: {deptId: user.deptId},
                    dataType: "json",
                    success: function (data) {
                        var html = "<option value=''></option>";
                        for (var i = 0; i < data.length; i++) {
                            html += "<option value='" + data[i].id + "' >" + data[i].name + "</option>";
                        }
                        $("#name").append(html);
                        form.render();
                    }
                })
            });
            var startTimeQc = {
                elem: '#startTimeQc',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                // max: laydate.now(),//最大日期
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // endTimeQc.min = datas; //开始日选好后，重置结束日的最小日期
                    // endTimeQc.start = datas //将结束日的初始值设定为开始日
                    var startTime = $("#startTimeQc").val();
                    var endTime = $("#endTimeQc").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#startTimeQc").val("")
                        return;
                    }
                }
            };
            var endTimeQc = {
                elem: '#endTimeQc',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                // max: laydate.now(),
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // startTimeQc.max = datas; //结束日选好后，重置开始日的最大日期
                    var startTime = $("#startTimeQc").val();
                    var endTime = $("#endTimeQc").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#endTimeQc").val("")
                        return;
                    }
                }
            };

            laydate(startTimeQc);
            laydate(endTimeQc);
            $("#editModal").draggable();
            $("#viewModal").draggable();
            $("#confirmModal").draggable();
        });
    </script>
</head>
<body>
<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                <div class="ibox-title">
                    <h5 style="font-weight: bold">查询条件</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal" id="queryDiv">
                        <form id="queryForm">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">进款日期:</label>
                                <div class="col-sm-2" style="min-width:240px;">
                                    <input placeholder="开始日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="startTimeQc"
                                           name="startTimeQc" readonly="readonly">
                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="endTimeQc" name="endTimeQc" readonly="readonly">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="codeQc" name="codeQc" class="form-control" placeholder="进账编号">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="accountNameQc" name="accountNameQc" class="form-control" placeholder="账号名称">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="tradeManQc" name="tradeManQc" class="form-control" placeholder="进款人">
                                </div>
                                <div class="col-sm-1">
                                    <select id="levelQc" name="levelQc" class="form-control">
                                        <option value="">等级</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <select id="commissionStates" name="commissionStates" class="form-control">
                                        <option value="">领款状态</option>
                                        <option value="1">可领款</option>
                                        <option value="0">不可领款</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="tradeAmountmoney" name="tradeAmountQc" class="form-control" placeholder="进账金额">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="unclaimedAmount" name="unclaimedAmount" class="form-control" placeholder="未领金额">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="querySearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title" id="showFowCW">
                    <button id="addBtn" class="btn btn-primary" type="button"><i
                            class="glyphicon glyphicon-plus"></i>&nbsp;新增进账
                    </button>&nbsp;&nbsp;
                    <button id="exportTemplate" class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-export"></i>&nbsp;导出模板
                    </button>&nbsp;&nbsp;
                    <button id="importBtn" class="btn btn-warning" type="button">
                        <i class="glyphicon glyphicon-import"></i>&nbsp;批量导入
                    </button>&nbsp;&nbsp;
                    <button id="exportBtn" class="btn btn-info" type="button">
                        <i class="glyphicon glyphicon-export"></i>&nbsp;导出
                    </button>
                </div>
                <div>
                    <div class="jqGrid_wrapper">
                        <table id="query_table_logs"></table>
                        <div id="query_pager_logs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增编辑页面-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title save">新增进账流水信息</h4>
                <h4 class="modal-title update">更改进账流水信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="editForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id" name="id" class="form-control">
                                <input type="hidden" id="creator" name="creator" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">编号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="code" name="code" class="form-control" required="">
                                    </div>
                                    <label class="col-sm-2 control-label">账号名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3 layui-form">
                                        <select lay-filter="test" lay-verify="" lay-search name="accountId"
                                                style="margin-top:30px;z-index:-1" class="form-control height18"
                                                required="">
                                        </select>
                                        <input type="hidden" id="selected" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">进款人名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeMan" name="tradeMan" class="form-control"
                                               required="">
                                    </div>
                                    <!--<label class="col-sm-2 control-label">进款人账户<span class="text-red">*</span>:</label>-->
                                    <!--<div class="col-sm-3">-->
                                    <!--<input type="text" id="tradeBank" name="tradeBank" class="form-control"-->
                                    <!--required="">-->
                                    <!--</div>-->
                                    <label class="col-sm-2 control-label">进款日期<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="进款日期" name="tradeTime" id="tradeTime"
                                               class="form-control layer-date laydate-icon"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD', max: laydate.now()})"
                                               required="" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">进款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeAmount" name="tradeAmount" class="form-control"
                                               onkeyup="value=value.replace(/[^\d\.\-]/g,'')" required="">
                                    </div>
                                    <label class="col-sm-2 control-label">级别<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio" value="A" name="level"/>&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="radio" value="B" name="level"/>&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="radio" value="C" name="level"/>&nbsp;C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2"><span class="text-red">级别说明：A级：仅财务可见；B级：财务和业务部长和组长可见，业务员不可见，C级：所有人可见。</span>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                <!---->
                                <!--<label class="col-sm-2 control-label">可见天数<span class="text-red">*</span>:</label>-->
                                <!--<div class="col-sm-3">-->
                                <!--<input type="text" id="visiableDay" name="visiableDay" value="7"-->
                                <!--class="form-control"-->
                                <!--onkeyup="this.value=this.value.toString().match(/^\d+(?:\.\d{0,2})?/)">-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success save" id="save"
                                            onclick="submitHander(this,'/income/add')"><i class="fa fa-save"></i>&nbsp;保存
                                    </button>
                                    <button type="button" class="btn btn-success update" id="update"
                                            onclick="submitHander(this,'/income/edit')"><i class="fa fa-save"></i>&nbsp;修改
                                    </button>
                                    <button type="button" class="btn btn-danger backButton" id="cancel"
                                            data-dismiss="modal"><i class="fa fa-close"></i> &nbsp;关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--查看页面-->
<div class="modal inmodal" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="fa fa-refresh" id="refresh" style="margin-left: 20px; margin-top: 20px;cursor: pointer" title="刷新"></div>
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">查看进账流水信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="viewForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id1" name="id1" class="form-control">
                                <input type="hidden" id="refreshId" name="refreshId" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">编号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="code1" name="code1" class="form-control"
                                               readonly="readonly" required="">
                                    </div>
                                    <label class="col-sm-1 control-label">账号名称:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="accountName1" name="accountName1" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">账号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="bankNo1" name="bankNo1" class="form-control"
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">进款人名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeMan1" name="tradeMan1" class="form-control"
                                               readonly="readonly">
                                    </div>
                                    <!--<label class="col-sm-1 control-label">进款人账户<span class="text-red">*</span>:</label>-->
                                    <!--<div class="col-sm-3">-->
                                    <!--<input type="text" id="tradeBank1" name="tradeBank1" class="form-control"-->
                                    <!--readonly="readonly">-->
                                    <!--</div>-->
                                    <label class="col-sm-1 control-label">进款日期:</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="进款日期" name="tradeTime1" id="tradeTime1"
                                               class="form-control layer-date laydate-icon"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"
                                               disabled="disabled"/>
                                    </div>
                                    <label class="col-sm-1 control-label">进款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeAmount1" name="tradeAmount1" class="form-control"
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">未领金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="unclaimedAmount1" name="unclaimedAmount1"
                                               class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">已领金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="preclaimedAmount1" name="preclaimedAmount1"
                                               class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">级别<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio" value="A" name="level1" disabled="disabled"/>&nbsp;A&nbsp;&nbsp;&nbsp;
                                            <input type="radio" value="B" name="level1" disabled="disabled"/>&nbsp;B&nbsp;&nbsp;&nbsp;
                                            <input type="radio" value="C" name="level1" disabled="disabled"/>&nbsp;C&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                <!---->
                                <!--<label class="col-sm-1 control-label">可见天数<span class="text-red">*</span>:</label>-->
                                <!--<div class="col-sm-3">-->
                                <!--<input type="text" id="visiableDay1" name="visiableDay1" class="form-control"-->
                                <!--readonly="readonly">-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="form-group hide" id="hideOnC">
                                    <label class="col-sm-1 control-label">业务员<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3 layui-form">
                                        <select lay-verify="" lay-search name="name" id="name"
                                                style="margin-top:30px;z-index:-1" class="form-control height18">

                                        </select>
                                    </div>
                                    <label class="col-sm-1 control-label">分款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="amount" name="amount" class="form-control"
                                               placeholder="请输入领款金额" onkeyup="value=value.replace(/[^\d\.\-]/g,'')">
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-primary" id="dispatchIncome">分配领款</button>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <h3>领款详情</h3>
                                    </div>
                                    <div class="jqGrid_wrapper">
                                        <table id="income_user_table_logs"></table>
                                        <div id="income_user_pager_logs"></div>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <h3>分款详情</h3>
                                    </div>
                                    <div class="jqGrid_wrapper">
                                        <table id="selected_article_table_logs1"></table>
                                        <div id="selected_article_pager_logs1"></div>
                                        <!--<input type="hidden" name="selectedIds" id="selectIds">-->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger backButton" id="cancel2"
                                            data-dismiss="modal"><i class="fa fa-close"></i> 关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--领款model-->
<div class="modal inmodal" id="receiveModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="btn btn-danger backButton" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only"><i class="fa fa-close"></i>&nbsp; 关闭</span>
                </button>
                <h4 class="modal-title">领款信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="receiveForm" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">进款金额:</label>
                                    <div class="col-sm-6">
                                        <input type="hidden" id="id2" name="id2" class="form-control">
                                        <input type="text" id="tradeAmount2" name="tradeAmount2" class="form-control"
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">可领金额:</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="unclaimedAmount2" name="unclaimedAmount2"
                                               class="form-control" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">领款金额:</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="preclaimedAmount2" name="preclaimedAmount2"
                                               class="form-control" placeholder="请输入领款金额"
                                               onkeyup="value=value.replace(/[^\d\.\-]/g,'')">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="receive">领款</button>
                                    <button type="button" class="btn btn-white" id="cancelReceive" data-dismiss="modal">
                                        关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!--选择银行账号-->
<div class="modal inmodal" id="accountModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="wrapper wrapper-content  animated fadeInRight">
                    <form id="innerAccount">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                                    <div class="ibox-title">
                                        <h5 style="font-weight: bold">查询条件</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">账户名称:</label>
                                                <div class="col-sm-2 ">
                                                    <input type="text" id="nameQc" name="nameQc" class="form-control">
                                                </div>
                                                <label class="col-sm-1 control-label">账号:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="bankNoQc" name="bankNoQc"
                                                           class="form-control">
                                                </div>
                                                <label class="col-sm-1 control-label">公司名称:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="companyNameQc" name="companyNameQc"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">开户行:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="bankNameQc" name="bankNameQc"
                                                           class="form-control">
                                                </div>
                                                <label class="col-sm-1 control-label">开户行支行:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="bankNameDetailQc" name="bankNameDetailQc"
                                                           class="form-control">
                                                </div>
                                                <label class="col-sm-1 control-label">联系人:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="ownerQc" name="ownerQc" class="form-control">
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button" id="accountSearch" class="btn btn-primary">
                                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5></h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="jqGrid_wrapper">
                                        <table id="account_table_logs"></table>
                                        <div id="account_pager_logs"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="selectAccount">选择</button>
                                    <button type="button" class="btn btn-white" id="cancelAccount" data-dismiss="modal">
                                        关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--批量导入进账-->
<div class="modal inmodal" id="importModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form id="importForm" class="form-horizontal" action="" type="post" enctype="multipart/form-data">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header" style="padding: 15px;">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">批量导入进账</h4>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">上传excel:</label>
                                    <div class="col-sm-10">
                                        <a id="" href="">
                                            <span id="affixName"></span>
                                        </a>
                                        <input type="file" id="file" name="file" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="batchImport"
                            onclick="handleImport(this,'/income/importIncome')">
                        批量导入
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="display:none">
    <a onfocus="this.blur();" download="导入失败详情.txt" id="createInvote" class="ipt-todo hide">进账导入失败详情</a>
</div>
</body>

</html>