<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title>借款管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script src="/js/plugins/html2pdf/renderPDF.js"></script>
    <script type="text/javascript" src="/js/fee/commonFee.js"></script>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/process/approveTask.js"></script>
    <link rel="stylesheet" href="/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" />
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/plugins/treeview/bootstrap-treeview.js"></script>
    <script th:src="@{//js/fee/queryBorrow.js(v=${version})}"></script>
    <script type="text/javascript" th:src="@{//js/fee/commonPreviewFile.js(v=${version})}"></script>
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <style>
        #accountName{
            width: 75%;
        }
        #expertPayTime{
            max-width: unset;
        }
    </style>
    <script>
        $(function () {
            $('#imgModal').on('hidden.bs.modal', function () {
                $("body").addClass("modal-open");
            });
            //回车提交事件
            $('#queryDiv').on('keypress', function (event) {
                if (event.keyCode == "13") {
                    $("#querySearch").click();
                }
            });
            $('#accountDiv').on('keypress', function (event) {
                if (event.keyCode == "13") {
                    $("#accountSearch").click();
                }
            });
            var startTimeQc = {
                elem: '#startTimeQc',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                // max: laydate.now(),//最大日期
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // endTimeQc.min = datas; //开始日选好后，重置结束日的最小日期
                    // endTimeQc.start = datas //将结束日的初始值设定为开始日
                    var startTime = $("#startTimeQc").val();
                    var endTime = $("#endTimeQc").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#startTimeQc").val("")
                        return;
                    }
                }
            };
            var endTimeQc = {
                elem: '#endTimeQc',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                // max: laydate.now(),
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // startTimeQc.max = datas; //结束日选好后，重置开始日的最大日期
                    var startTime = $("#startTimeQc").val();
                    var endTime = $("#endTimeQc").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#endTimeQc").val("")
                        return;
                    }
                }
            };

            var applyStartTimeQc = {
                elem: '#applyStartTimeQc',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                // max: laydate.now(),//最大日期
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // applyEndTimeQc.min = datas; //开始日选好后，重置结束日的最小日期
                    // applyEndTimeQc.start = datas //将结束日的初始值设定为开始日
                    var startTime = $("#applyStartTimeQc").val();
                    var endTime = $("#applyEndTimeQc").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#applyStartTimeQc").val("")
                        return;
                    }
                }
            };
            var applyEndTimeQc = {
                elem: '#applyEndTimeQc',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                // max: laydate.now(),
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // applyStartTimeQc.max = datas; //结束日选好后，重置开始日的最大日期
                    var startTime = $("#applyStartTimeQc").val();
                    var endTime = $("#applyEndTimeQc").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#applyEndTimeQc").val("")
                        return;
                    }
                }
            };
            laydate(startTimeQc);
            laydate(endTimeQc);
            laydate(applyStartTimeQc);
            laydate(applyEndTimeQc);
            var expertStartTime = {
                elem: '#expertStartTime',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                // max: laydate.now(),//最大日期
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // endTime.min = datas; //开始日选好后，重置结束日的最小日期
                    // endTime.start = datas //将结束日的初始值设定为开始日
                    var startTime = $("#expertStartTime").val();
                    var endTime = $("#expertEndTime").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#expertStartTime").val("")
                        return;
                    }
                }
            };
            var expertEndTime = {
                elem: '#expertEndTime',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                // max: laydate.now(),
                istime: false,
                istoday: false,
                choose: function (datas) {
                    // startTime.max = datas; //结束日选好后，重置开始日的最大日期
                    var startTime = $("#expertStartTime").val();
                    var endTime = $("#expertEndTime").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#expertEndTime").val("")
                        return;
                    }
                }
            };

            laydate(expertStartTime);
            laydate(expertEndTime);

            $("#editModal" ).draggable();
            $("#repayModal").draggable();
        });
    </script>
</head>
<body>
<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                <div class="ibox-title">
                    <h5 style="font-weight: bold">查询条件</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal" id="queryDiv">
                        <form id="queryForm">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">申请日期:</label>
                                <div class="col-sm-2" style="min-width:240px;">
                                    <input placeholder="开始日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon " id="applyStartTimeQc" name="applyStartTimeQc" readonly="readonly">
                                    <!--<span style="display:inline-block;padding:0 1px;">至</span>-->
                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="applyEndTimeQc" name="applyEndTimeQc" readonly="readonly">
                                </div>
                                <label class="col-sm-1 control-label">期望付款日期:</label>
                                <div class="col-sm-2" style="min-width: 240px;">
                                    <input placeholder="开始日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon " id="expertStartTime" name="expertStartTime" readonly="readonly">
                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="expertEndTime" name="expertEndTime" readonly="readonly">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="codeQc" name="codeQc" class="form-control" placeholder="申请编号">
                                </div>
                                <div class="col-sm-1" >
                                    <input type="text" id="titleQc" name="titleQc" class="form-control" placeholder="标题">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="applyNameQc" name="applyNameQc" class="form-control" placeholder="申请人">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="accountNameQc" name="accountNameQc"    class="form-control" placeholder="收款人">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="repayAmountQc" name="repayAmountQc" class="form-control" placeholder="已还金额">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="remainAmountQc" name="remainAmountQc" class="form-control" placeholder="未还金额">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">实际出款日期:</label>
                                <div class="col-sm-2" style="min-width:240px;">
                                    <input placeholder="开始日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="startTimeQc"
                                           name="startTimeQc" readonly="readonly">
                                    <!--<span style="display:inline-block;padding:0 1px;">至</span>-->
                                    <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="endTimeQc" name="endTimeQc" readonly="readonly">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="outAccountNameQc" name="outAccountNameQc" class="form-control"
                                    placeholder="实际出款账户">
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" id="payAmountQc" name="payAmountQc" class="form-control"
                                           placeholder="实际出款金额">
                                </div>
                                <div class="col-sm-1">
                                    <select class="form-control" name="typeQc" >
                                        <option value="">类型</option>
                                        <option value="0">备用金</option>
                                        <option value="1">其他</option>
                                    </select>
                                </div>
                                <div class="col-sm-1" >
                                    <select class="form-control" name="stateQc" >
                                        <option value="">借款状态</option>
                                        <option value="-1">已驳回</option>
                                        <option value="0">已保存</option>
                                        <option value="3">审核中</option>
                                        <option value="2">出款中</option>
                                        <option value="4">确认中</option>
                                        <option value="1">已完成</option>
                                    </select>
                                </div>
                                <div class="col-sm-1" >
                                    <select class="form-control" name="repayFlagQc" >
                                        <option value="">还款状态</option>
                                        <option value="0">未还</option>
                                        <option value="1">已还</option>
                                    </select>
                                </div>
                                <input type="hidden" id="companyCode1" name="companyCode"/>
                                <div id ="deptDiv" style="display:none">
                                    <div class="col-sm-1" style="text-align:center">
                                        <input type="hidden" id="deptId1" name="deptId" class="form-control">
                                        <input type="text" id="chooseDeptName" class="form-control height18" readonly="readonly"
                                               style="width:120%" placeholder="申请部门">
                                    </div>
                                    <div class="col-sm-1" style="text-align:center">
                                        <button type="button" class="btn btn-primary  glyphicon glyphicon-search"
                                                id="selDept"></button>
                                        <button type="button" class="btn btn-danger  glyphicon glyphicon-remove"
                                                id="cleanDept"></button>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="querySearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom:-8px;">
            <div class="ibox-content">
                <div class="form-horizontal" id="tj">
                    <div class="col-sm-3">
                        <label>申请金额合计: ￥ </label><label id="applyAmount1" class="text-danger">0</label>
                    </div>
                    <div class="col-sm-3">
                        <label>实际出款金额合计: ￥ </label><label id="payAmount1" class="text-danger">0</label>
                    </div>
                    <div class="col-sm-3">
                        <label>已还金额合计: ￥ </label><label id="repayAmount1" class="text-danger">0</label>
                    </div>
                    <div class="col-sm-3">
                        <label>未还金额合计: ￥ </label><label id="remainAmount1" class="text-danger">0</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button id="addBtn" class="btn btn-primary" type="button"><i class="fa fa-plus"></i>新增借款
                    </button>
                    <button id="exportBtn" class="btn btn-info" type="button">
                        <i class="glyphicon glyphicon-export"></i>&nbsp;导&nbsp;出&nbsp;
                    </button>
                    <button  class="btn btn-info" type="button" id="batchDownload" onclick="downLoadAndPrintObj.batchDownloadData();" style="display: none;">
                        <i class="fa fa-download"></i>&nbsp;批量下载
                    </button>
                    <button  class="btn btn-info" type="button" id="batchPrint" onclick="downLoadAndPrintObj.batchPrintData();" style="display: none;">
                        <i class="fa fa-print"></i>&nbsp;批量打印
                    </button>
                </div>
                <div>
                    <div class="jqGrid_wrapper">
                        <table id="query_table_logs"></table>
                        <div id="query_pager_logs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增编辑页面-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight" style="height:435px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">借款信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <form id="editForm" class="form-horizontal" action="" type="post" enctype="multipart/form-data">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="hidden" id="administrativeId" name="administrativeId" />
                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>标题:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="title" name="title" class="form-control" required="">
                                    </div>
                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>借款类型:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks" style="padding-left: 0px;">
                                            <input type="radio" value="0" name="type"/>备用金
                                            <input type="radio" value="1" name="type"/>其他
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><span class="text-red">*</span>收款人:</label>
                                    <div class="col-sm-2 changeOnView">
                                        <input type="hidden" id="accountId" name="accountId" class="form-control">
                                        <input type="text" id="accountName" name="accountName" class="form-control"
                                               required="">
                                    </div>
                                    <div id="selectAccountBtnDiv" class="col-sm-1">
                                        <button type="button"
                                                class="btn btn-primary btn-circle glyphicon  glyphicon-search selAccount"
                                                id="selAccount"></button>
                                        <button type="button"
                                                class="btn btn-warning btn-circle glyphicon  glyphicon-remove cleanAccount"></button>
                                    </div>


                                    <label class="col-sm-2 control-label">收款账号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="accountBankNo" name="accountBankNo" class="form-control"
                                               required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">收款开户行<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="accountBankName" name="accountBankName"
                                               class="form-control" required="">
                                    </div>
                                    <label class="col-sm-2 control-label">期望借款日期<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="期望借款日期" name="expertPayTime" id="expertPayTime"
                                               class="form-control layer-date laydate-icon"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                               required=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">附件:</label>
                                    <input type="hidden" name="affixLink">
                                    <input type="hidden" name="affixName">
                                    <div class="col-sm-3">
                                        <div id="affixDiv" ></div>
                                        <input type="file" id="file" name="file" class="form-control showOnEdit" multiple>
                                    </div>
                                    <label class="col-sm-2 control-label">期望借款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="applyAmount" name="applyAmount" class="form-control"
                                               required="" onkeyup="value=value.replace(/[^\d\.\-]/g,'')">
                                    </div>
                                </div>
                                <div class="form-group hideOnEdit">
                                    <label class="col-sm-2 control-label">申请人<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" id="deptId2" name="deptId"    class="form-control"  readonly="readonly">
                                        <input type="text" id="deptName" name="deptName"    class="form-control" >
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="hidden" id="applyId" name="applyId"    class="form-control"  readonly="readonly">
                                        <input type="text" id="applyName" name="applyName"    class="form-control" >
                                    </div>
                                    <label class="col-sm-2 control-label">编号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="code" name="code"    class="form-control" >
                                    </div>
                                </div>
                                <div class="form-group viewAndConfirm">
                                    <label class="col-sm-2 control-label">实际出款账户<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3 showOnView">
                                        <input type="hidden" id="outAccountId" name="outAccountId" class="form-control" style="border-width: 0;">
                                        <input type="text" id="outAccountName" name="outAccountName" class="form-control" style="border-width: 0;">
                                    </div>
                                    <div class="col-sm-3 layui-form showOnConfirm">
                                        <select id="outAccountSelect"  lay-filter="test" lay-verify="" lay-search name="outAccountIds"
                                                 style="margin-top:30px;z-index:-1" class="form-control height18" required="">
                                        </select>
                                        <input type="hidden" id="outAccountIds" value="">
                                    </div>
                                    <label class="col-sm-2 control-label">实际出款日期:</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="实际出款日期" name="payTime" id="payTime"  class="form-control layer-date laydate-icon"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label viewAndConfirm">实际出款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3 viewAndConfirm">
                                        <input type="text" id="payAmount" name="payAmount" class="form-control"
                                               required="" onkeyup="value=value.replace(/[^\d\.\-]/g,'')">
                                    </div>
                                    <label class="col-sm-2 control-label hideOnEdit">状态:</label>
                                    <div class="col-sm-3 hideOnEdit">
                                        <input type="hidden" id="state" name="state" value="0">
                                        <input type="text" id="state1" name="state1" class="form-control" style="border-width: 0;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">借款原因<span class="text-red">*</span>:</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" id="remark" name="remark" class="form-control" style="height: 200px; max-width: 830px; min-width: 830px"
                                                  required="" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group licence">
                                    <label class="col-sm-2 control-label">审核理由:</label>
                                    <input type="text" id="desc" name="desc"
                                           style="width:600px;display:inline;padding-top:2px; padding-bottom:5px;"
                                           class="form-control"
                                           placeholder="请输入审核备注">
                                </div>
                                <div>
                                    <input type="hidden" id="id" name="id" class="form-control">
                                    <!--taskId如果是null，则是第一次提交，taskId有值，则表示是驳回后提交，走的审核流程不一样-->
                                    <input type="hidden" id="taskId" name="taskId">
                                    <input type="hidden" id="companyCode" name="companyCode" >
                                </div>
                                <div class="modal-footer" id="editFooter">
                                    <span class="text-red showOnAdd">提示：借款类型备用金只用于媒介请款，其他情况借款类型都选择其他！</span>
                                    <button type="button" class="btn btn-success save" id ="save1" onclick="submitHander(this,'/borrow/add',0)" >保存
                                    </button>
                                    <button type="button" class="btn btn-primary save" id="save2" onclick="submitHander(this,'/borrow/add',4)">提交审核
                                    </button>
                                    <button type="button" class="btn btn-success update" id="update1" onclick="submitHander(this,'/borrow/edit',0)" >保存
                                    </button>
                                    <button type="button" class="btn btn-primary update" id="update2" onclick="submitHander(this,'/borrow/edit',4)">提交审核
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                        <i class="fa fa-close"></i>&nbsp;&nbsp;关闭</button>
                                </div>
                                <div class="modal-footer" id="viewFooter">
                                    <div id="auditTrue" align="center" class="">
                                        <button type="button" class="btn btn-info" id="showHistory1" onclick="showHistory($('#showHistory1').data('id'))"  >审核详情</button>
                                        <button type="button" class="btn btn-success " id="pass1"
                                                onclick="approve(this)">审核通过
                                        </button>
                                        <button type="button" class="btn btn-danger " id="reject1"
                                                onclick="reject(this)">审核驳回
                                        </button>
                                        <button type="button" class="btn btn-primary glyphicon glyphicon-chevron-left" onclick="goBackProcess()">返回</button>
                                    </div>
                                    <div id="auditFalse" class="">
                                        <button type="button" class="btn btn-success glyphicon glyphicon-ok" id="review" onclick="checkBtoB()" >确认出款
                                        </button>
                                        <button type="button" class="btn btn-danger glyphicon glyphicon-repeat " id="rejected"  onclick="reject(this)">撤回
                                        </button>
                                        <button type="button" class="btn btn-white" id="cancelModal" data-dismiss="modal">
                                            <i class="fa fa-close"></i>&nbsp;&nbsp;关闭</button>
                                        <button type="button" id="goback" class="btn btn-white" onclick="goBackHtml()">返回</button>

                                    </div>
                                </div>
                                <div class="modal-footer" id="confirmFooter">
                                    <button type="button" class="btn btn-success glyphicon glyphicon-ok " id="confirm"
                                            onclick="submitHanderCW(this,'/borrow/confirm')">出纳出款
                                    </button>
                                    <button type="button" class="btn btn-success glyphicon glyphicon-ok" id="changeAccountBtn" onclick="changeAccount()" >
                                        更改出款账户
                                    </button>
                                    <button type="button" class="btn btn-danger glyphicon glyphicon-repeat" id="CWReject2" onclick="CWReject(this)">撤回</button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal" id="cancel2">关闭
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--还款页面-->
<div class="modal inmodal" id="repayModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title ">确认借款信息</h4>
            </div>
            <div class="modal-body">
                <div class="ibox-content">
                    <form id="repayForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id5" name="id5" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">申请借款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="applyAmount5" name="applyAmount5" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">实借金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="payAmount5" name="payAmount5" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">已还金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="repayAmount5" name="repayAmount5" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">本次还款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="amount5" name="amount5" class="form-control" required=""
                                               onkeyup="value=value.replace(/[^\d\.\-]/g,'')">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">还款备注<span class="text-red">*</span>:</label>
                                    <div class="col-sm-8">
                                        <textarea id="repayRemark5" name="repayRemark5" class="form-control"
                                                  required=""></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="repay1"
                                            onclick="submitHander5(this,'/borrow/repay')">提交还款申请
                                    </button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--还款确认页面-->
<div class="modal inmodal" id="repayConfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title ">确认借款信息</h4>
            </div>
            <div class="modal-body">
                <div class="ibox-content">
                    <form id="repayConfirmForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id6" name="id6" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">申请借款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="applyAmount6" name="applyAmount6" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">实借金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="payAmount6" name="payAmount6" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">已还金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="repayAmount6" name="repayAmount6" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">本次还款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="amount6" name="amount6" class="form-control" required=""
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">还款备注<span class="text-red">*</span>:</label>
                                    <div class="col-sm-8">
                                        <textarea id="repayRemark6" name="repayRemark6" class="form-control" required=""
                                                  readonly="readonly"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="submit6"
                                            onclick="submitHander6(this,'/borrow/repayConfirm')">已还
                                    </button>
                                    <button type="button" class="btn btn-warning" id="submit7"
                                            onclick="submitHander7(this,'/borrow/repayReject')">未还
                                    </button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--选择个人银行账号-->
<div class="modal inmodal" id="accountModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">选择收款账户信息</h4>
            </div>
            <div class="">
                <div class="">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                                <div class="ibox-title">
                                    <h5 style="font-weight: bold">查询条件</h5>
                                </div>
                                <div class="ibox-content" >
                                    <div class="form-horizontal"  id="accountDiv">
                                        <form id="accountForm">
                                            <div class="form-group">
                                                <div class="col-sm-2 ">
                                                    <input type="text" id="nameQc" name="nameQc" class="form-control" placeholder="账户名称">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" id="bankNoQc" name="bankNoQc"
                                                           class="form-control" placeholder="账号">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" id="companyNameQc" name="companyNameQc"
                                                           class="form-control" placeholder="公司名称">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" id="bankNameQc" name="bankNameQc"
                                                           class="form-control" placeholder="开户行">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" id="ownerQc" name="ownerQc" class="form-control" placeholder="联系人">
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button" id="accountSearch" class="btn btn-primary">
                                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox ">
                                <div class="ibox-content">
                                    <div class="jqGrid_wrapper">
                                        <table id="account_table_logs"></table>
                                        <div id="account_pager_logs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " id="selectAccount">选择</button>
                    <button type="button" class="btn btn-white" id="cancelAccount" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--审核流程详情-->
<div class="modal inmodal" id="historyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">审核流程详情</h4>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div>
                        <div class="row">
                            <div id="history" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="position:relative;z-index:2;">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--还款明细-->
<div class="modal inmodal" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title"><a id="exportDetail">还款明细</a></h4>
<!--                <h4 class="modal-title">还款明细</h4>-->
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div>
                        <div class="row">
                            <div id="detail" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="position:relative;z-index:2;">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--搜索条件选择部门-->
<div class="modal inmodal" id="deptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h5 class="modal-title">部门信息</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>选择部门</h5>
                                    <div class="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">
                                    <div id="treeview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--文件预览-->
<div class="modal inmodal" id="docPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">审核流程详情</h4>
            </div>
            <div class="ibox-content" style="min-height: 900px">
                <iframe style="min-height: 900px" width='100%' height='100%' frameborder='1'></iframe>
            </div>
            <div class="modal-footer" style="position:relative;z-index:2;">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--图片预览-->
<div class="modal inmodal" id="imgModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight">
            <div class="ibox-content" style="min-height:370px;min-width:370px;vertical-align: middle;text-align: center;">
                <img id="imgDiv" onclick="closeImg('imgModal')" width="100%">
            </div>
        </div>
    </div>
</div>
<!--预览页面-->
<div id="borrowViewModal" style="display: none;">
    <div id="modalContentWrap" style="width: 100%;padding: 5px 0;display: flex;flex-direction: column;page-break-after: always;">
        <style type="text/css">
            *{
                box-sizing: border-box;
                word-break: break-all;
            }
            #modalContentWrap{
                font-size: 10px;
            }
            .modalTitle{
                width: 100%;height: 40px;display: flex;align-items: center;justify-content: center;font-weight: bold;
            }
            .modalContentWrap{
                width: 100%;flex: 1;
            }
            .modalContentItem{
                width: 100%;padding: 5px 15px;display: flex;align-items: center;
            }
            .modalLabel{
                width: 15%;height: 34px;padding-right: 15px;display: flex;align-items: center;justify-content: flex-end;
            }
            .spaceDiv{
                width: 15%;height: 34px;
            }
            .col-12{
                width: 70%;min-height: 34px;padding: 5px;display: flex;justify-content: flex-start;align-items: center;
            }
            .col-6-1{
                width: 35%;padding: 5px;min-height: 34px;display: flex;justify-content: flex-start;align-items: center;
            }
            .col-6-2{
                width: 20%;padding: 5px;min-height: 34px;display: flex;justify-content: flex-start;align-items: center;
            }
            .radioSpan{
                display: inline-flex;align-items: center;
            }
            .radioInput{
                width: 16px;height: 16px;flex-shrink: 0;
            }
            .modalContentItem table{
                width: 90%;
                border-top: 1px solid #999;
                border-left: 1px solid #999;
                border-spacing: 0;/*去掉单元格间隙*/
            }
            .modalContentItem table tr{
                height: 30px;
            }
            .modalContentItem table tr th,  .modalContentItem table tr td{
                text-align: center;
                border-bottom: 1px solid #999;
                border-right: 1px solid #999;
            }
        </style>
        <div class="modalTitle">
            <!--[借款]编号-发起人-发起时间-->
        </div>
        <div class="modalContentWrap">
            <div class="modalContentItem">
                <div class="modalLabel">
                    借款标题:
                </div>
                <div class="col-12 title">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem">
                <div class="modalLabel">
                    借款编号:
                </div>
                <div class="col-6-1 code">

                </div>
                <div class="modalLabel">
                    借款类型:
                </div>
                <div class="col-6-2 type">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem">
                <div class="modalLabel">
                    借款人:
                </div>
                <div class="col-6-1 applyName">

                </div>
                <div class="modalLabel">
                    借款人部门:
                </div>
                <div class="col-6-2 deptName">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem">
                <div class="modalLabel">
                    收款人:
                </div>
                <div class="col-6-1 accountName">

                </div>
                <div class="modalLabel">
                    收款人账号:
                </div>
                <div class="col-6-2 accountBankNo">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem">
                <div class="modalLabel">
                    收款人开户行:
                </div>
                <div class="col-6-1 accountBankName">

                </div>
                <div class="modalLabel">
                    期望借款日期:
                </div>
                <div class="col-6-2 expertPayTime">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem">
                <div class="modalLabel">
                    期望借款金额:
                </div>
                <div class="col-6-1 applyAmount">

                </div>
                <div class="modalLabel">
                    实际出款账户:
                </div>
                <div class="col-6-2 outAccountName">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem">
                <div class="modalLabel">
                    实际出款日期:
                </div>
                <div class="col-6-1 payTime">

                </div>
                <div class="modalLabel">
                    实际出款金额:
                </div>
                <div class="col-6-2 payAmount">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem">
                <div class="modalLabel">
                    借款状态:
                </div>
                <div class="col-6-1 state">

                </div>
                <div class="modalLabel">
                    附件:
                </div>
                <div class="col-6-2 affixName">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem">
                <div class="modalLabel">
                    借款原因:
                </div>
                <div class="col-12 remark">

                </div>
                <div class="spaceDiv"></div>
            </div>
            <div class="modalContentItem auditTable" style="justify-content: center;">
                <table>
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>审核节点</th>
                            <th>审核人</th>
                            <th>操作详情</th>
                            <th>操作时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr>
                            <td>直属领导审核</td>
                            <td>邹丽</td>
                            <td>正在审核正在审核正在审核正在审核正在审核正在审核正在审核正在审核正在审核正在审核</td>
                            <td>2020-01-15 14:57:25</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>