/*th.ui-th-column div {*/
/*white-space: normal !important;*/
/*height: auto !important;*/
/*padding: 0px;*/
/*}*/
/*#gbox_table_medias{*/
/*overflow-x: scroll;*/
/*}*/
/*#gview_table_medias {*/
/*border-top: 1px solid #E1E1E1;*/
/*overflow-x: auto!important;*/
/*}*/
/*.frozen-div, .frozen-bdiv {*/
/*background-color: #E4E6E9;!*与网页背景色一致*!*/
/*}*/

th.ui-th-column div, .ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height: auto;
}


/*#mediaTypeUL,#mediaTermUL{*/
/*margin: 5px 0;*/
/*}*/
#mediaTypeUL > li {
    /*border-bottom: 1px dashed #DEDEDE;*/
    padding: 5px 5px 4px;
    display: table;
    /*margin: 5px 0;*/
}

#mediaTermUL > li {
    /*border-bottom: 1px dashed #DEDEDE;*/
    padding: 5px 5px 4px;
    line-height: 30px;
    display: table;
    /*margin: 5px 0;*/
}

#mediaTypeUL > li > div > span, #mediaTermUL > li > div > span {
    text-align: center;
}

#mediaTermUL {
    padding-top: 5px;
}

#mediaTermUL > li {
    border-bottom: 1px dashed #DEDEDE;

}

#mediaTermUL > li > div > span, #mediaTypeUL > li > div > span {
    /*color: #000000;*/
    cursor: pointer;
}

#mediaTermUL > li > div, #mediaTermUL > li > label {
    /*margin: 10px 0;*/
}

#mediaTypeUL > li > label, #mediaTermUL > li > label {
    /*background-color: #e0e0e0;*/
    text-align: right;
}

#mediaTypeUL > li > div > span:hover, #mediaTermUL > li > div > span:hover {
    color: red;
}

#od th {
    text-align: center;
}

.head-img {
    width: 70px;
    height: 60px;
    border-radius: 5px;
}

#mediaTermUL .col-md-2 {
    padding-left: 0;
}
.ui-jqgrid-bdiv table{
    width: 100%!important;
}
.ui-jqgrid-htable table{
    width: 100%!important;
}