<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title data-th-text="'业务管理-订单管理-'+${AppName}"></title>

    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/need/laydate.css"/>
    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css"
          id="LayDateSkin"/>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/js/biz/orders.js"></script>


    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-htable thead th div {
            text-align: center !important;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>已选媒体 &nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</h5>
            </div>
            <div class="ibox-title">
                <form id="orderForm">
                    <input type="hidden" name="userId" data-th-value="${session.user.id}"/>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="col-md-5 control-label">客户公司名称：</label>
                            <div class="col-md-7">
                                <select id="companyId" name="companyId" class="form-control"
                                        onchange="onloadCompany(this)">
                                    <!--<option data-th-each="cust,i:${custs}" data-th-text="${cust.companyName}"-->
                                    <!--data-th-value="${cust.id}"></option>-->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="col-md-5 control-label">订单状态：</label>
                            <div class="col-md-7">
                                <input class="i-checks" type="radio" name="state" value="0"/>未下单
                                <input class="i-checks" type="radio" name="state" value="1"/>已下单
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <button class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;搜索</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="ibox-content" style="padding: 6px">
                <div class="jqGrid_wrapper">
                    <table id="table_orders"></table>
                    <div id="pager_orders"></div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="jqGrid_wrapper">
                    <table id="table_articles"></table>
                    <div id="pager_articles"></div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<!-- SUMMERNOTE -->
<script src="/js/plugins/summernote/summernote.min.js"></script>
<script src="/js/plugins/summernote/summernote-zh-CN.js"></script>
<script>
    $(document).ready(function () {
        $('.summernote').summernote({
            lang: 'zh-CN',
            height: 300,
        });
    });
    var edit = function () {
        $("#eg").addClass("no-padding");
        $('.click2edit').summernote({
            lang: 'zh-CN',
            focus: true
        });
    };
    var save = function () {
        $("#eg").removeClass("no-padding");
        var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
        $('.click2edit').destroy();
    };
</script>

</html>