/*通用*/

.layui-tab{
    margin: unset !important;
}
.ellipsisContent{
    width: 98%;white-space: nowrap;text-overflow: ellipsis;overflow:unset !important;
}
.contentOuter{
    border: 0px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*顶部搜索*/
.topSearchOuter{
    border: 0px solid red;
    width: 100%;
    height: 42px;
    padding: 0 15px;
    margin-bottom: 5px;
    float: left;
    background-color: white;
    box-shadow: rgb(170, 170, 170) 0px 2px 2px 2px;
}
/*处理顶部搜索按钮*/
.topSearchOuter > ul > li:last-child{
    float: right;
}
.topSearchOuter > ul > li:last-child > input{
    width: 240px;
    height: 25px;
    border: 1px solid #009688;
    color: #009688;
    padding-left: 5px;
    border-radius: 3px;
}
.topSearchOuter > ul > li:last-child:after{
    border-bottom: unset !important;
}
.searchIcon{
    border: 0px solid red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 0.6;
    color: #009688;
}

/*tab整体内容*/
.bottomContentOuter{
    border: 0px solid red;
    width: 100%;
    height: 91%;
    padding: 5px 30px;
    background-color: white;
    float: left;
}

/*tab内容搜索栏目*/
.searchParamOuter{
    border: 0px solid red;
    width: 100%;
    height: 50px;
    float: left;
    padding-top: 7px;
}
.paramDiv{
    width: 20%;
    height: 40px;
    float: left;
}
.paramDiv > .layui-form-select, .paramDiv > input{
    width: 75%;
    display: inline-block;
}
.paramDiv > select{
    width: 75%;
}
.paramDiv > button{
    height: 37px;
}

/*tab内容列表上方按钮*/
.buttonGroupOuter{
    border: 0px solid red;
    width: 100%;
    height: 40px;
    float: left;
    text-align: left;
    padding-top: 7px;
}
.buttonGroupOuter > button{
    margin-right: 10px;
}

/*tab内容列表*/
.listContentOuter{
    border: 0px solid red;
    width: 100%;
    flex: 1;
    float: left;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/*表格单元格中控件样式*/
.editInput{
    width: 60px;
    height: 18px;
    text-align: center;
    border: unset;
    float: left;
    margin-top: 2px;
}
.editButton{
    height: 18px;
    width: 18px;
    border: unset;
    float: left;
    margin-top: 2px;
    background-color: white;
}
.submitButton{
    border: 1px solid #65C6FD;
    width: 30px;
    height: 18px;
    line-height: 18px;
    display: none;
    color: #70C5FB;
    font-size: 10px;
    font-family: Candara;
    float: left;
    margin-top: 2px;
    background-color: #E0F1F9;
}
/*弹出模态框-通用*/
.stockModalCommon{
    border: 0px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.stockModalBtnOuter{
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    height: 50px;
    float: left;
    display: flex;
    padding-left: 5px;
    background-color: #F9FAFC;
}

.stockModalTitle{
    border: 0px solid red;
    width: 150px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: left;
    font-size: 15px;
    font-family: Candara;
    font-weight: bold;
}

.stockModalBtn{
    border: 0px solid red;
    width: 150px;
    height: 50px;
    flex: 1;
    float: right;
}

.stockModalBtn > div{
    height: 50px;
    line-height: 50px;
    border-left: 1px solid #E6E6E6;
    width: 90px;
    text-align: center;
    cursor: pointer;
    float: right;
    font-weight: 400;
}

.stockModalBtn > div > i{
    color: #A6C3DD;
}

.stockModalFormOuter{
    border: 0px solid red;
    width: 100%;
    height: 90px;
    float: left;
    padding: 10px 0px;
}

.stockModalTableOuter{
    border: 0px solid red;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    float: left;
    padding-left: 5px;
}

.modalTableTitle{
    border: 0px solid red;
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    font-weight: bold;
}
.modalTableTotal{
    border: 0px solid red;
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 12px;
    overflow: auto;
}

.modalTableTotal > div{
    float: left;
    margin-right: 36px;
}

.modalTableContent{
    border: 0px solid red;
    width: 100%;
    flex: 1;
    float: left;
    overflow: auto;
}
.modalTableBottomContent{
    border: 0px solid red;
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
}

.stockModalBottomOuter{
    border: 0px solid red;
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    padding-left: 5px;
}

/*添加仓库模态框*/
.warehouseModalContent{
    border: 0px solid red;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.warehouseModalContent form > div{
    margin-top: 10px !important;
}

/* 防止下拉框的下拉列表被隐藏---必须设置--- */
.layui-table-cell {
    overflow: visible !important;        }
/* 使得下拉框与单元格刚好合适 */
td .layui-form-select{
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
}
/*解决下拉框被表格覆盖样式问题*/
.layui-form-select dl {
    z-index: 9999;
}
.layui-table-box {
    overflow: visible
}
.layui-table-body{
    overflow:visible;
}
/*产品入库模态框*/