<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <meta charset="UTF-8">
    <title>关键字管理</title>
    <script type="text/javascript" src="/js/word/keyword_list.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/template-web.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript" src="/js/plugins/treeview/bootstrap-treeview.js"></script>
    <script src="/js/process/approveTask.js"></script>
    <link rel="stylesheet" href="/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" />
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <style type="text/css">
        .userDivClass{
            border: 1px solid #C7C7CD;
            height: 100%;
            width: 12%;
            float: left;
            height: 30px;
            margin-top: 5px;
            margin-left: 5px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: #f2f5ee;
        }
        .userClass{
            width: 75%;
            text-align: center;
            float: left;
            font-weight:bold;
            height: 30px;
            line-height: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .deleteClass{
            margin-left: 3%;
            width: 17%;
            float:right;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            text-align: center;
        }
        .deleteClass:hover{
            color: red;
        }
        .layui-layer-content{
            overflow: hidden !important;
            background-color: #f7f7f7 !important;
        }
    </style>
    <script id="excludePeopleHtml" type="text/html">
        <!--{{each data value index}}-->
        <!--<hr>-->
        <!--<div class="col-sm-12">-->
            <!--<div class="col-md-2">-->
                <!--<input type="hidden" name="deptId" class="form-control" value="{{value[0].deptId}}">-->
                <!--<span class="i-checks">-->
                    <!--<input class="deptSpan" sign="dept{{value[0].deptId}}" type="checkbox" deptId="{{value[0].deptId}}"><i></i>-->
                    <!--<span>{{value[0].deptName}}</span>-->
                <!--</span>-->
            <!--</div>-->
            <!--<div id="all" class="col-sm-10">-->
                <!--{{each value v i}}-->
                <!--<div class="col-sm-3">-->
                    <!--<span class="i-checks">-->
                        <!--<input class="userSpan" type="checkbox" userId="{{v.id}}" userName="{{v.name}}" deptId="{{v.deptId}}"><i></i>-->
                        <!--<span>{{v.name}}</span>-->
                    <!--</span>-->
                <!--</div>-->
                <!--{{/each}}-->
            <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <!--{{/each}}-->
    </script>
    <script type="text/javascript">
        //回车键搜索
        // function keyup_submit(evt){
        //     evt = (evt) ? evt : ((window.event) ? window.event : "");
        //     var curKey = evt.keyCode ? evt.keyCode : evt.which;
        //     if (curKey == 13) {//keyCode=13是回车键
        //         reflushTable();
        //     }
        // }
    </script>
</head>
<body>
<div class="row" style="padding: 10px 15px">
    <div class="ibox">
        <div class="ibox-title">
            <h5 class="col-md-2">关键字管理 &nbsp;
                <i class="fa fa-angle-double-right"></i>&nbsp;
                <span class="text-danger " id="groupTypeText"></span>
            </h5>
            <!--<div class="col-md-10 form-inline" style="position: relative;top: -7px" title="敲回车键可以进行搜索">-->
                <!--<div class="form-group">-->
                    <!--<input class="form-control" style="width: 70%" id="keywords" onkeydown="keyup_submit(event)" placeholder="请输入关键字名称进行搜索"/>-->
                    <!--<button id="keywordsSearchBtn" class="btn btn-warning" onclick="reflushTable()"><i class="fa fa-search"></i>&nbsp;搜索</button>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!--查询条件，所有条件动态添加到这里-->
        <form id="queryForm" style="display: none">
            <input id="wordsName" name="wordsName" type="hidden"/> <!--群组名称-->
            <input id="groupTypeId" name="groupTypeId" type="hidden" value="0"/>
            <input name="menuId" type="hidden" value="0"/>
        </form>

        <div class="ibox">
            <ul id="groupTypeUL" class="ibox-title col-md-12">
                <li class="col-md-12 ibox-tools" style="position: relative">
                    <label style="float:left;">功能菜单：</label>
                    <div class="col-md-11" id="groupType">

                    </div>
                </li>
            </ul>
        </div>
        <div class="ibox-content" style="padding: 5px 10px">
            <div class="ibox-title">
                <button id="addBtn" class="btn btn-danger" type="button">
                    <i class="fa fa-plus"></i>&nbsp;新增关键字
                </button>
            </div>
        </div>

        <div class="ibox-content" style="padding-left: 0px;padding-right: 0px;">
            <div class="jqGrid_wrapper">
                <table id="table_keywords_list"></table>
                <div id="pager_keywords_list"></div>
            </div>
        </div>
    </div>
</div>
</body>
<!--修改功能菜单model框-->
<div class="modal inmodal" id="editModal" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog" style="width:70%;">
        <form id="editForm" class="form-horizontal" action=""  type="post">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header" style="height: 50px; padding: 0px; margin-top: 15px;">
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;margin-right: 10px;"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">更改关键字</h4>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" id="id2" name="id" class="form-control">
                            <input type="hidden" id="menuId2" name="menuId" class="form-control">
                            <input type="hidden" id="companyCode2" name="companyCode" class="form-control">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">菜单名称<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <input type="text" id="menuName2" name="menuName" class="form-control" readonly="readonly" required="">
                                </div>
                                <label class="col-sm-2 control-label">关键字类型<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <select name="permissionType" id="permissionType" class="form-control" readonly="readonly" disabled="disabled">
                                        <option value="0">屏蔽</option>
                                        <option value="1">允许</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">创建人<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <input type="hidden" id="createId2" name="createId">
                                    <input type="text" id="createName2" name="createName" class="form-control" readonly="readonly">
                                </div>
                                <label class="col-sm-2 control-label">创建时间<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <input type="text" id="createTime2" name="createDate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">关键字<span class="text-red">*</span>:</label>
                                <div class="col-sm-2">
                                    <span id='addWordBtn' style='margin-left: 10px;z-index: 10;' class="col-md-1 btn btn-primary btn-circle glyphicon glyphicon-plus " onclick="addTempWord(this)"></span>
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述：</label>
                                <div class="col-sm-8 height64">
                                    <textarea id="remarks2" name="remarks" class="form-control" style="height: 120px;resize: vertical"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" style="height: 300px;overflow-y: auto;">
                                    <div id="showKeywordsDiv" class="form-control col-md-12" style="border:1px solid #C7C7CD;padding-bottom: 5px; height: 300px;overflow-y: auto;">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="baocun2" onclick="editKeyword(this,'/menuWords/edit')" >保存
                    </button>
                    <button type="button" class="btn btn-white" id="cancel2" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--新增功能菜单modal-->
<div class="modal inmodal" id="addModal" role="dialog" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog" style="width:70%">
        <form id="addForm" class="form-horizontal" action=""  type="post">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header" style="height: 50px; padding: 0px; margin-top: 15px;">
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;margin-right: 10px;"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">新增关键字</h4>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" id="id" name="id" class="form-control">
                            <input type="hidden" id="menuId" name="menuId" class="form-control">
                            <input type="hidden" id="companyCode" name="companyCode" class="form-control">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">菜单名称<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <input type="text" id="menuName" name="menuName" class="form-control" readonly="readonly" required="">
                                </div>
                                <label class="col-sm-2 control-label">关键字类型<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <select name="permissionType" class="form-control">
                                        <option value="0">屏蔽</option>
                                        <option value="1">允许</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">创建人<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <input type="hidden" id="createId" name="createId">
                                    <input type="text" id="createName" name="createName" class="form-control" readonly="readonly">
                                </div>
                                <label class="col-sm-2 control-label">创建时间<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <input type="text" id="createTime" name="createDate" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">关键字<span class="text-red">*</span>:</label>
                                <div class="col-sm-3">
                                    <input type="text" name="words" id="words" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述：</label>
                                <div class="col-sm-8 height64">
                                    <textarea id="remarks" name="remarks" class="form-control" style="height: 120px;resize: vertical"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id ="baocun" onclick="saveKeyword(this,'/menuWords/add')" >保存
                    </button>
                    <button type="button" class="btn btn-white" id="cancel" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--新增关键字modal-->
<div class="modal inmodal" id="saveKeywordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:500px">
        <div class="modal-content animated bounceInRight" style="height:240px">
            <div class="modal-header">
                <h4 class="modal-title">添加关键字</h4>
            </div>
            <div class="ibox-content">
                    <div class="row">
                        <form id="addKeywordForm" class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">关键字名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="wordName" id="wordName" class="form-control" required>
                                    </div>
                                    <input type="hidden" name="groupId" id="groupId">
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: right">
                                        <button class="btn btn-success" id="saveKeywords" onclick="addKeyword()" type="button">
                                            <i class="fa fa-save"></i>&nbsp;保存
                                        </button>
                                        <button class="btn btn-danger backButton" id="cance3" type="button">
                                            <i class="fa fa-close"></i>&nbsp;关闭
                                        </button>
                                    </div>
                                </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--修改关键字modal-->
<div class="modal inmodal" id="editKeywordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:550px">
        <div class="modal-content animated bounceInRight" style="height:240px">
            <div class="modal-header">
                <h4 class="modal-title">修改关键字</h4>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="editKeywordForm" class="form-horizontal col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">关键字名称<span class="text-red">*</span>:</label>
                            <div class="col-sm-8">
                                <input type="text" name="wordName" id="wordName2" class="form-control" required>
                            </div>
                            <input type="hidden" name="groupId" id="groupId2">
                            <input type="hidden" name="keyId" id="keyId2">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="text-align: right">
                                <button class="btn btn-success" id="editKeywords" onclick="editAjax()" type="button">
                                    <i class="fa fa-save"></i>&nbsp;保存
                                </button>
                                <!--<button class="btn btn-danger" id="delKeywords" onclick="removeBtn()" type="button">-->
                                    <!--<i class="fa fa-save"></i>&nbsp;删除-->
                                <!--</button>-->
                                <button class="btn btn-white backButton" id="cance4" type="button">
                                    <i class="fa fa-close"></i>&nbsp;关闭
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>