<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinfei.qferp.mapper.administrative.AdministrativeOnbusinessReportMapper">
  <resultMap id="BaseResultMap" type="com.qinfei.qferp.entity.administrative.AdministrativeOnbusinessReport">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="administrative_id" jdbcType="INTEGER" property="administrativeId" />
    <result column="report_date" jdbcType="TIMESTAMP" property="reportDate" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_dept" jdbcType="INTEGER" property="empDept" />
    <result column="emp_dept_name" jdbcType="VARCHAR" property="empDeptName" />
    <result column="emp_duty" jdbcType="VARCHAR" property="empDuty" />
    <result column="report_content" jdbcType="VARCHAR" property="reportContent" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, administrative_id, report_date, emp_id, emp_name, emp_dept, emp_dept_name, emp_duty,
    report_content, create_id, create_time, create_name, update_id, update_name, update_time, 
    state, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_administrative_onbusiness_report
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--根据行政流程id获取总结报告-->

  <select id="getByAdmId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_administrative_onbusiness_report
    where administrative_id = #{admId,jdbcType=INTEGER}
    and state  &lt;&gt; -1
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_administrative_onbusiness_report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qinfei.qferp.entity.administrative.AdministrativeOnbusinessReport">
    insert into t_administrative_onbusiness_report (id, administrative_id, report_date, 
      emp_id, emp_name, emp_dept,
      emp_dept_name, emp_duty, report_content,
      create_id, create_time, create_name, 
      update_id, update_name, update_time, 
      state, version)
    values (#{id,jdbcType=INTEGER}, #{administrativeId,jdbcType=INTEGER}, #{reportDate,jdbcType=TIMESTAMP}, 
      #{empId,jdbcType=INTEGER}, #{empName,jdbcType=VARCHAR}, #{empDept,jdbcType=INTEGER},
      #{empDeptName,jdbcType=VARCHAR}, #{empDuty,jdbcType=VARCHAR}, #{reportContent,jdbcType=VARCHAR},
      #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, 
      #{updateId,jdbcType=INTEGER}, #{updateName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qinfei.qferp.entity.administrative.AdministrativeOnbusinessReport">
    insert into t_administrative_onbusiness_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="administrativeId != null">
        administrative_id,
      </if>
      <if test="reportDate != null">
        report_date,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="empName != null">
        emp_name,
      </if>
      <if test="empDept != null">
        emp_dept,
      </if>
      <if test="empDeptName != null">
        emp_dept_name,
      </if>
      <if test="empDuty != null">
        emp_duty,
      </if>
      <if test="reportContent != null">
        report_content,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="administrativeId != null">
        #{administrativeId,jdbcType=INTEGER},
      </if>
      <if test="reportDate != null">
        #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="empName != null">
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empDept != null">
        #{empDept,jdbcType=INTEGER},
      </if>
      <if test="empDeptName != null">
        #{empDeptName,jdbcType=VARCHAR},
      </if>
      <if test="empDuty != null">
        #{empDuty,jdbcType=VARCHAR},
      </if>
      <if test="reportContent != null">
        #{reportContent,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qinfei.qferp.entity.administrative.AdministrativeOnbusinessReport">
    update t_administrative_onbusiness_report
    <set>
      <if test="administrativeId != null">
        administrative_id = #{administrativeId,jdbcType=INTEGER},
      </if>
      <if test="reportDate != null">
        report_date = #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="empName != null">
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empDept != null">
        emp_dept = #{empDept,jdbcType=INTEGER},
      </if>
      <if test="empDeptName != null">
        emp_dept_name = #{empDeptName,jdbcType=VARCHAR},
      </if>
      <if test="empDuty != null">
        emp_duty = #{empDuty,jdbcType=VARCHAR},
      </if>
      <if test="reportContent != null">
        report_content = #{reportContent,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qinfei.qferp.entity.administrative.AdministrativeOnbusinessReport">
    update t_administrative_onbusiness_report
    set administrative_id = #{administrativeId,jdbcType=INTEGER},
      report_date = #{reportDate,jdbcType=TIMESTAMP},
      emp_id = #{empId,jdbcType=INTEGER},
      emp_name = #{empName,jdbcType=VARCHAR},
      emp_dept = #{empDept,jdbcType=INTEGER},
      emp_dept_name = #{empDeptName,jdbcType=VARCHAR},
      emp_duty = #{empDuty,jdbcType=VARCHAR},
      report_content = #{reportContent,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_name = #{createName,jdbcType=VARCHAR},
      update_id = #{updateId,jdbcType=INTEGER},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>