<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 入职申请的教育经历； -->
<mapper namespace="com.qinfei.qferp.mapper.employ.EmployEntryEducationMapper">
    <resultMap id="BaseResultMap" type="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        <id column="edu_id" jdbcType="INTEGER" property="eduId"/>
        <result column="entry_id" jdbcType="INTEGER" property="entryId"/>
        <result column="edu_start" jdbcType="DATE" property="eduStart"/>
        <result column="edu_end" jdbcType="DATE" property="eduEnd"/>
        <result column="edu_college" jdbcType="VARCHAR" property="eduCollege"/>
        <result column="edu_location" jdbcType="VARCHAR" property="eduLocation"/>
        <result column="edu_duration" jdbcType="INTEGER" property="eduDuration"/>
        <result column="edu_major" jdbcType="VARCHAR" property="eduMajor"/>
        <result column="edu_record" jdbcType="VARCHAR" property="eduRecord"/>
        <result column="edu_highest" jdbcType="INTEGER" property="eduHighest"/>
        <result column="create_id" jdbcType="INTEGER" property="createId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="INTEGER" property="updateId"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>

    <sql id="BaseColumnList">
        edu_id,
        entry_id,
        edu_start,
        edu_end,
        edu_college,
        edu_location,
        edu_duration,
        edu_major,
        edu_record,
        edu_highest,
        <include refid="EmployCommon.commonColumn"/>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap" useCache="true">
        select
        <include refid="BaseColumnList"/>
        from e_entry_education where edu_id = #{eduId,jdbcType=INTEGER} and state &lt;&gt; -1
    </select>

    <select id="selectByEntryId" parameterType="java.lang.Integer" resultMap="BaseResultMap" useCache="true">
        select
            edu_id,
            entry_id,
            edu_start,
            edu_end,
            edu_college,
            edu_location,
            edu_duration,
            edu_major,
            edu_record,
            edu_highest
        from
          e_entry_education
        where
          entry_id = #{entryId,jdbcType=INTEGER} and state &lt;&gt; -1 order by edu_highest desc
    </select>

    <select id="getCountByParentId" parameterType="java.lang.Integer" resultType="java.lang.Integer" useCache="true">
        select count(*) from e_entry_education where entry_id = #{entryId} and state &lt;&gt; -1
    </select>

    <insert id="insert" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation" useGeneratedKeys="true"
            keyProperty="eduId">
        insert into e_entry_education (
        edu_id,
        entry_id,
        edu_start,
        edu_end,
        edu_college,
        edu_location,
        edu_duration,
        edu_major,
        edu_record,
        edu_highest,
        <include refid="EmployCommon.commonColumn"/>
        ) values (
        #{eduId,jdbcType=INTEGER},
        #{entryId,jdbcType=INTEGER},
        #{eduStart,jdbcType=DATE},
        #{eduEnd,jdbcType=DATE},
        #{eduCollege,jdbcType=VARCHAR},
        #{eduLocation,jdbcType=VARCHAR},
        #{eduDuration,jdbcType=INTEGER},
        #{eduMajor,jdbcType=VARCHAR},
        #{eduRecord,jdbcType=VARCHAR},
        #{eduHighest,jdbcType=INTEGER},
        <include refid="EmployCommon.commonColumnInsert"/>
        )
    </insert>

    <insert id="insertSelective" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation"
            useGeneratedKeys="true" keyProperty="eduId">
        insert into e_entry_education
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eduId != null">edu_id,</if>
            <if test="entryId != null">entry_id,</if>
            <if test="eduStart != null">edu_start,</if>
            <if test="eduEnd != null">edu_end,</if>
            <if test="eduCollege != null">edu_college,</if>
            <if test="eduLocation != null">edu_location,</if>
            <if test="eduDuration != null">edu_duration,</if>
            <if test="eduMajor != null">edu_major,</if>
            <if test="eduRecord != null">edu_record,</if>
            <if test="eduHighest != null">edu_highest,</if>
            <include refid="EmployCommon.createInfo"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eduId != null">#{eduId,jdbcType=INTEGER},</if>
            <if test="entryId != null">#{entryId,jdbcType=INTEGER},</if>
            <if test="eduStart != null">#{eduStart,jdbcType=DATE},</if>
            <if test="eduEnd != null">#{eduEnd,jdbcType=DATE},</if>
            <if test="eduCollege != null">#{eduCollege,jdbcType=VARCHAR},</if>
            <if test="eduLocation != null">#{eduLocation,jdbcType=VARCHAR},</if>
            <if test="eduDuration != null">#{eduDuration,jdbcType=INTEGER},</if>
            <if test="eduMajor != null">#{eduMajor,jdbcType=VARCHAR},</if>
            <if test="eduRecord != null">#{eduRecord,jdbcType=VARCHAR},</if>
            <if test="eduHighest != null">#{eduHighest,jdbcType=INTEGER},</if>
            <include refid="EmployCommon.createInfoValue"/>
        </trim>
    </insert>

    <!--批量插入家庭成员-->
    <insert id="insertSelectiveExcelBatch" parameterType="java.util.List"
            useGeneratedKeys="true"
            keyProperty="eduId">
        insert into e_entry_education
        <trim prefix="(" suffix=")" suffixOverrides=",">
            entry_id,
            edu_start,
            edu_end,
            edu_college,
            edu_location,
            edu_duration,
            edu_major,
            edu_record,
            edu_highest,
            create_id,
            create_name,
            create_time,
            update_id,
            update_name,
            update_time,
            state,
            version
        </trim>
        values
        <foreach collection="list" item="element" index="index" open="(" separator="),(" close=")">
            #{element.entryId,jdbcType=INTEGER},
            #{element.eduStart,jdbcType=DATE},
            #{element.eduEnd,jdbcType=DATE},
            #{element.eduCollege,jdbcType=VARCHAR},
            #{element.eduLocation,jdbcType=VARCHAR},
            #{element.eduDuration,jdbcType=INTEGER},
            #{element.eduMajor,jdbcType=VARCHAR},
            #{element.eduRecord,jdbcType=VARCHAR},
            #{element.eduHighest,jdbcType=INTEGER},
            #{element.createId,jdbcType=INTEGER},
            #{element.createName,jdbcType=VARCHAR},
            #{element.createTime,jdbcType=TIMESTAMP},
            #{element.updateId,jdbcType=INTEGER},
            #{element.updateName,jdbcType=VARCHAR},
            #{element.updateTime,jdbcType=TIMESTAMP},
            #{element.state,jdbcType=INTEGER},
            #{element.version,jdbcType=INTEGER}
        </foreach>
    </insert>

    <update id="deleteByPrimaryKey" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        update e_entry_education
        <include refid="EmployCommon.deleteInfo"/>
        where edu_id = #{eduId} and state &lt;&gt; -1
    </update>

    <!-- 最高学历不允许删除； -->
    <update id="deleteByPrimaryKeyAndParentId" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        update e_entry_education
        <include refid="EmployCommon.deleteInfo"/>
        where entry_id = #{entryId} and edu_id = #{eduId} and edu_highest = 0 and
        state &lt;&gt; -1
    </update>

    <!-- 移除所有最高学历； -->
    <update id="removeEducationHighest" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        update e_entry_education
        <set>
            edu_highest = 0,
            <include refid="EmployCommon.updateInfo"/>
        </set>
        where entry_id = #{entryId} and state &lt;&gt; -1
    </update>

    <!-- 设置最高学历； -->
    <update id="setEducationHighest" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        update e_entry_education
        <set>
            edu_highest = 1,
            <include refid="EmployCommon.updateInfo"/>
        </set>
        where entry_id = #{entryId} and edu_id = #{eduId} and edu_highest = 0 and
        state &lt;&gt; -1
    </update>

    <!-- 更新创建人信息； -->
    <update id="updateCreateInfoByParentId" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        update e_entry_education
        <set>
            create_id = #{createId},
            <include refid="EmployCommon.updateInfo"/>
        </set>
        where entry_id = #{entryId} and state &lt;&gt; -1 and create_id is null
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        update e_entry_education
        <set>
            <if test="entryId != null">entry_id = #{entryId,jdbcType=INTEGER},</if>
            <if test="eduStart != null">edu_start = #{eduStart,jdbcType=DATE},</if>
            <if test="eduEnd != null">edu_end = #{eduEnd,jdbcType=DATE},</if>
            <if test="eduCollege != null">edu_college = #{eduCollege,jdbcType=VARCHAR},</if>
            <if test="eduLocation != null">edu_location = #{eduLocation,jdbcType=VARCHAR},</if>
            <if test="eduDuration != null">edu_duration = #{eduDuration,jdbcType=INTEGER},</if>
            <if test="eduMajor != null">edu_major = #{eduMajor,jdbcType=VARCHAR},</if>
            <if test="eduRecord != null">edu_record = #{eduRecord,jdbcType=VARCHAR},</if>
            <if test="eduHighest != null">edu_highest = #{eduHighest,jdbcType=INTEGER},</if>
            <include refid="EmployCommon.updateInfo"/>
        </set>
        where
        edu_id = #{eduId,jdbcType=INTEGER} and state &lt;&gt; -1
    </update>

    <!--根据最高学历和入职ID更新教育经历-->
    <update id="updateByHighestAndEntryId" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        update e_entry_education
        <set>
            <if test="entryId != null">entry_id = #{entryId,jdbcType=INTEGER},</if>
            <if test="eduStart != null">edu_start = #{eduStart,jdbcType=DATE},</if>
            <if test="eduEnd != null">edu_end = #{eduEnd,jdbcType=DATE},</if>
            <if test="eduCollege != null">edu_college = #{eduCollege,jdbcType=VARCHAR},</if>
            <if test="eduLocation != null">edu_location = #{eduLocation,jdbcType=VARCHAR},</if>
            <if test="eduDuration != null">edu_duration = #{eduDuration,jdbcType=INTEGER},</if>
            <if test="eduMajor != null">edu_major = #{eduMajor,jdbcType=VARCHAR},</if>
            <if test="eduRecord != null">edu_record = #{eduRecord,jdbcType=VARCHAR},</if>
            <if test="eduHighest != null">edu_highest = #{eduHighest,jdbcType=INTEGER},</if>
            <include refid="EmployCommon.updateInfo"/>
        </set>
        where entry_id = #{entryId,jdbcType=INTEGER}
        <if test="eduHighest != null">
            and edu_highest = #{eduHighest,jdbcType=INTEGER}
        </if>
        and state &lt;&gt; -1
    </update>

    <!--根据最高学历和入职ID查询教育经历-->
    <select id="listByHighestAndEntryId" resultType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        select <include refid="BaseColumnList"/>
        from e_entry_education
        where entry_id = #{entryId,jdbcType=INTEGER}
        <if test="eduHighest != null">
            and edu_highest = #{eduHighest,jdbcType=INTEGER}
        </if>
        and state &lt;&gt; -1
    </select>

    <update id="updateByPrimaryKey" parameterType="com.qinfei.qferp.entity.employ.EmployEntryEducation">
        update
        e_entry_education
        set
        entry_id = #{entryId,jdbcType=INTEGER},
        edu_start = #{eduStart,jdbcType=DATE},
        edu_end = #{eduEnd,jdbcType=DATE},
        edu_college = #{eduCollege,jdbcType=VARCHAR},
        edu_location = #{eduLocation,jdbcType=VARCHAR},
        edu_duration = #{eduDuration,jdbcType=INTEGER},
        edu_major = #{eduMajor,jdbcType=VARCHAR},
        edu_record = #{eduRecord,jdbcType=VARCHAR},
        edu_highest = #{eduHighest,jdbcType=INTEGER},
        <include refid="EmployCommon.commonColumnUpdate"/>
        where
        edu_id = #{eduId,jdbcType=INTEGER} and state &lt;&gt; -1
    </update>
</mapper>