<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinfei.qferp.mapper.media1.MediaTerm1Mapper">
    <sql id="selectColumn">
         tmt.id,
         tmt.cell,
         tmt.cell_name as cellName,
         tmt.field_name as fieldName,
         tmt.data_type as dataType,
         tmt.db_html as dbHtml,
         tmt.db_json as dbJson,
         tmt.db_sql as dbSql,
         tmt.type,
         tmt.remark,
         tmt.sort_no as sortNo,
         tmt.media_plate_id as mediaPlateId,
         tmt.create_date as createDate,
         tmt.creator_id as creatorId,
         tmt.update_date as updateDate,
         tmt.updated_id as updatedId,
         tmt.versions,
         tmt.is_delete as isDelete,
         tmt.state
    </sql>

    <!--根据主键ID更新媒体表单-->
    <update id="updateById" parameterType="com.qinfei.qferp.entity.media1.MediaTerm1">
        update t_media_term1
        <set>
            versions = versions+1,
            update_date = now(),
            <if test="cell != null and cell != ''">
                cell = #{cell},
            </if>
            <if test="cellName != null and cellName != ''">
                cell_name = #{cellName},
            </if>
            <if test="fieldName != null and fieldName != ''">
                field_name = #{fieldName},
            </if>
            data_type = #{dataType},
            db_html = #{dbHtml},
            db_json = #{dbJson},
            db_sql = #{dbSql},
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="sortNo != null">
                sort_no = #{sortNo},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="mediaPlateId != null">
                media_plate_id = #{mediaPlateId}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!--根据主键ID更新媒体表单-->
    <update id="deleteBatch">
        update t_media_term1
        <set>
            versions = versions+1,
            update_date = now(),
            is_delete = 1
        </set>
        <where>
            id in
            <foreach item="id" collection="ids" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </update>

    <!--获取指定板块的扩展表单（显示媒体板块名称）-->
    <select id="listByMediaPlateId" resultType="java.util.Map">
        SELECT
	      tmp.`name` as mediaPlateName,
	      <include refid="selectColumn"/>
        FROM
          t_media_term1 tmt
        INNER JOIN t_media_plate tmp ON tmt.media_plate_id = tmp.id
        AND tmp.is_delete = 0
        WHERE
        	tmt.is_delete = 0
        AND tmt.media_plate_id = #{mediaPlateId}
    </select>

    <!--获取指定板块的媒体查询条件-->
    <select id="listMediaTermByPlateId" resultType="com.qinfei.qferp.entity.media1.MediaTerm1">
        SELECT
        <include refid="selectColumn"/>
        FROM
        t_media_term1 tmt
        WHERE
        tmt.is_delete = 0
        AND tmt.media_plate_id = #{mediaPlateId}
    </select>

    <!--判断媒体板块下是否存在相同的cell_code-->
    <select id="getMediaTermCount" resultType="java.lang.Integer">
        SELECT
          count(*)
        FROM
        t_media_term1 tmt
        WHERE
        tmt.is_delete = 0
        AND tmt.cell = #{cell}
        AND tmt.media_plate_id = #{mediaPlateId}
        <if test="id != null">
            AND tmt.id <![CDATA[<>]]> #{id}
        </if>
    </select>



</mapper>