<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mediaInfo-->
<mapper namespace="com.qinfei.qferp.mapper.MediaUserMapper">
    <!--查询媒体INFO单价-->
    <select id="getMediaInfoPrice" parameterType="com.qinfei.qferp.entity.biz.Article" resultType="java.math.BigDecimal">
        select ${priceColumn} from t_media_info where id = #{mediaId}
    </select>

    <!--查询稿件的发布价-->
    <select id="getArticleOutgoAmount" parameterType="com.qinfei.qferp.entity.biz.Article" resultType="java.math.BigDecimal">
        select art.pay_amount/(med.discount/100) payAmount from t_biz_article art left join t_media med
         on med.id = art.media_id
         where art.id = #{id}
    </select>

    <!--更新mediaInfo状态-->
    <update id="updateMediaInfoState" parameterType="com.qinfei.qferp.entity.media.MediaInfo">
        update t_media_info set state = #{state} where id = #{id}
    </update>

    <!--更新Media状态和单价-->
    <update id="updateMediaStatePrice" parameterType="map">
        update t_media set state = #{state},${priceColumn} = #{signPrice} where id = #{id}
    </update>
</mapper>