<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinfei.qferp.mapper.mediauser.MediaUserManagerStatisticsMapper">
    <!--权限相关-->
    <!--<sql id="userQxSql">-->
    <!--<if test="currentDeptQx == 'true'">-->
    <!--<if test="currentDeptId != null and currentDeptId != ''">-->
    <!--inner join(-->
    <!--select u.id uid,d.id did from sys_dept d-->
    <!--inner join sys_user u-->
    <!--on u.dept_id = d.id-->
    <!--where find_in_set(d.id,getChilds(#{currentDeptId}))-->
    <!--)usersdepts-->
    <!--${userTj}-->
    <!--</if>-->
    <!--</if>-->
    <!--</sql>-->
    <sql id="userQxSql">
        <if test="(currentUserId!=null and currentUserId!='' and currentUserId!=0) or (companyCode!= null and companyCode != '') or (deptIds!= null and deptIds != '')">
            ,sys_user u
            <where>
                <choose>
                    <when test="currentUserId!=null and currentUserId!='' and currentUserId!=0">
                        and u.id=#{currentUserId}
                    </when>
                    <otherwise>
                        <if test="companyCode!= null and companyCode != '' and companyCode != 'JT'">
                            AND u.company_code=#{companyCode}
                        </if>
                        <if test="deptIds != ''">
                            AND u.`dept_id` IN (${deptIds})
                        </if>
                    </otherwise>
                </choose>
                <if test="userTj != ''">
                    ${userTj}
                </if>
            </where>
        </if>
    </sql>

    <!--当前时间-->
    <sql id="currentDate">
        <!--本年度-->
        <if test="dateSelect == 1">
            and ${tableField} &gt;= concat(year(now()),'-01-01')
            and ${tableField} &lt;= concat(year(now()),'-12-31')
        </if>
        <!--本月份-->
        <if test="dateSelect == 3">
            and year(${tableField}) = year(now())
            and month(${tableField}) = month(now())
        </if>
        <!--当天-->
        <if test="dateSelect == 4">
            and year(${tableField}) = year(now())
            and month(${tableField}) = month(now())
            and day(${tableField}) = day(now())
        </if>
    </sql>

    <!--上期的时间-->
    <sql id="prevDate">
        <!--去年-->
        <if test="dateSelect == 1">
            and ${tableField} &gt;= concat(year(now())-1,'-01-01')
            and ${tableField} &lt;= concat(year(now())-1,'-12-31')
        </if>
        <!--上月份-->
        <if test="dateSelect == 3">
            and DATE_FORMAT((${tableField}), '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 MONTH), '%Y%m')
        </if>
        <!--前一天-->
        <if test="dateSelect == 4">
            and DATE_FORMAT((${tableField}), '%Y%m%d') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 DAY), '%Y%m%d')
        </if>
    </sql>

    <select id="topOptionSetValue" parameterType="map" resultType="map">
        <choose>
            <!--如果是请款则单独统计-->
            <when test="tjType == 'qkAmountBox'">
                select a.value,(a.value-b.value)/b.value changeValue
                FROM (
                SELECT sum(outgo.apply_amount) `value`
                FROM fee_outgo outgo
                <!--权限相关,统计当前部门-->
                <include refid="userQxSql">
                    <property name="userTj" value="and u.id = outgo.apply_id"/>
                </include>
                <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
                    where 1=1
                </if>
                and outgo.state &gt; 0
                <!--权限相关，统计当前用户-->
                <if test="currentUserId != null and currentUserId != ''">
                    and outgo.apply_id = #{currentUserId}
                </if>
                <include refid="currentDate">
                    <property name="tableField" value="outgo.apply_time"/>
                </include>
                ) a,
                (select sum(outgo.apply_amount) `value`
                from fee_outgo outgo
                <!--权限相关,统计当前部门-->
                <include refid="userQxSql">
                    <property name="userTj" value="and u.id = outgo.apply_id"/>
                </include>
                <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
                    where 1=1
                </if>
                and outgo.state &gt; 0
                <!--权限相关，统计当前用户-->
                <if test="currentUserId != null and currentUserId != ''">
                    and outgo.apply_id = #{currentUserId}
                </if>
                <include refid="prevDate">
                    <property name="tableField" value="outgo.apply_time"/>
                </include>
                ) b
            </when>
            <otherwise>
                select
                <choose>
                    <!--如果是统计图，则统计稿件数量和应付金额,以及增长率-->
                    <when test="tjType == 'middleBox'">
                        a.sj sj,
                        a.artCount artCount,a.payAmount payAmount
                    </when>
                    <otherwise>
                        a.value,(a.value-b.value)/b.value changeValue
                    </otherwise>
                </choose>
                from (
                select
                <if test="tjType == 'artCountBox'">
                    count(*) `value`
                </if>
                <if test="tjType == 'payAmountBox'">
                    sum(art.pay_amount) `value`
                </if>
                <if test="tjType == 'outgoAmountBox'">
                    sum(art.outgo_amount) `value`
                </if>

                <!--如果是中间的统计图表，则需要统计稿件数量和应付金额-->
                <if test="tjType == 'middleBox'">
                    <if test="dateSelect == 1">
                        year(art.issued_date) sj,
                    </if>
                    <!--统计本年12个月-->
                    <if test="dateSelect == 3">
                        month(art.issued_date) sj,
                    </if>
                    <!--统计当月31天-->
                    <if test="dateSelect == 4">
                        day(art.issued_date) sj,
                    </if>
                    count(*) `artCount`,sum(art.pay_amount) payAmount
                </if>
                from t_biz_article art
                left join t_media_audit med
                on art.media_id = med.id
                <!--权限相关,统计当前部门-->
                <include refid="userQxSql">
                    <property name="userTj" value="and u.id = art.media_user_id"/>
                </include>
                <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
                    where 1=1
                </if>
                and art.state = 1 and art.issue_states = 4
                <!--权限相关，统计当前用户-->
                <if test="currentUserId != null and currentUserId != ''">
                    and art.media_user_id = #{currentUserId}
                </if>
                <choose>
                    <!--如果是统计图，则统计稿件数量和应付金额,以及增长率-->
                    <when test="tjType == 'middleBox'">
                        <!--统计最近5年-->
                        <if test="dateSelect == 1">
                            and art.issued_date &gt;= concat(year(now())-5,'-01-01')
                            and art.issued_date &lt;= concat(year(now()),'-12-31')
                            group by year(art.issued_date)
                        </if>
                        <!--统计本年12个月-->
                        <if test="dateSelect == 3">
                            and year(art.issued_date) = year(now())
                            group by month(art.issued_date)
                        </if>
                        <!--统计当月31天-->
                        <if test="dateSelect == 4">
                            and year(art.issued_date) = year(now())
                            and month(art.issued_date) = month(now())
                            group by day(art.issued_date)
                        </if>
                    </when>
                    <otherwise>
                        <include refid="currentDate">
                            <property name="tableField" value="art.issued_date"/>
                        </include>
                    </otherwise>
                </choose>
                ) a
                <choose>
                    <when test="tjType == 'middleBox'">
                        <!--如果是统计图表，则不需要统计去年的数据-->
                    </when>
                    <otherwise>
                        ,
                        (
                        select
                        <if test="tjType == 'artCountBox'">
                            count(*) `value`
                        </if>
                        <if test="tjType == 'payAmountBox'">
                            sum(art.pay_amount) `value`
                        </if>
                        <if test="tjType == 'outgoAmountBox'">
                            sum(art.outgo_amount) `value`
                        </if>
                        from t_biz_article art
                        left join t_media_audit med
                        on art.media_id = med.id
                        <!--权限相关,统计当前部门-->
                        <include refid="userQxSql">
                            <property name="userTj" value="and u.id = art.media_user_id"/>
                        </include>
                        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
                            where 1=1
                        </if>
                        and art.state = 1 and art.issue_states = 4
                        <!--权限相关，统计当前用户-->
                        <if test="currentUserId != null and currentUserId != ''">
                            and art.media_user_id = #{currentUserId}
                        </if>
                        <include refid="prevDate">
                            <property name="tableField" value="art.issued_date"/>
                        </include>
                        ) b
                    </otherwise>
                </choose>
                <if test="tjType == 'middleBox'">
                    order by a.sj
                </if>
            </otherwise>
        </choose>
    </select>

    <!--查询供应商排名或者媒体排名-->
    <select id="supplierSort" parameterType="map" resultType="map">
        select
        <choose>
            <when test="tjType == 'mediaBox'">
                a.medId medId,a.medName medName,
            </when>
            <otherwise>
                a.supId supId,a.supName supName,
            </otherwise>
        </choose>
        a.payAmount payAmount,
        a.incomeAmount incomeAmount,
        (a.payAmount-b.payAmount)/b.payAmount changePayAmount
        FROM (
        SELECT
        <choose>
            <when test="tjType == 'mediaBox'">
                med.id medId,
                med.name medName,
            </when>
            <otherwise>
                sup.id supId,
                sup.name supName,
            </otherwise>
        </choose>
        sum(art.pay_amount) payAmount,
        sum(art.outgo_amount) incomeAmount
        FROM t_biz_article art
        INNER JOIN t_media_supplier sup
        ON art.supplier_id = sup.id
        LEFT JOIN t_media_audit med
        ON med.id = art.media_id
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = art.media_user_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>
        and art.state = 1 and art.issue_states = 4
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and art.media_user_id = #{currentUserId}
        </if>
        <!--稿件类型-->
        <if test="artType != null and artType != ''">
            and med.plate_id = #{artType}
        </if>
        <include refid="currentDate">
            <property name="tableField" value="art.issued_date"/>
        </include>
        <choose>
            <when test="tjType == 'mediaBox'">
                GROUP BY med.id
            </when>
            <otherwise>
                GROUP BY sup.id
            </otherwise>
        </choose>
        ORDER BY payAmount DESC, incomeAmount DESC
        ) a left join(
        SELECT
        <choose>
            <when test="tjType == 'mediaBox'">
                med.id medId,
                med.name medName,
            </when>
            <otherwise>
                sup.id supId,
                sup.name supName,
            </otherwise>
        </choose>
        sum(art.pay_amount) payAmount,
        sum(art.outgo_amount) incomeAmount
        FROM t_biz_article art
        INNER JOIN t_media_supplier sup
        ON art.supplier_id = sup.id
        LEFT JOIN t_media_audit med
        ON med.id = art.media_id
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = art.media_user_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>
        and art.state = 1 and art.issue_states = 4
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and art.media_user_id = #{currentUserId}
        </if>
        <!--稿件类型-->
        <if test="artType != null and artType != ''">
            and med.plate_id = #{artType}
        </if>
        <include refid="prevDate">
            <property name="tableField" value="art.issued_date"/>
        </include>
        <choose>
            <when test="tjType == 'mediaBox'">
                GROUP BY med.id
            </when>
            <otherwise>
                GROUP BY sup.id
            </otherwise>
        </choose>
        ) b
        <choose>
            <when test="tjType == 'mediaBox'">
                on a.medId = b.medId
            </when>
            <otherwise>
                on b.supId = a.supId
            </otherwise>
        </choose>
    </select>

    <!--请款排名-->
    <select id="outgoSort" parameterType="map" resultType="map">
        select outgo.supplier_id supplierId,
        outgo.supplier_name supplierName,
        sum(outgo.apply_amount) applyAmount,
        sum(outgo.pay_amount) payAmount,
        max(outgo.apply_time) applyTime
        from fee_outgo outgo
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = outgo.apply_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and outgo.apply_id = #{currentUserId}
        </if>
        <if test="dateSelect == 1">
            and outgo.apply_time &gt;= concat(year(now()),'-01-01')
            and outgo.apply_time &lt;= concat(year(now()),'-12-31')
        </if>
        <!--本月份-->
        <if test="dateSelect == 3">
            and year(outgo.apply_time) = year(now())
            and month(outgo.apply_time) = month(now())
        </if>
        <!--当天-->
        <if test="dateSelect == 4">
            and year(outgo.apply_time) = year(now())
            and month(outgo.apply_time) = month(now())
            and day(outgo.apply_time) = day(now())
        </if>
        group by outgo.supplier_id,
        outgo.supplier_name
        order by applyAmount desc
    </select>

    <!--稿件类型分布-->
    <select id="artTypeFb" parameterType="map" resultType="map">
        select
        mType.id id,
        mType.name name,
        count(1) count from t_biz_article art
        inner join t_media_audit med
        on med.id = art.media_id
        inner join t_media_plate mType
        on mType.id = med.plate_id
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = art.media_user_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and art.media_user_id = #{currentUserId}
        </if>
        <include refid="currentDate">
            <property name="tableField" value="art.issued_date"/>
        </include>
        group by mType.id,mType.name
    </select>

    <!--供应商列表的统计-->
    <!--<select id="supplierListSortOld" parameterType="map" resultType="map">
        select art.*,qk.applyAmount
        FROM (
        SELECT
        sup.id supId,
        sup.name supName,
        mtype.name artType,
        sup.contactor contactor,
        count(art.id) artCount,
        sum(art.pay_amount) payAmount,
        sum(art.outgo_amount) incomeAmount
        FROM t_biz_article art
        INNER JOIN t_media_supplier sup
        ON art.supplier_id = sup.id
        LEFT JOIN t_media_audit med
        ON med.id = art.media_id
        left join t_media_plate mtype
        on mtype.id = med.plate_id
        &lt;!&ndash;权限相关,统计当前部门&ndash;&gt;
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = art.media_user_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>
        art.state &gt;= 1
        &lt;!&ndash;权限相关，统计当前用户&ndash;&gt;
        <if test="currentUserId != null and currentUserId != ''">
            and art.media_user_id = #{currentUserId}
        </if>
        &lt;!&ndash;本年度&ndash;&gt;
        <if test="timeQuantum == 1">
            and art.issued_date &gt;= concat(year(now()),'-01-01')
            and art.issued_date &lt;= concat(year(now()),'-12-31')
        </if>
        &lt;!&ndash;本季度&ndash;&gt;
        <if test="timeQuantum == 2">
            and year(art.issued_date) = year(now())
            and QUARTER(art.issued_date) = QUARTER(now())
        </if>
        &lt;!&ndash;本月份&ndash;&gt;
        <if test="timeQuantum == 3">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
        </if>
        &lt;!&ndash;当天&ndash;&gt;
        <if test="timeQuantum == 4">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            and day(art.issued_date) = day(now())
        </if>
        &lt;!&ndash;时间区间&ndash;&gt;
        <if test="timeQuantum == 5">
            and art.issued_date &gt;= #{issuedDateStart}
            and art.issued_date &lt;= #{issuedDateEnd}
        </if>
        <if test="artType!=null and artType!=''">
            and med.m_type = #{artType}
        </if>
        <if test="supplierName!=null and supplierName!=''">
            and sup.name LIKE '%${supplierName}%'
        </if>
        <if test="contactor!=null and contactor!=''">
            and sup.contactor LIKE '%${contactor}%'
        </if>
        <choose>
            <when test="tjType == 'all'">

            </when>
            <otherwise>
                GROUP BY sup.id,mtype.name
            </otherwise>
        </choose>
        ) art
        left JOIN (
        SELECT outgo.supplier_id supId,
        sum(outgo.apply_amount) applyAmount
        FROM fee_outgo outgo
        &lt;!&ndash;权限相关,统计当前部门&ndash;&gt;
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = outgo.apply_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>
        and outgo.state &gt; 0
        &lt;!&ndash;权限相关，统计当前用户&ndash;&gt;
        <if test="currentUserId != null and currentUserId != ''">
            and outgo.apply_id = #{currentUserId}
        </if>
        <choose>
            <when test="tjType == 'all'">

            </when>
            <otherwise>
                GROUP BY outgo.supplier_id
            </otherwise>
        </choose>
        ) qk
        on qk.supId = art.supId
        order by art.payAmount desc
    </select>-->


    <!--供应商列表的统计（二） - 直接从 t_biz_article 中读取-->
    <select id="supplierListSort" parameterType="map" resultType="map">
        SELECT supplier_id as supId,supplier_name as supName,media_type_name as artType,supplier_contactor as
        contactor,sum(count·Id) as artCount, sum(profit) profitAmount, SUM(CASE WHEN outgo_states IN (0,1,2) THEN
        outgo_amount END) payAmount,
        SUM(CASE WHEN outgo_states=1 THEN outgo_amount END) incomeAmount,SUM(CASE WHEN outgo_states IN (1,2) THEN
        outgo_amount END) applyAmount from (
        select supplier_id,supplier_name,media_type_name,supplier_contactor,outgo_states,count(art.id) as
        countId,sum(pay_amount) outgo_amount, sum(profit) profit FROM t_biz_article art
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = art.media_user_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>

        AND art.state = 1 and art.issue_states = 4
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and art.media_user_id = #{currentUserId}
        </if>
        <!--本年度-->
        <if test="timeQuantum == 1">
            and art.issued_date &gt;= concat(year(now()),'-01-01')
            and art.issued_date &lt;= concat(year(now()),'-12-31')
        </if>
        <!--本季度-->
        <if test="timeQuantum == 2">
            and year(art.issued_date) = year(now())
            and QUARTER(art.issued_date) = QUARTER(now())
        </if>
        <!--本月份-->
        <if test="timeQuantum == 3">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
        </if>
        <!--当天-->
        <if test="timeQuantum == 4">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            and day(art.issued_date) = day(now())
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 5">
            <if test="issuedDateStart==null and issuedDateEnd==null">
                and art.issued_date=''
            </if>
            <if test="issuedDateStart!=null">
                and art.issued_date &gt;= #{issuedDateStart}
            </if>
            <if test="issuedDateEnd!=null">
                and art.issued_date &lt;= #{issuedDateEnd}
            </if>
        </if>
        <if test="artType!=null and artType!=''">
            and art.media_type_id = #{artType}
        </if>
        <if test="supplierName!=null and supplierName!=''">
            and art.supplier_name LIKE '%${supplierName}%'
        </if>
        <if test="contactor!=null and contactor!=''">
            and art.supplier_contactor LIKE '%${contactor}%'
        </if>
        GROUP BY supplier_id,supplier_name,media_type_name,supplier_contactor, outgo_states)a
        GROUP BY supplier_id,supplier_name,media_type_name,supplier_contactor order by payamount desc
    </select>


    <!--权限功能：currentUserId为指定人员，不选默认全部-->
    <sql id="currentUserQX">
        <if test="(currentUserId != null and currentUserId != '' and currentUserId != 0) or (deptIds != null and deptIds != '') or (companyCode != null and companyCode != '')">
            inner join sys_user su on ${userTj}
            <choose>
                <when test="currentUserId != null and currentUserId != '' and currentUserId != 0">
                    and su.id = #{currentUserId}
                </when>
                <otherwise>
                    <!--如果仅指定了公司，则按照公司查询，如果指定集团，则查询所有-->
                    <if test="companyCode != null and companyCode != '' and companyCode != 'JT'">
                        AND su.company_code = #{companyCode}
                    </if>
                    <if test="deptIds != '' and deptIds != null">
                        AND su.`dept_id` IN (${deptIds})
                    </if>
                </otherwise>
            </choose>
        </if>
    </sql>
    <!--时间条件：最近时间-->
    <sql id="recentTime">
        <!--本月-->
        <if test="timeQuantum == 1">
            and DATE_FORMAT(${timeField}, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
        </if>
        <!--本年-->
        <if test="timeQuantum == 2">
            and DATE_FORMAT(${timeField}, '%Y') = DATE_FORMAT(CURDATE(), '%Y')
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 3">
            <if test="issuedDateStart != null and issuedDateStart != ''">
                AND ${timeField} <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{issuedDateStart},' 00:00:00'),'%Y/%m/%d %T')
            </if>
            <if test="issuedDateEnd != null and issuedDateEnd != ''">
                AND ${timeField} <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{issuedDateEnd},' 23:59:59'),'%Y/%m/%d %T')
            </if>
        </if>
    </sql>
    <!--统计基础表-->
    <sql id="statisticsBasicTable">
        SELECT
        tba.id,
        tba.order_id,
        tba.media_id,
        tm.`name` AS mediaName,
        tmt.id AS mediaTypeId,
        tmt.`name` AS mediaTypeName,
        tms.id as supplier_id,
        tms.`name` as supplier_name,
        tms.contactor as supplier_contactor,
        tms.company_code as supplierCompanyCode,
        tms.phone as phone,
        tms.creator as supplierCreator,
        tba.sale_amount,
        tba.income_amount,
        tba.pay_amount,
        tba.outgo_states,
        tba.outgo_amount,
        IF(tba.outgo_states = 1,IFNULL(tba.outgo_amount,0),0) as paid,
        IF(tba.outgo_states IN (1, 2),IFNULL(tba.outgo_amount,0),0) as applyAmount,
        IF(tba.outgo_states IN (0, 2),IFNULL(tba.outgo_amount,0),0) as unpaid,
        tba.issued_date,
        tba.profit as profit
        FROM t_biz_article tba
        LEFT JOIN t_media_supplier tms ON tms.id = tba.supplier_id
        INNER JOIN t_biz_order tbo ON tba.order_id = tbo.id AND tbo.order_type = 1
        INNER JOIN t_media1 tm ON tm.id = tba.media_id
        LEFT JOIN t_media_plate tmt ON tm.plate_id = tmt.id AND tmt.is_delete = 0
        <include refid="currentUserQX">
            <property name="userTj" value=" su.id = tba.media_user_id"/>
        </include>
        WHERE tba.state = 1 and tba.issue_states = 4
        <!--板块-->
        <if test="mediaType != null and mediaType != ''">
            AND tmt.id = #{mediaType}
        </if>
        <!--媒体-->
        <if test="mediaId != null and mediaId != ''">
            AND tba.media_id = #{mediaId}
        </if>
        <!--供应商-->
        <if test="supplierId != null and supplierId != ''">
            and tba.supplier_id = #{supplierId}
        </if>
        <include refid="recentTime">
            <property name="timeField" value="tba.issued_date"/>
        </include>
    </sql>
    <!--供应商统计结果-->
    <select id="getSupplierStatisticsByParam" resultType="java.util.Map">
        SELECT
        count(t.id) AS articleNum,
        ifnull(sum(t.sale_amount),0) AS saleAmount,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.paid),0) AS paid,
        ifnull(sum(t.unpaid),0) AS unpaid,
        ifnull(sum(t.applyAmount),0) AS applyAmount,
        ifnull(sum(t.profit),0) AS profit
        FROM (<include refid="statisticsBasicTable"/>) t
    </select>
    <!--媒介趋势图-->
    <select id="listSupplierTrendStatisticsByParam" resultType="java.util.Map">
        SELECT
        <choose>
            <when test="timeQuantum == 1">
                DATE_FORMAT(t.issued_date,'%Y-%m-%d') as time,
            </when>
            <otherwise>
                DATE_FORMAT(t.issued_date,'%Y-%m') as time,
            </otherwise>
        </choose>
        count(t.id) AS articleNum,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.paid),0) AS paid,
        ifnull(sum(t.unpaid),0) AS unpaid,
        ifnull(sum(t.applyAmount),0) AS applyAmount,
        ifnull(sum(t.profit),0) AS profit
        FROM (<include refid="statisticsBasicTable"/>) t
        group by
        <choose>
            <when test="timeQuantum == 1">
                DATE_FORMAT(t.issued_date,'%Y-%m-%d')
            </when>
            <otherwise>
                DATE_FORMAT(t.issued_date,'%Y-%m')
            </otherwise>
        </choose>
        ORDER BY
        <choose>
            <when test="sidx != null and sidx != ''">
                ${sidx} ${sord}
            </when>
            <otherwise>
                time asc
            </otherwise>
        </choose>
    </select>
    <!--业务板块占比-->
    <select id="listSupplierMediaTypeStatisticsByParam" resultType="java.util.Map">
        SELECT
        t.mediaTypeId as mediaTypeId,
        t.mediaTypeName as mediaTypeName,
        count(t.id) AS articleNum,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.paid),0) AS paid,
        ifnull(sum(t.unpaid),0) AS unpaid,
        ifnull(sum(t.applyAmount),0) AS applyAmount,
        ifnull(sum(t.profit),0) AS profit
        FROM (<include refid="statisticsBasicTable"/>) t
        group by t.mediaTypeId,t.mediaTypeName
    </select>
    <!--供应商列表-->
    <select id="listSupplierStatisticsByParam" resultType="java.util.Map">
        SELECT
        t.supplier_id as supplierId,
        t.supplierCompanyCode,
        t.supplier_name as supplierName,
        t.supplier_contactor as supplierContactor,
        t.mediaTypeId,
        t.mediaTypeName,
        t.phone,
        t.supplierCreator,
        count(t.id) AS articleNum,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.paid),0) AS paid,
        ifnull(sum(t.unpaid),0) AS unpaid,
        ifnull(sum(t.applyAmount),0) AS applyAmount,
        ifnull(sum(t.profit),0) AS profit
        FROM (<include refid="statisticsBasicTable"/>) t
        group by t.supplier_id,t.supplierCompanyCode, t.supplier_name, t.supplier_contactor, t.mediaTypeId,t.mediaTypeName
        ORDER BY
        <choose>
            <when test="sidx != null and sidx != ''">
                ${sidx} ${sord}
            </when>
            <otherwise>
                outgoAmount desc
            </otherwise>
        </choose>
    </select>

</mapper>