<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinfei.qferp.mapper.mediauser.MediaUserStatisticsMapper">

    <!--权限相关-->
    <!--<sql id="userQxSql">-->
    <!--<if test="currentDeptQx == 'true'">-->
    <!--<if test="currentDeptId != null and currentDeptId != ''">-->
    <!--inner join(-->
    <!--select u.id uid,d.id did from sys_dept d-->
    <!--inner join sys_user u-->
    <!--on u.dept_id = d.id-->
    <!--where find_in_set(d.id,getChilds(#{currentDeptId}))-->
    <!--)usersdepts-->
    <!--${userTj}-->
    <!--</if>-->
    <!--</if>-->
    <!--</sql>-->
    <sql id="userQxSql">
        <if test="(currentUserId!=null and currentUserId!='' and currentUserId!=0) or (companyCode!= null and companyCode != '') or (deptIds!= null and deptIds != '')">
            ,sys_user u
            <where>
                <choose>
                    <when test="currentUserId!=null and currentUserId!='' and currentUserId!=0">
                        and u.id=#{currentUserId}
                    </when>
                    <otherwise>
                        <if test="companyCode!= null and companyCode != '' and companyCode != 'XH'">
                            AND u.company_code=#{companyCode}
                        </if>
                        <if test="deptIds != ''">
                            AND u.`dept_id` IN (${deptIds})
                        </if>
                    </otherwise>
                </choose>
                <if test="userTj != ''">
                    ${userTj}
                </if>
            </where>
        </if>
    </sql>

    <!--权限功能：currentUserId为指定人员，不选默认全部-->
    <sql id="currentUserQX">
        <if test="(currentUserId != null and currentUserId != '' and currentUserId != 0) or (deptIds != null and deptIds != '') or (companyCode != null and companyCode != '')">
            inner join sys_user su on ${userTj}
            <choose>
                <when test="currentUserId != null and currentUserId != '' and currentUserId != 0">
                    and su.id = #{currentUserId}
                </when>
                <otherwise>
                    <!--如果仅指定了公司，则按照公司查询，如果指定集团，则查询所有-->
                    <if test="companyCode != null and companyCode != '' and companyCode != 'JT'">
                        AND su.company_code = #{companyCode}
                    </if>
                    <if test="deptIds != '' and deptIds != null">
                        AND su.`dept_id` IN (${deptIds})
                    </if>
                </otherwise>
            </choose>
        </if>
    </sql>
    <!--时间条件：最近时间-->
    <sql id="recentTime">
        <!--本月-->
        <if test="timeQuantum == 1">
            and DATE_FORMAT(${timeField}, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
        </if>
        <!--本年-->
        <if test="timeQuantum == 2">
            and DATE_FORMAT(${timeField}, '%Y') = DATE_FORMAT(CURDATE(), '%Y')
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 3">
            <if test="issuedDateStart != null and issuedDateStart != ''">
                AND ${timeField} <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{issuedDateStart},' 00:00:00'),'%Y/%m/%d %T')
            </if>
            <if test="issuedDateEnd != null and issuedDateEnd != ''">
                AND ${timeField} <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{issuedDateEnd},' 23:59:59'),'%Y/%m/%d %T')
            </if>
        </if>
    </sql>
    <!--统计基础表-->
    <sql id="statisticsBasicTable">
        SELECT
        tba.id,
        tba.order_id,
        tba.media_id,
        tm.`name` AS mediaName,
        tmt.id AS mediaTypeId,
        tmt.`name` AS mediaTypeName,
        tba.supplier_id,
        tba.supplier_name,
        tba.supplier_contactor,
        tba.media_user_id,
        tba.media_user_name,
        tba.sale_amount,
        tba.income_amount,
        tba.pay_amount,
        tba.outgo_amount,
        IF(tba.outgo_states = 1,IFNULL(tba.outgo_amount,0),0) as paid,
        IF(tba.outgo_states IN (1, 2),IFNULL(tba.outgo_amount,0),0) as applyAmount,
        IF(tba.outgo_states IN (0, 2),IFNULL(tba.outgo_amount,0),0) as unpaid,
        tba.issued_date,
        tbo.company_name as custCompanyName,
        tba.profit as profit,
        tba.type_code as typeCode,
        tba.type_name as typeName
        FROM t_biz_article tba
        INNER JOIN t_biz_order tbo ON tba.order_id = tbo.id AND tbo.order_type = 1
        INNER JOIN t_media1 tm ON tm.id = tba.media_id
        LEFT  JOIN t_media_plate tmt ON tm.plate_id = tmt.id AND tmt.is_delete = 0
        <include refid="currentUserQX">
            <property name="userTj" value=" su.id = tba.media_user_id"/>
        </include>
        WHERE tba.state = 1 and tba.issue_states = 4
        <!--板块-->
        <if test="mediaType != null and mediaType != ''">
            AND tmt.id = #{mediaType}
        </if>
        <!--媒体-->
        <if test="mediaId != null and mediaId != ''">
            AND tba.media_id = #{mediaId}
        </if>
        <!--供应商-->
        <if test="supplierId != null and supplierId != ''">
            and tba.supplier_id = #{supplierId}
        </if>
        <include refid="recentTime">
            <property name="timeField" value="tba.issued_date"/>
        </include>
    </sql>
    <!--统计基础表，排除老的稿件-->
    <sql id="statisticsArtTypeBasicTable">
        SELECT
        tba.id,
        tba.order_id,
        tba.media_id,
        tm.`name` AS mediaName,
        tmt.id AS mediaTypeId,
        tmt.`name` AS mediaTypeName,
        tba.supplier_id,
        tba.supplier_name,
        tba.supplier_contactor,
        tba.media_user_id,
        tba.media_user_name,
        tba.sale_amount,
        tba.income_amount,
        tba.pay_amount,
        tba.outgo_amount,
        IF(tba.outgo_states = 1,IFNULL(tba.outgo_amount,0),0) as paid,
        IF(tba.outgo_states IN (1, 2),IFNULL(tba.outgo_amount,0),0) as applyAmount,
        IF(tba.outgo_states IN (0, 2),IFNULL(tba.outgo_amount,0),0) as unpaid,
        tba.issued_date,
        tbo.company_name as custCompanyName,
        tba.profit as profit,
        tba.type_code as typeCode,
        tba.type_name as typeName
        FROM t_biz_article tba
        INNER JOIN t_biz_order tbo ON tba.order_id = tbo.id AND tbo.order_type = 1
        INNER JOIN t_media1 tm ON tm.id = tba.media_id
        LEFT  JOIN t_media_plate tmt ON tm.plate_id = tmt.id AND tmt.is_delete = 0
        <include refid="currentUserQX">
            <property name="userTj" value=" su.id = tba.media_user_id"/>
        </include>
        WHERE tba.state = 1 and tba.issue_states = 4 AND tba.type_code IS NOT NULL
        <!--板块-->
        <if test="mediaType != null and mediaType != ''">
            AND tmt.id = #{mediaType}
        </if>
        <!--媒体-->
        <if test="mediaId != null and mediaId != ''">
            AND tba.media_id = #{mediaId}
        </if>
        <!--供应商-->
        <if test="supplierId != null and supplierId != ''">
            and tba.supplier_id = #{supplierId}
        </if>
        <include refid="recentTime">
            <property name="timeField" value="tba.issued_date"/>
        </include>
    </sql>
    <!--媒介统计结果-->
    <select id="getMediaUserStatisticsByParam"  resultType="java.util.Map">
        SELECT
        count(t.id) AS articleNum,
        count(DISTINCT t.supplier_id) AS supplierNum,
        ifnull(sum(t.sale_amount),0) AS saleAmount,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.applyAmount),0) AS applyAmount,
        ifnull(sum(t.paid),0) AS paid,
        ifnull(sum(t.unpaid),0) AS unpaid,
        ifnull(sum(t.profit),0) AS profit
        FROM (<include refid="statisticsBasicTable"/>) t
    </select>
    <!--媒介趋势图-->
    <select id="listMediaUserTrendStatisticsByParam" resultType="java.util.Map">
        SELECT
        <choose>
            <when test="timeQuantum == 1">
                DATE_FORMAT(t.issued_date,'%Y-%m-%d') as time,
            </when>
            <otherwise>
                DATE_FORMAT(t.issued_date,'%Y-%m') as time,
            </otherwise>
        </choose>
        count(t.id) AS articleNum,
        count(DISTINCT t.supplier_id) AS supplierNum,
        ifnull(sum(t.sale_amount),0) AS saleAmount,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.applyAmount),0) AS applyAmount,
        ifnull(sum(t.paid),0) AS paid,
        ifnull(sum(t.unpaid),0) AS unpaid,
        ifnull(sum(t.profit),0) AS profit
        FROM (<include refid="statisticsBasicTable"/>) t
        group by
        <choose>
            <when test="timeQuantum == 1">
                DATE_FORMAT(t.issued_date,'%Y-%m-%d')
            </when>
            <otherwise>
                DATE_FORMAT(t.issued_date,'%Y-%m')
            </otherwise>
        </choose>
        ORDER BY
        <choose>
            <when test="sidx != null and sidx != ''">
                ${sidx} ${sord}
            </when>
            <otherwise>
                time asc
            </otherwise>
        </choose>
    </select>
    <!--业务板块占比-->
    <select id="listMediaUserMediaTypeStatisticsByParam" resultType="java.util.Map">
        SELECT
        t.mediaTypeId as mediaTypeId,
        t.mediaTypeName as mediaTypeName,
        count(t.id) AS articleNum,
        count(DISTINCT t.supplier_id) AS supplierNum,
        ifnull(sum(t.sale_amount),0) AS saleAmount,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.paid),0) AS paid,
        ifnull(sum(t.unpaid),0) AS unpaid,
        ifnull(sum(t.profit),0) AS profit
        FROM (<include refid="statisticsBasicTable"/>) t
        group by t.mediaTypeId,t.mediaTypeName
    </select>
    <!--稿件类型占比-->
    <select id="listMediaUserArtTypeStatisticsByParam" resultType="java.util.Map">
        SELECT
        t.typeName,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.profit),0) AS profit
        FROM (
        <include refid="statisticsArtTypeBasicTable"/>
        ) t
        group by  t.typeName
    </select>
    <!--媒体列表-->
    <select id="listMediaUserMediaStatisticsByParam" resultType="java.util.Map">
        SELECT
        t.media_id as mediaId,
        t.mediaName as mediaName,
        t.mediaTypeId as mediaTypeId,
        t.mediaTypeName as mediaTypeName,
        count(t.id) AS articleNum,
        count(DISTINCT t.supplier_id) AS supplierNum,
        ifnull(sum(t.sale_amount),0) AS saleAmount,
        ifnull(sum(t.outgo_amount),0) AS outgoAmount,
        ifnull(sum(t.applyAmount),0) AS applyAmount,
        ifnull(sum(t.paid),0) AS paid,
        ifnull(sum(t.unpaid),0) AS unpaid,
        ifnull(sum(t.profit),0) AS profit
        FROM (<include refid="statisticsBasicTable"/>) t
        group by t.media_id
        ORDER BY
        <choose>
            <when test="sidx != null and sidx != ''">
                ${sidx} ${sord}
            </when>
            <otherwise>
                outgoAmount desc
            </otherwise>
        </choose>
    </select>

    <!--媒介统计结果-旧的-->
    <select id="mediaUserResult" parameterType="map" resultType="map">
        select
        <if test="timeQuantum == 1">
            month(art.issued_date) month,
        </if>
        <if test="timeQuantum == 2">
            month(art.issued_date) month,
        </if>
        <if test="timeQuantum == 3">
            month(art.issued_date) month,
        </if>
        <if test="timeQuantum == 4">
            day(art.issued_date) month,
        </if>
        <if test="timeQuantum == 5">
            concat(concat(#{issuedDateStart},'至'),#{issuedDateEnd}) month,
        </if>
        count(DISTINCT art.supplier_id) djgyssl,
        sum(art.pay_amount) hzjeze,
        sum(art.profit) profitAmount,
        sum((case when art.pay_amount is null then 0 else art.pay_amount end)-(case when art.outgo_amount is null then 0
        else art.outgo_amount end)) wzfje
        from t_biz_article art
        left join t_media_audit med
        on med.id = art.media_id
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = art.media_user_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>
        and art.state = 1 and art.issue_states = 4
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and art.media_user_id = #{currentUserId}
        </if>
        <!--稿件类型-->
        <if test="artType != null and artType != ''">
            and med.plate_id = #{artType}
        </if>
        <!--媒介-->
        <if test="mediaUserId != null and mediaUserId != ''">
            and art.media_user_id = #{mediaUserId}
        </if>
        <!--供应商-->
        <if test="supplierId != null and supplierId != ''">
            and art.supplier_id = #{supplierId}
        </if>
        <!--供应商-->
        <if test="supplierName != null and supplierName != ''">
            and art.supplier_name like '%${supplierName}%'
        </if>
        <!--本年度-->
        <if test="timeQuantum == 1">
            and art.issued_date &gt;= concat(year(now()),'-01-01')
            and art.issued_date &lt;= concat(year(now()),'-12-31')
            group by month(art.issued_date)
        </if>
        <!--本季度-->
        <if test="timeQuantum == 2">
            and year(art.issued_date) = year(now())
            and QUARTER(art.issued_date) = QUARTER(now())
            group by month(art.issued_date)
        </if>
        <!--本月份-->
        <if test="timeQuantum == 3">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            group by month(art.issued_date)
        </if>
        <!--当天-->
        <if test="timeQuantum == 4">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            and day(art.issued_date) = day(now())
            group by day(art.issued_date)
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 5">
            <if test="issuedDateStart != null and issuedDateStart != ''">
                and art.issued_date &gt;= #{issuedDateStart}
            </if>
            <if test="issuedDateEnd != null and issuedDateEnd != ''">
                and art.issued_date &lt;= #{issuedDateEnd}
            </if>
        </if>
        order by month
    </select>

    <!--供应商统计结果-旧的-->
    <select id="supplierResult" parameterType="map" resultType="map">
        select art.*,qkb.qkAmount qkAmount from(
        select
        <if test="timeQuantum == 1">month(art.issued_date) month,
        </if>
        <if test="
            timeQuantum == 2">month(art.issued_date) month,
        </if>
        <if test="
            timeQuantum == 3">month(art.issued_date) month,
        </if>
        <if test="
            timeQuantum == 4">day(art.issued_date) month,
        </if>
        <if test="
            timeQuantum == 5">concat(concat(#{issuedDateStart},'至'),#{issuedDateEnd}) month,
        </if>
        count(*)
        artCount,
        sum(art.pay_amount) payAmount,
        sum(art.profit) profitAmount,
        sum(art.outgo_amount) outgoAmount
        from t_biz_article art
        left join t_media_audit med
        on art.media_id = med.id
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = art.media_user_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
          where 1=1
        </if>
        and art.state = 1 and art.issue_states = 4
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and art.media_user_id = #{currentUserId}
        </if>
        <!--稿件类型-->
        <if test="artType != null and artType != ''">
            and med.plate_id = #{artType}
        </if>
        <!--媒介-->
        <if test="mediaUserId != null and mediaUserId != ''">
            and art.media_user_id = #{mediaUserId}
        </if>
        <!--供应商-->
        <if test="supplierId != null and supplierId != ''">
            and art.supplier_id = #{supplierId}
        </if>
        <!--供应商-->
        <if test="supplierName != null and supplierName != ''">
            and art.supplier_name like '%${supplierName}%'
        </if>
        <!--本年度-->
        <if test="timeQuantum == 1">
            and art.issued_date &gt;= concat(year(now()),'-01-01')
            and art.issued_date &lt;= concat(year(now()),'-12-31')
            group by month(art.issued_date)
        </if>
        <!--本季度-->
        <if test="timeQuantum == 2">
            and year(art.issued_date) = year(now())
            and QUARTER(art.issued_date) = QUARTER(now())
            group by month(art.issued_date)
        </if>
        <!--本月份-->
        <if test="timeQuantum == 3">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            group by month(art.issued_date)
        </if>
        <!--当天-->
        <if test="timeQuantum == 4">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            and day(art.issued_date) = day(now())
            group by day(art.issued_date)
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 5">
            <if test="issuedDateStart != null and issuedDateStart != ''">
                and art.issued_date &gt;= #{issuedDateStart}
            </if>
            <if test="issuedDateEnd != null and issuedDateEnd != ''">
                and art.issued_date &lt;= #{issuedDateEnd}
            </if>
        </if>
        ) art
        left JOIN (
        SELECT
        <if test="timeQuantum == 1">
            month(o.apply_time) month,
        </if>
        <if test="timeQuantum == 2">
            month(o.apply_time) month,
        </if>
        <if test="timeQuantum == 3">
            month(o.apply_time) month,
        </if>
        <if test="timeQuantum == 4">
            day(o.apply_time) month,
        </if>
        <if test="timeQuantum == 5">
            concat(concat(#{issuedDateStart},'至'),#{issuedDateEnd}) month,
        </if>
        sum(o.apply_amount) qkAmount
        FROM fee_outgo o
        <include refid="userQxSql">
            <property name="userTj" value="and u.id = o.apply_id"/>
        </include>
        <if test="(currentUserId==null or currentUserId=='' or currentUserId==0) and (companyCode== null or companyCode == '') and (deptIds== null or deptIds == '')">
            where 1=1
        </if>
        and o.state &gt;= 0
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and o.apply_id = #{currentUserId}
        </if>
        <!--媒介-->
        <if test="mediaUserId != null and mediaUserId != ''">
            and o.apply_id = #{mediaUserId}
        </if>
        <!--供应商-->
        <if test="supplierId != null and supplierId != ''">
            and o.supplier_id = #{supplierId}
        </if>
        <!--供应商-->
        <if test="supplierName != null and supplierName != ''">
            and o.supplier_name like '%${supplierName}%'
        </if>
        <!--本年度-->
        <if test="timeQuantum == 1">
            and o.apply_time &gt;= concat(year(now()),'-01-01')
            and o.apply_time &lt;= concat(year(now()),'-12-31')
            group by month(o.apply_time)
        </if>
        <!--本季度-->
        <if test="timeQuantum == 2">
            and year(o.apply_time) = year(now())
            and QUARTER(o.apply_time) = QUARTER(now())
            group by month(o.apply_time)
        </if>
        <!--本月份-->
        <if test="timeQuantum == 3">
            and year(o.apply_time) = year(now())
            and month(o.apply_time) = month(now())
            group by month(o.apply_time)
        </if>
        <!--当天-->
        <if test="timeQuantum == 4">
            and year(o.apply_time) = year(now())
            and month(o.apply_time) = month(now())
            and day(o.apply_time) = day(now())
            group by day(o.apply_time)
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 5">
            <if test="issuedDateStart != null and issuedDateStart != ''">
                and o.apply_time &gt;= #{issuedDateStart}
            </if>
            <if test="issuedDateEnd != null and issuedDateEnd != ''">
                and o.apply_time &lt;= #{issuedDateEnd}
            </if>
        </if>
        ) qkb
        on art.month = qkb.month
    </select>

</mapper>