<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinfei.qferp.mapper.meeting.MeetingRoomApplyMapper">
    <sql id="selectColumn">
        tmra.id,
        tmra.meet_room_id as meetRoomId,
        tmra.meet_id as meetId,
        tmra.start_time as startTime,
        tmra.end_time as endTime,
        tmra.audit_flag as auditFlag,
        tmra.item_id as itemId,
        tmra.task_id as taskId,
        tmra.approver_user_id as approverUserId,
        tmra.create_date as createDate,
        tmra.create_id as createId,
        tmra.update_date as updateDate,
        tmra.update_id as updateId,
        tmra.remarks,
        tmra.state,
        tmra.company_code as companyCode
    </sql>
    <sql id="meetingRoomColumn">
        tmr.id as roomId,
        tmr.name as roomName,
        tmr.pic_path as picPath,
        tmr.address,
        tmr.people_num as peopleNum,
        tmr.other_device as otherDevice,
        tmr.enabled,
        tmr.audit_flag as auditFlag,
        tmr.audit_user_id as auditUserId,
        tmr.open_time_start as openTimeStart,
        tmr.open_time_end as openTimeEnd,
        tmr.meet_unit as meetUnit,
        tmr.once_time as onceTime,
        tmr.apply_range as applyRange,
        tmr.remarks as roomRemarks,
        tmr.apply_notice as applyNotice,
        tmr.state as roomState,
        tmr.company_code as roomCompanyCode
    </sql>

    <resultMap id="applyResultMap" type="com.qinfei.qferp.entity.meeting.MeetingRoomApply">
        <id column="id" property="id"/>
        <result column="meetRoomId" property="meetRoomId"/>
        <result column="meetId" property="meetId"/>
        <result column="startTime" property="startTime"/>
        <result column="endTime" property="endTime"/>
        <result column="auditFlag" property="auditFlag"/>
        <result column="itemId" property="itemId"/>
        <result column="taskId" property="taskId"/>
        <result column="approverUserId" property="approverUserId"/>
        <result column="createDate" property="createDate"/>
        <result column="createId" property="createId"/>
        <result column="updateDate" property="updateDate"/>
        <result column="updateId" property="updateId"/>
        <result column="remarks" property="remarks"/>
        <result column="state" property="state"/>
        <result column="companyCode" property="companyCode"/>
        <association property="meetingRoom" javaType="com.qinfei.qferp.entity.meeting.MeetingRoom">
            <id column="roomId" property="id"/>
            <result column="roomName" property="name"/>
            <result column="picPath" property="picPath"/>
            <result column="address" property="address"/>
            <result column="peopleNum" property="peopleNum"/>
            <result column="otherDevice" property="otherDevice"/>
            <result column="enabled" property="enabled"/>
            <result column="auditFlag" property="auditFlag"/>
            <result column="auditUserId" property="auditUserId"/>
            <result column="openTimeStart" property="openTimeStart"/>
            <result column="openTimeEnd" property="openTimeEnd"/>
            <result column="meetUnit" property="meetUnit"/>
            <result column="onceTime" property="onceTime"/>
            <result column="applyRange" property="applyRange"/>
            <result column="roomRemarks" property="remarks"/>
            <result column="applyNotice" property="applyNotice"/>
            <result column="roomState" property="state"/>
            <result column="roomCompanyCode" property="companyCode"/>
        </association>
    </resultMap>

    <!--新增会议室预约-->
    <insert id="save" parameterType="com.qinfei.qferp.entity.meeting.MeetingRoomApply" useGeneratedKeys="true" keyProperty="id">
        insert into t_meeting_room_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="meetRoomId != null">meet_room_id,</if>
            <if test="meetId != null">meet_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="itemId != null">item_id,</if>
            <if test="auditFlag != null">audit_flag,</if>
            <if test="taskId != null">task_id,</if>
            <if test="approverUserId != null">approver_user_id,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createId != null">create_id,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="updateId != null">update_id,</if>
            <if test="remarks != null and remarks != ''">remarks,</if>
            <if test="state != null">state,</if>
            <if test="companyCode != null and companyCode != ''">company_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="meetRoomId != null">#{meetRoomId},</if>
            <if test="meetId != null">#{meetId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="auditFlag != null">#{auditFlag},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="approverUserId != null">#{approverUserId},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createId != null">#{createId},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="remarks != null and remarks != ''">#{remarks},</if>
            <if test="state != null">#{state},</if>
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
        </trim>
    </insert>

    <!--修改会议室预约-->
    <update id="updateById" parameterType="com.qinfei.qferp.entity.meeting.MeetingRoomApply">
        update t_meeting_room_apply
        <set>
            <if test="meetRoomId != null">
                meet_room_id = #{meetRoomId},
            </if>
            <if test="meetId != null">
                meet_id = #{meetId},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="itemId != null">
                item_id = #{itemId},
            </if>
            <if test="auditFlag != null">
                audit_flag = #{auditFlag},
            </if>
            <if test="taskId != null and taskId != ''">
                task_id = #{taskId},
            </if>
            <if test="approverUserId != null and approverUserId != ''">
                approver_user_id = #{approverUserId},
            </if>
            update_date = now(),
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
            remarks = #{remarks},
            <if test="state != null">
                state = #{state},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!--根据ID更新状态-->
    <update id="updateStateById">
        UPDATE t_meeting_room_apply
          SET state = #{state}
        WHERE
          id = #{id}
    </update>

    <!--根据ID获取会议室信息-->
    <select id="getMeetingRoomApplyById" resultType="com.qinfei.qferp.entity.meeting.MeetingRoomApply">
        SELECT
        <include refid="selectColumn"/>
        FROM
        t_meeting_room_apply tmra
        WHERE tmra.state <![CDATA[<>]]> -9
        AND id = #{id}
    </select>

    <!--根据时间获取存在的预约列表-->
    <select id="listMeetingApplyByTimeRange" resultType="com.qinfei.qferp.entity.meeting.MeetingRoomApply">
        SELECT
          <include refid="selectColumn"/>
        FROM
        t_meeting_room_apply tmra
        WHERE tmra.state <![CDATA[<>]]> -9
        AND tmra.state <![CDATA[<>]]> -1
        AND ((tmra.start_time <![CDATA[<]]> #{startTime} and tmra.end_time <![CDATA[>]]> #{startTime})
        OR (tmra.start_time <![CDATA[<]]> #{endTime} and tmra.end_time <![CDATA[>]]> #{endTime})
        OR (tmra.start_time <![CDATA[>=]]> #{startTime} and tmra.end_time <![CDATA[<=]]> #{endTime})
        )
        AND tmra.company_code = #{companyCode}
        AND tmra.meet_room_id = #{meetRoomId}
        <if test="id != null">
            AND id <![CDATA[<>]]> #{id}
        </if>
    </select>

    <!--根据参数获取列表-->
    <select id="listMeetingApplyByParam" resultType="com.qinfei.qferp.entity.meeting.MeetingRoomApply">
        SELECT
        <include refid="selectColumn"/>
        FROM
        t_meeting_room_apply tmra
        WHERE tmra.state <![CDATA[<>]]> -9
        <if test="startTime != null and startTime != ''">
            AND tmra.start_time <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND tmra.end_time <![CDATA[<=]]> #{endTime}
        </if>
        <if test="auditFlag != null">
            AND tmra.audit_flag = #{auditFlag}
        </if>
        <if test="state != null">
            AND tmra.state = #{state}
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND tmra.company_code = #{companyCode}
        </if>
    </select>

    <!--获取我的预约列表-->
    <select id="listMyMeetingApplyByParam" resultMap="applyResultMap">
        SELECT
          <include refid="selectColumn"/>, <include refid="meetingRoomColumn"/>
        FROM
        t_meeting_room_apply tmra
        INNER JOIN t_meeting_room tmr ON tmra.meet_room_id = tmr.id
        WHERE tmra.state <![CDATA[<>]]> -9
        <choose>
            <!--已结束-->
            <when test="oldFlag != null and oldFlag == 1">
                AND tmra.end_time <![CDATA[<=]]> now()
            </when>
            <!--未结束-->
            <otherwise>
                AND tmra.end_time <![CDATA[>]]> now()
            </otherwise>
        </choose>
        <if test="userId != null">
            AND tmra.create_id = #{userId}
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND tmra.company_code = #{companyCode}
        </if>
    </select>

    <!--根据预约ID获取预约信息-->
    <select id="getMyMeetingApplyById" resultMap="applyResultMap">
        SELECT
        <include refid="selectColumn"/>, <include refid="meetingRoomColumn"/>
        FROM
        t_meeting_room_apply tmra
        INNER JOIN t_meeting_room tmr ON tmra.meet_room_id = tmr.id
        WHERE tmra.state <![CDATA[<>]]> -9 and tmra.id = #{id}
    </select>

    <!--获取我的预约数量-->
    <select id="getMyApplyCountByParam" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
        t_meeting_room_apply tmra
        WHERE tmra.state <![CDATA[<>]]> -9
        <choose>
            <!--已结束-->
            <when test="oldFlag != null and oldFlag == 1">
                AND tmra.end_time <![CDATA[<=]]> now()
            </when>
            <!--未结束-->
            <otherwise>
                AND tmra.end_time <![CDATA[>]]> now()
            </otherwise>
        </choose>
        <if test="userId != null">
            AND tmra.create_id = #{userId}
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND tmra.company_code = #{companyCode}
        </if>
    </select>

    <!--获取我的预约列表-->
    <select id="listApplyMeetingRoomByParam" resultType="com.qinfei.qferp.entity.meeting.MeetingRoomApply">
        SELECT
          <include refid="selectColumn"/>
        FROM
        t_meeting_room_apply tmra
        WHERE tmra.state <![CDATA[<>]]> -9
        AND tmra.end_time <![CDATA[>]]> now()
        <if test="userId != null">
            AND tmra.create_id = #{userId}
        </if>
        <if test="meetRoomId != null">
            AND tmra.meet_room_id = #{meetRoomId}
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND tmra.company_code = #{companyCode}
        </if>
    </select>

    <!--根据roomId获取预约集合-->
    <select id="listMeetingApplyByRoomId" resultType="com.qinfei.qferp.entity.meeting.MeetingRoomApply">
        SELECT
        <include refid="selectColumn"/>, su.name as userName, su.dept_name as deptName
        FROM
        t_meeting_room_apply tmra
        left join sys_user su on su.id = tmra.create_id
        WHERE tmra.state <![CDATA[<>]]> -9
        AND tmra.state <![CDATA[<>]]> -1
        <if test="currentDay != null and currentDay != ''">
            AND DATE_FORMAT(tmra.start_time, '%Y-%m-%d') = #{currentDay}
        </if>
        <if test="startTime != null and startTime != ''">
            AND tmra.start_time <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND tmra.end_time <![CDATA[<=]]> #{endTime}
        </if>
        <if test="auditFlag != null">
            AND tmra.audit_flag = #{auditFlag}
        </if>
        <if test="state != null">
            AND tmra.state = #{state}
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND tmra.company_code = #{companyCode}
        </if>
        <if test="roomIdList != null and roomIdList.size() > 0">
            AND tmra.meet_room_id in
            <foreach collection="roomIdList" item="roomId" index="index" open="(" close=")" separator=",">
                #{roomId}
            </foreach>
        </if>
    </select>

    <!--管理员获取会议室预约记录-->
    <select id="getMeetingRoomHasApplyCount" resultType="java.lang.Integer">
        SELECT
          count(*)
        FROM
        t_meeting_room_apply tmra
        LEFT JOIN sys_user su ON tmra.create_id = su.id
        INNER JOIN t_meeting_room tmr ON tmra.meet_room_id = tmr.id
        LEFT JOIN t_meeting tm ON tm.id = tmra.meet_id
        WHERE
        tmra.state <![CDATA[<>]]> -9
        <if test="applyDate != null and applyDate != ''">
            AND DATE_FORMAT(tmra.start_time, '%Y-%m-%d') = #{applyDate}
        </if>
        <if test="address != null and address != ''">
            AND tmr.address LIKE CONCAT('%', #{address}, '%')
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND tmra.company_code = #{companyCode}
        </if>
        <if test="roomId != null">
            AND tmr.id = #{roomId}
        </if>
        <if test="userId != null">
            AND tmra.create_id = #{userId}
        </if>
        <if test="state != null">
            <choose>
                <when test="state == 4">
                    AND tmra.end_time <![CDATA[<]]> now()
                </when>
                <when test="state == 3">
                    AND tmra.start_time <![CDATA[<]]> now() AND tmra.end_time <![CDATA[>]]> now() AND tmra.state = 1
                </when>
                <when test="state == 1">
                    AND tmra.start_time <![CDATA[>]]> now() AND tmra.state = 1
                </when>
                <otherwise>
                    AND tmra.end_time <![CDATA[>]]> now() AND tmra.state = #{state}
                </otherwise>
            </choose>
        </if>
    </select>
    <select id="listMeetingRoomHasApplyByParam" resultType="java.util.Map">
        SELECT
          su.`name`,
          su.dept_name AS deptName,
          tmr. NAME AS roomName,
          tmr.pic_path AS picPath,
          tmr.address,
          tm.meet_type AS meetType,
          tm.title,
          tmra.start_time AS startTime,
          tmra.end_time AS endTime,
          tmra.create_id AS createId,
          tmra.state,
          tmra.company_code AS companyCode
        FROM
          t_meeting_room_apply tmra
        LEFT JOIN sys_user su ON tmra.create_id = su.id
        INNER JOIN t_meeting_room tmr ON tmra.meet_room_id = tmr.id
        LEFT JOIN t_meeting tm ON tm.id = tmra.meet_id
        WHERE
        tmra.state <![CDATA[<>]]> -9
        <if test="applyDate != null and applyDate != ''">
            AND DATE_FORMAT(tmra.start_time, '%Y-%m-%d') = #{applyDate}
        </if>
        <if test="address != null and address != ''">
            AND tmr.address LIKE CONCAT('%', #{address}, '%')
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND tmra.company_code = #{companyCode}
        </if>
        <if test="roomId != null">
            AND tmr.id = #{roomId}
        </if>
        <if test="userId != null">
            AND tmra.create_id = #{userId}
        </if>
        <if test="state != null">
            <choose>
                <when test="state == 4">
                    AND tmra.end_time <![CDATA[<]]> now()
                </when>
                <when test="state == 3">
                    AND tmra.start_time <![CDATA[<]]> now() AND tmra.end_time <![CDATA[>]]> now() AND tmra.state = 1
                </when>
                <when test="state == 1">
                    AND tmra.start_time <![CDATA[>]]> now() AND tmra.state = 1
                </when>
                <otherwise>
                    AND tmra.end_time <![CDATA[>]]> now() AND tmra.state = #{state}
                </otherwise>
            </choose>
        </if>
        ORDER BY tmra.update_date desc
    </select>
</mapper>