<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinfei.qferp.mapper.study.PaperDetailMapper">
    <sql id="selectColumn">
      tpd.id,
      tpd.paper_id as paperId,
      tpd.question_id as questionId,
      tpd.question_grade as questionGrade,
      tpd.create_id as createId,
      tpd.create_date as createDate,
      tpd.update_id as updateId,
      tpd.update_date as updateDate,
      tpd.state
    </sql>
    <sql id="paperColumn">
      tp.course_id as courseId,
      tp.course_plate as paperCoursePlate,
      tp.paper_title as paperTitle,
      tp.paper_grade as paperGrade,
      tp.paper_time as paperTime,
      tp.paper_time_setting as paperTimeSetting,
      tp.paper_way as paperWay,
      tp.auto_mark_flag as autoMarkFlag,
      tp.paper_desc as paperDesc,
      tp.paper_start_time as paperStartTime,
      tp.paper_end_time as paperEndTime,
      tp.state as paperState
    </sql>
    <sql id="questionColumn">
      tq.course_plate as coursePlate,
      tq.question_type as questionType,
      tq.question_level as questionLevel,
      tq.question_title as questionTitle,
      tq.question_answer_num as questionAnswerNum,
      tq.question_answer as questionAnswer,
      tq.question_answer_desc as questionAnswerDesc
    </sql>
    <sql id="userColumn">
        su.id as sysUserId,
        su.user_name as userName,
        su.password as password,
        su.name as name,
        su.image as image,
        su.sex as sex,
        su.phone as phone,
        su.qq as qq,
        su.wechat as wechat,
        su.email as email,
        su.is_mgr as isMgr,
        su.dept_id as deptId,
        su.dept_name as deptName,
        su.company_code as companyCode
    </sql>

    <!--试卷详情结果-->
    <resultMap id="paperDetailResultMap" type="com.qinfei.qferp.entity.study.PaperDetail">
        <id column="id" property="id"/>
        <result column="paperId" property="paperId"/>
        <result column="questionId" property="questionId"/>
        <result column="questionGrade" property="questionGrade"/>
        <result column="createDate" property="createDate"/>
        <result column="createId" property="createId"/>
        <result column="updateDate" property="updateDate"/>
        <result column="updateId" property="updateId"/>
        <result column="state" property="state"/>
        <association property="paper" javaType="com.qinfei.qferp.entity.study.Paper">
            <result column="courseId" property="courseId"/>
            <result column="paperCoursePlate" property="coursePlate"/>
            <result column="paperTitle" property="paperTitle"/>
            <result column="paperGrade" property="paperGrade"/>
            <result column="paperTime" property="paperTime"/>
            <result column="paperTimeSetting" property="paperTimeSetting"/>
            <result column="paperWay" property="paperWay"/>
            <result column="autoMarkFlag" property="autoMarkFlag"/>
            <result column="paperDesc" property="paperDesc"/>
            <result column="paperStartTime" property="paperStartTime"/>
            <result column="paperEndTime" property="paperEndTime"/>
            <result column="paperState" property="state"/>
        </association>
        <association property="question" javaType="com.qinfei.qferp.entity.study.Question">
            <result column="coursePlate" property="coursePlate"/>
            <result column="questionType" property="questionType"/>
            <result column="questionLevel" property="questionLevel"/>
            <result column="questionTitle" property="questionTitle"/>
            <result column="questionAnswerNum" property="questionAnswerNum"/>
            <result column="questionAnswer" property="questionAnswer"/>
            <result column="questionAnswerDesc" property="questionAnswerDesc"/>
        </association>
    </resultMap>

    <!--新增-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT into t_train_paper_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paperId != null">paper_id,</if>
            <if test="questionId != null">question_id,</if>
            <if test="questionGrade != null">question_grade,</if>
            <if test="createId != null">create_id,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="state != null">state</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paperId != null">#{paperId},</if>
            <if test="questionId != null">#{questionId},</if>
            <if test="questionGrade != null">#{questionGrade},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="state != null">#{state}</if>
        </trim>
    </insert>

    <!--批量新增-->
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT  into t_train_paper_detail (
        paper_id,
        question_id,
        question_grade,
        create_id,
        create_date,
        update_id,
        update_date,
        state
        )
        VALUES
        <foreach collection="list" item="questionDetail" index="index" separator=",">
            (
            #{questionDetail.paperId},
            #{questionDetail.questionId},
            #{questionDetail.questionGrade},
            #{questionDetail.createId},
            now(),
            #{questionDetail.updateId},
            now(),
            0
            )
        </foreach>
    </insert>

    <!--修改-->
    <update id="updateById">
        update t_train_paper_detail
        <set>
            update_date = now(),
            update_id = #{updateId},
            <if test="questionGrade != null">question_grade = #{questionGrade},</if>
            <if test="state != null">state = #{state}</if>
        </set>
        where id = #{id}
    </update>

    <!--批量修改试卷详情状态-->
    <update id="updateStateByIds">
        update t_train_paper_detail
        <set>
            update_date = now(),
            update_id = #{updateId},
            state = #{state}
        </set>
        where
        id in
        <foreach item="id" collection="ids" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!--批量更新试卷详情信息-->
    <update id="batchUpdatePaperDetail">
        UPDATE t_train_paper_detail
        <trim prefix="set" suffixOverrides=",">
            update_date = now(),
            update_id = #{updateId},
            <trim prefix="question_grade = case " suffix="else question_grade end,">
                <foreach collection="paperDetailList" item="paperDetail" index="index">
                    <if test="paperDetail.questionGrade != null">
                        when id = #{paperDetail.id} then #{paperDetail.questionGrade}
                    </if>
                </foreach>
            </trim>
            <trim prefix="state = case " suffix="else state end,">
                <foreach collection="paperDetailList" item="paperDetail" index="index">
                    <if test="paperDetail.state != null">
                        when id = #{paperDetail.id} then #{paperDetail.state}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        id in
        <foreach item="paperDetail" collection="paperDetailList" index="index" open="(" close=")" separator=",">
            #{paperDetail.id}
        </foreach>
    </update>

    <!--根据试卷ID获取答题详情-->
    <select id="listPaperDetailByPaperId" resultMap="paperDetailResultMap">
        SELECT
          <include refid="paperColumn"/>,<include refid="selectColumn"/>,<include refid="questionColumn"/>
        FROM
        t_train_paper tp
        INNER JOIN t_train_paper_detail tpd ON tp.id = tpd.paper_id
        AND tpd.state <![CDATA[<>]]> -9
        INNER JOIN t_train_question tq ON tpd.question_id = tq.id
        WHERE tp.id = #{paperId}
        <if test="orderFlag">
            ORDER BY tq.question_type, tpd.id ASC
        </if>
    </select>

    <!--根据试卷ID获取详情ID集合-->
    <select id="listDetailIdByPaperId" resultType="java.lang.Integer">
        SELECT
          tpd.id
        FROM
        t_train_paper_detail tpd
        WHERE
        tpd.state  <![CDATA[<>]]> -9
        AND tpd.paper_id = #{paperId}
    </select>

    <!--根据试卷ID获取试卷题目列表-->
    <select id="listPaperQuestionByPaperId" resultMap="paperDetailResultMap">
        SELECT
          <include refid="selectColumn"/>,<include refid="questionColumn"/>
        FROM
          t_train_paper_detail tpd
        INNER JOIN t_train_question tq ON tpd.question_id = tq.id
        WHERE
        tpd.state  <![CDATA[<>]]> -9
        AND tpd.paper_id = #{paperId}
    </select>

</mapper>