<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 考核方案； -->
<mapper namespace="com.qinfei.qferp.mapper.performance.PerformanceSchemeMapper">
    <resultMap id="BaseResultMap" type="com.qinfei.qferp.entity.performance.PerformanceScheme">
        <id column="sch_id" jdbcType="INTEGER" property="schId"/>
        <result column="sch_code" jdbcType="VARCHAR" property="schCode"/>
        <result column="sch_type" jdbcType="INTEGER" property="schType"/>
        <result column="sch_name" jdbcType="VARCHAR" property="schName"/>
        <result column="post_id" jdbcType="INTEGER" property="postId"/>
        <result column="post_name" jdbcType="VARCHAR" property="postName"/>
        <result column="sch_principle" jdbcType="VARCHAR" property="schPrinciple"/>
        <result column="sch_purpose" jdbcType="VARCHAR" property="schPurpose"/>
        <result column="sch_component" jdbcType="VARCHAR" property="schComponent"/>
        <result column="sch_modus" jdbcType="VARCHAR" property="schModus"/>
        <result column="sch_total" jdbcType="REAL" property="schTotal"/>
        <result column="sch_organization" jdbcType="VARCHAR" property="schOrganization"/>
        <result column="group_ids" jdbcType="VARCHAR" property="groupIds"/>
        <result column="group_names" jdbcType="VARCHAR" property="groupNames"/>
        <result column="sch_rule" jdbcType="VARCHAR" property="schRule"/>
        <result column="sch_level" jdbcType="VARCHAR" property="schLevel"/>
        <result column="sch_suffice" jdbcType="VARCHAR" property="schSuffice"/>
        <result column="sch_user_id" jdbcType="VARCHAR" property="schUserId"/>
        <result column="sch_user_name" jdbcType="VARCHAR" property="schUserName"/>
        <result column="sch_used" jdbcType="INTEGER" property="schUsed"/>
        <result column="sch_desc" jdbcType="VARCHAR" property="schDesc"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <result column="create_id" jdbcType="INTEGER" property="createId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="INTEGER" property="updateId"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="scheme_type" jdbcType="INTEGER" property="schemeType"/>
    </resultMap>

    <sql id="Base_Column_List">
        sch_id, sch_code, sch_type, sch_name, post_id, post_name, sch_principle, sch_purpose,
        sch_component, sch_modus, sch_total, sch_organization, group_ids, group_names, sch_rule,
        sch_level, sch_suffice, sch_user_id, sch_user_name, sch_used, sch_desc, dept_id,company_code,scheme_type,
        <include refid="EmployCommon.commonColumn"/>
    </sql>

    <select id="listPg" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_performance_scheme
        where state &lt;&gt; -1 and sch_used=#{schUsed}
        <if test="postId != null">
            and post_id = #{postId,jdbcType=INTEGER}
        </if>
        <if test="schCode != null">
            and sch_code = #{schCode,jdbcType=VARCHAR}
        </if>
        <if test="schName != null">
            and sch_name = #{schName,jdbcType=VARCHAR}
        </if>
        <if test="schemeType != null">
            and scheme_type = #{schemeType,jdbcType=VARCHAR}
        </if>
        <if test="postId != null">
            and post_id = #{postId,jdbcType=INTEGER}
        </if>
        <if test="companyCode != null and companyCode != ''">
            and dept_id in (select id from sys_dept where company_code = #{companyCode} and state = 0)
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap" useCache="true">
        select
        <include refid="Base_Column_List"/>
        from e_performance_scheme
        where sch_id = #{schId,jdbcType=INTEGER} and state &lt;&gt; -1
    </select>

    <!--根据条件查询排除人员-->
    <select id="listUserByParam" resultType="java.util.Map">
        SELECT
        su.id,
        su.id as itemValue,
        su.dept_id AS groupId,
        su.dept_name as groupName,
        su.`name`,
        su.post_id as postId,
        su.post_name as postName,
        su.company_code AS companyCode,
        su.image
        FROM
        sys_user su
        WHERE
        su.state > -2 and su.handover_state=0
        <if test="name != null and name != ''">
            AND su.`name` LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="companyCode != null and companyCode != '' and companyCode != 'JT'">
            AND su.company_code = #{companyCode}
        </if>
        <if test="postId != null and postId != ''">
            AND su.post_id = #{postId}
        </if>
        <if test="state != null and state != ''">
            AND su.state = #{state}
        </if>
    </select>

<!--    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">-->
<!--        select * from e_performance_scheme-->
<!--        where state &gt; -2-->
<!--        <if test="companyCode != null">-->
<!--            and dept_id in (select id from sys_dept where company_code = #{companyCode} and state &gt; -2)-->
<!--        </if>-->
<!--    </select>-->

    <insert id="insert" parameterType="com.qinfei.qferp.entity.performance.PerformanceScheme" useGeneratedKeys="true"
            keyProperty="schId">
        insert into e_performance_scheme (sch_id, sch_code, sch_type,
        sch_name, post_id, post_name,
        sch_principle, sch_purpose, sch_component,
        sch_modus, sch_total, sch_organization,
        group_ids, group_names, sch_rule,
        sch_level, sch_suffice, sch_user_id,
        sch_user_name, sch_used, sch_desc, dept_id,company_code,scheme_type,
        <include refid="EmployCommon.commonColumn"/>)
        values (#{schId,jdbcType=INTEGER}, #{schCode,jdbcType=VARCHAR}, #{schType,jdbcType=INTEGER},
        #{schName,jdbcType=VARCHAR}, #{postId,jdbcType=INTEGER}, #{postName,jdbcType=VARCHAR},
        #{schPrinciple,jdbcType=VARCHAR}, #{schPurpose,jdbcType=VARCHAR}, #{schComponent,jdbcType=VARCHAR},
        #{schModus,jdbcType=VARCHAR}, #{schTotal,jdbcType=REAL}, #{schOrganization,jdbcType=VARCHAR},
        #{groupIds,jdbcType=VARCHAR}, #{groupNames,jdbcType=VARCHAR}, #{schRule,jdbcType=VARCHAR},
        #{schLevel,jdbcType=VARCHAR}, #{schSuffice,jdbcType=VARCHAR}, #{schUserId,jdbcType=VARCHAR},
        #{schUserName,jdbcType=VARCHAR}, #{schUsed,jdbcType=INTEGER}, #{schDesc,jdbcType=VARCHAR},
        #{deptId,jdbcType=INTEGER},#{companyCode,jdbcType=VARCHAR},#{schemeType,jdbcType=INTEGER},<include refid="EmployCommon.commonColumnInsert"/>)
    </insert>

    <insert id="insertSelective" parameterType="com.qinfei.qferp.entity.performance.PerformanceScheme"
            useGeneratedKeys="true" keyProperty="schId">
        insert into e_performance_scheme
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schId != null">
                sch_id,
            </if>
            <if test="schCode != null">
                sch_code,
            </if>
            <if test="schType != null">
                sch_type,
            </if>
            <if test="schName != null">
                sch_name,
            </if>
            <if test="postId != null">
                post_id,
            </if>
            <if test="postName != null">
                post_name,
            </if>
            <if test="schPrinciple != null">
                sch_principle,
            </if>
            <if test="schPurpose != null">
                sch_purpose,
            </if>
            <if test="schComponent != null">
                sch_component,
            </if>
            <if test="schModus != null">
                sch_modus,
            </if>
            <if test="schTotal != null">
                sch_total,
            </if>
            <if test="schOrganization != null">
                sch_organization,
            </if>
            <if test="groupIds != null">
                group_ids,
            </if>
            <if test="groupNames != null">
                group_names,
            </if>
            <if test="schRule != null">
                sch_rule,
            </if>
            <if test="schLevel != null">
                sch_level,
            </if>
            <if test="schSuffice != null">
                sch_suffice,
            </if>
            <if test="schUserId != null">
                sch_user_id,
            </if>
            <if test="schUserName != null">
                sch_user_name,
            </if>
            <if test="schUsed != null">
                sch_used,
            </if>
            <if test="schDesc != null">
                sch_desc,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="schemeType != null">
                scheme_type,
            </if>
            <include refid="EmployCommon.createInfo"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schId != null">
                #{schId,jdbcType=INTEGER},
            </if>
            <if test="schCode != null">
                #{schCode,jdbcType=VARCHAR},
            </if>
            <if test="schType != null">
                #{schType,jdbcType=INTEGER},
            </if>
            <if test="schName != null">
                #{schName,jdbcType=VARCHAR},
            </if>
            <if test="postId != null">
                #{postId,jdbcType=INTEGER},
            </if>
            <if test="postName != null">
                #{postName,jdbcType=VARCHAR},
            </if>
            <if test="schPrinciple != null">
                #{schPrinciple,jdbcType=VARCHAR},
            </if>
            <if test="schPurpose != null">
                #{schPurpose,jdbcType=VARCHAR},
            </if>
            <if test="schComponent != null">
                #{schComponent,jdbcType=VARCHAR},
            </if>
            <if test="schModus != null">
                #{schModus,jdbcType=VARCHAR},
            </if>
            <if test="schTotal != null">
                #{schTotal,jdbcType=REAL},
            </if>
            <if test="schOrganization != null">
                #{schOrganization,jdbcType=VARCHAR},
            </if>
            <if test="groupIds != null">
                #{groupIds,jdbcType=VARCHAR},
            </if>
            <if test="groupNames != null">
                #{groupNames,jdbcType=VARCHAR},
            </if>
            <if test="schRule != null">
                #{schRule,jdbcType=VARCHAR},
            </if>
            <if test="schLevel != null">
                #{schLevel,jdbcType=VARCHAR},
            </if>
            <if test="schSuffice != null">
                #{schSuffice,jdbcType=VARCHAR},
            </if>
            <if test="schUserId != null">
                #{schUserId,jdbcType=VARCHAR},
            </if>
            <if test="schUserName != null">
                #{schUserName,jdbcType=VARCHAR},
            </if>
            <if test="schUsed != null">
                #{schUsed,jdbcType=INTEGER},
            </if>
            <if test="schDesc != null">
                #{schDesc,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=INTEGER},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="schemeType != null">
                #{schemeType,jdbcType=INTEGER},
            </if>
            <include refid="EmployCommon.createInfoValue"/>
        </trim>
    </insert>

    <update id="deleteByPrimaryKey" parameterType="com.qinfei.qferp.entity.performance.PerformanceScheme">
        update e_performance_scheme
        <include refid="EmployCommon.deleteInfo"/>
        where sch_id = #{schId} and state &lt;&gt; -1
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.qinfei.qferp.entity.performance.PerformanceScheme">
        update e_performance_scheme
        <set>
            <if test="schCode != null">
                sch_code = #{schCode,jdbcType=VARCHAR},
            </if>
            <if test="schType != null">
                sch_type = #{schType,jdbcType=INTEGER},
            </if>
            <if test="schName != null">
                sch_name = #{schName,jdbcType=VARCHAR},
            </if>
            <if test="postId != null">
                post_id = #{postId,jdbcType=INTEGER},
            </if>
            <if test="postName != null">
                post_name = #{postName,jdbcType=VARCHAR},
            </if>
            <if test="schPrinciple != null">
                sch_principle = #{schPrinciple,jdbcType=VARCHAR},
            </if>
            <if test="schPurpose != null">
                sch_purpose = #{schPurpose,jdbcType=VARCHAR},
            </if>
            <if test="schComponent != null">
                sch_component = #{schComponent,jdbcType=VARCHAR},
            </if>
            <if test="schModus != null">
                sch_modus = #{schModus,jdbcType=VARCHAR},
            </if>
            <if test="schTotal != null">
                sch_total = #{schTotal,jdbcType=REAL},
            </if>
            <if test="schOrganization != null">
                sch_organization = #{schOrganization,jdbcType=VARCHAR},
            </if>
            <if test="groupIds != null">
                group_ids = #{groupIds,jdbcType=VARCHAR},
            </if>
            <if test="groupNames != null">
                group_names = #{groupNames,jdbcType=VARCHAR},
            </if>
            <if test="schRule != null">
                sch_rule = #{schRule,jdbcType=VARCHAR},
            </if>
            <if test="schLevel != null">
                sch_level = #{schLevel,jdbcType=VARCHAR},
            </if>
            <if test="schSuffice != null">
                sch_suffice = #{schSuffice,jdbcType=VARCHAR},
            </if>
            <if test="schUserId != null">
                sch_user_id = #{schUserId,jdbcType=VARCHAR},
            </if>
            <if test="schUserName != null">
                sch_user_name = #{schUserName,jdbcType=VARCHAR},
            </if>
            <if test="schUsed != null">
                sch_used = #{schUsed,jdbcType=INTEGER},
            </if>
            <if test="schDesc != null">
                sch_desc = #{schDesc,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=INTEGER},
            </if>
            <if test="schemeType != null">
                scheme_type = #{schemeType,jdbcType=INTEGER},
            </if>
            <include refid="EmployCommon.updateInfo"/>
        </set>
        where sch_id = #{schId,jdbcType=INTEGER} and state &lt;&gt; -1
    </update>

    <update id="updateByPrimaryKey" parameterType="com.qinfei.qferp.entity.performance.PerformanceScheme">
        update e_performance_scheme
        set sch_code = #{schCode,jdbcType=VARCHAR},
        sch_type = #{schType,jdbcType=INTEGER},
        sch_name = #{schName,jdbcType=VARCHAR},
        post_id = #{postId,jdbcType=INTEGER},
        post_name = #{postName,jdbcType=VARCHAR},
        sch_principle = #{schPrinciple,jdbcType=VARCHAR},
        sch_purpose = #{schPurpose,jdbcType=VARCHAR},
        sch_component = #{schComponent,jdbcType=VARCHAR},
        sch_modus = #{schModus,jdbcType=VARCHAR},
        sch_total = #{schTotal,jdbcType=REAL},
        sch_organization = #{schOrganization,jdbcType=VARCHAR},
        group_ids = #{groupIds,jdbcType=VARCHAR},
        group_names = #{groupNames,jdbcType=VARCHAR},
        sch_rule = #{schRule,jdbcType=VARCHAR},
        sch_level = #{schLevel,jdbcType=VARCHAR},
        sch_suffice = #{schSuffice,jdbcType=VARCHAR},
        sch_user_id = #{schUserId,jdbcType=VARCHAR},
        sch_user_name = #{schUserName,jdbcType=VARCHAR},
        sch_used = #{schUsed,jdbcType=INTEGER},
        sch_desc = #{schDesc,jdbcType=VARCHAR},
        dept_id = #{deptId,jdbcType=INTEGER},
        <include refid="EmployCommon.commonColumnUpdate"/>
        where sch_id = #{schId,jdbcType=INTEGER} and state &lt;&gt; -1
    </update>

    <select id="selectBySchId" parameterType="java.lang.Integer" resultType="com.qinfei.qferp.entity.performance.PerformanceScheme" useCache="true">
        select epp.pro_name proName,s.sch_id, s.sch_code, s.sch_type, s.sch_name, s.post_id,
        s.sch_level, s.sch_suffice, s.sch_user_id, s.sch_user_name, s.sch_used,s.company_code,s.scheme_type
        from e_performance_scheme s
        left join e_performance_program p on p.sch_id=s.sch_id
        left join e_performance_proportion epp on p.pro_id=epp.pro_id
        where s.sch_id = #{schId}
        and s.state &lt;&gt; -1 and epp.state &lt;&gt;-1
    </select>
</mapper>