body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 233, 238);
    padding-top: 15px;
}

.topDiv {
    height: 560px;
}

/*资源推荐*/
.resourceRecomm {
    height: 560px;
    float: left;
    width: 26%;
    background-color: white;
    overflow-y: auto;
    overflow-x: auto;
}

.resourceTitleDiv {
    float: left;
    width: 100%;
}

.resourceContentDiv {
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-left: 20px;
    font-family: SourceHanSansCN-Regular;
    color: #555555;
    overflow-y: auto;
    overflow-x: auto;
}

.resourceTitle1 {
    margin-left: 3px;
    margin-right: 3px;
}

.resourceTitle1 > img {
    margin-top: -4px;
    margin-right: 2px;
}

.plate {
    color: white;
    background-color: rgb(98, 156, 233);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.resourceContentDiv ul {
    margin-left: 20px;
}

.resourceContentDiv ul li {
    margin-top: 10px;
    font-family: SourceHanSansCN-Light;
    float: left;
    width: 100%;
}

.resourceTitleDiv > div {
    width: 100%;
    margin-top: 30px;
    float: left;
}

.resourceTitleIcon {
    margin-left: 20px;
    width: 15px;
    height: 17px;
    float: left;
    margin-top: 4px;
    background-image: url("/img/home/tuijian.png");
}

.resourceTitle {
    margin-left: 11px;
    text-align: left;
    font-size: 18px;
    font-family: SourceHanSansCN-Light;
    color: #222222;
    float: left;
}

/*轮播图div*/
.topRight {
    height: 560px;
    float: left;
    width: 73%;
    margin-left: 1%;
}

.wheel {
    height: 300px;
    float: left;
    width: 100%;
    /*background-image: url("/img/home/wheel.png");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.wheel img {
    /*
        fill（不保持纵横比缩放图片，使图片完全适应）
        contain（保持纵横比缩放图片，使图片的长边能完全显示出来）
        cover（保持纵横比缩放图片，只保证图片的短边能完全显示出来）
        none（保持图片宽高不变）
        scale-down（当图片实际宽高小于所设置的图片宽高时，显示效果与none一致；否则，显示效果与contain一致）
        inherit
        initial
        unset
    */
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.wheelBottom {
    height: 240px;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.corpCultrue {
    height: 240px;
    float: left;
    width: 47.8%;
    background-color: white;
}

.corpCultrueDiv {
    float: left;
    width: 100%;
}

.corpCultrueTitleDiv {
    width: 100%;
    margin-top: 30px;
    float: left;
}

.corpCultrueTitle {
    margin-left: 30px;
    width: 3px;
    height: 17px;
    float: left;
    margin-top: 4px;
    background-color: rgb(255, 89, 67);
}

.corpCultrueTitleText {
    margin-left: 6px;
    text-align: left;
    font-size: 18px;
    font-family: SourceHanSansCN-Light;
    color: #222222;
    float: left;
}

.corpCultrueContentDiv {
    float: left;
    width: 100%;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.corpCultrueContentDiv ul {
    margin-left: 30px;
}

.corpCultrueContentDiv ul li {
    margin-top: 10px;
    height: 30px;
    font-family: SourceHanSansCN-Light;
}

/*通知公告*/
.annNotice {
    height: 240px;
    float: left;
    width: 99.5%;
    margin-left: 1.7%;
    background-color: white;
}

.annNotice > div {
    float: left;
    width: 100%;
}

.annNoticeTitleDiv {
    width: 100%;
    margin-top: 30px;
    float: left;
}

.annNoticeTitleIcon {
    margin-left: 30px;
    width: 3px;
    height: 17px;
    float: left;
    margin-top: 4px;
    background-color: #f9b946;
}

.annNoticeTitle {
    margin-left: 6px;
    text-align: left;
    font-size: 18px;
    font-family: SourceHanSansCN-Light;
    color: #222222;
    float: left;
}

.annNoticeContentDiv {
    float: left;
    width: 100%;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.annNoticeContentDiv ul {
    margin-left: 30px;
}

.annNoticeContentDiv ul li {
    font-family: SourceHanSansCN-Light;
}

.annNoticeContentDiv ul li > i {
    font-size: 10px;
    color: #f9b946;
}

/*时间线*/
.timeLineCss {
    padding-bottom: 0px;
}

.timeCss {
    line-height: unset;
    font-size: unset;
    margin-right: 10px;
}

.timeCss > span {
    font-size: 10px;
}

.timeContent {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(249, 249, 249);
    font-family: SourceHanSansCN-Light;
}

.timeContent a {
    color: #5a5a5b !important;
}


.timeContentTitle {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
}

.timeContent1 {
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
}

/*下半布局*/
.bottomDiv {
    height: 380px;
    margin-top: 20px;
}

/*优秀事迹*/
.fineThing {
    height: 380px;
    float: left;
    width: 30.9%;
    overflow-y: auto;
    background-color: white;
    overflow-x: auto;
}

.fineThingDiv {
    border-bottom: 1px solid #f9b946;
    float: left;
    width: 100%;
}

.fineThingTitleDiv {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

.fineThingTitleIcon {
    margin-left: 20px;
    width: 24px;
    height: 29px;
    float: left;
    background-image: url("/img/home/youxiushiji.png");
}

.fineThingTitle {
    margin-left: 10px;
    margin-top: 3px;
    text-align: left;
    font-size: 18px;
    font-family: SourceHanSansCN-Light;
    color: #222222;
    float: left;
}

.fineThingContentDiv {
    float: left;
    width: 100%;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.fineThingContentDiv ul {
    margin-left: 30px;
}

.fineThingContentDiv ul li {
    margin-top: 10px;
    font-family: SourceHanSansCN-Light;
}

.fineThingContentDiv a {
    color: #629ce9;
}

.bottomDiv {
    height: 380px;
    margin-top: 20px;
}

/*集团新闻*/
.groupNews {
    height: 380px;
    float: left;
    width: 35%;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
}

.groupNewsDiv {
    border-bottom: 1px solid #40cabf;
    float: left;
    width: 100%;
}

.groupNewsTitleDiv {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

.groupNewsTitleIcon {
    margin-left: 20px;
    width: 36px;
    height: 29px;
    float: left;
    background-image: url("/img/home/jituanxinwen.png");
}

.groupNewsTitle {
    margin-left: 10px;
    margin-top: 3px;
    text-align: left;
    font-size: 18px;
    font-family: SourceHanSansCN-Light;
    color: #222222;
    float: left;
}

.groupNewsContentDiv {
    float: left;
    width: 100%;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.groupNewsContentDiv a {
    color: #629ce9;
}

.groupNewsContentDiv ul {
    margin-left: 30px;
}

.groupNewsContentDiv ul li {
    margin-top: 10px;
    font-family: SourceHanSansCN-Light;
}

/*公司新闻*/
.companyNews {
    height: 380px;
    float: left;
    width: 32.1%;
    overflow-y: auto;
    background-color: white;
    overflow-x: auto;
}

.companyNewsDiv {
    border-bottom: 1px solid #f66a50;
    float: left;
    width: 100%;
}

.companyNewsTitleDiv {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

.companyNewsTitleIcon {
    margin-left: 20px;
    margin-top: 2px;
    width: 32px;
    height: 25px;
    float: left;
    background-image: url("/img/home/gongsixinwen.png");
}

.companyNewsTitle {
    margin-left: 10px;
    margin-top: 3px;
    text-align: left;
    font-size: 18px;
    font-family: SourceHanSansCN-Light;
    color: #222222;
    float: left;
}

.companyNewsContentDiv {
    float: left;
    width: 100%;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: auto;
}

.companyNewsContentDiv a {
    color: #629ce9;
}

.companyNewsContentDiv ul {
    margin-left: 30px;
}

.companyNewsContentDiv ul li {
    margin-top: 10px;
    font-family: SourceHanSansCN-Light;
}