<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title data-th-text="${AppName}">系统登录</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/system/logger.js"></script>
    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/need/laydate.css"/>
    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css"
          id="LayDateSkin"/>

    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <style>
        /* Additional style to fix warning dialog position */
        .ui-jqgrid-hbox th {
            text-align: center;
        }
    </style>
    <script>

        $(function () {

            var start = {
                elem: '#start',
                format: 'YYYY-MM-DD hh:mm:ss ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };
            var end = {
                elem: '#end',
                format: 'YYYY-MM-DD hh:mm:ss ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };


            laydate(start);
            laydate(end);
        });
    </script>
</head>

<body>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title form-group form-inline">
                    <form id="sd" action="/log/search">
                        <label class="control-label">用户名：</label>
                        <!--<select class="form-control" id="users" name="user.userId"></select>-->
                        <input class="form-control" name="user.userName"/>
                        <label class="control-label">操作类型：</label>
                        <select class="form-control" id="opType" name="opType"></select>
                        <label class="control-label">开始时间：</label>
                        <!--<input type="text" placeholder="开始时间" name="start" class="form-control layer-date laydate-icon"-->
                        <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>-->
                        <!--到 <input type="text" placeholder="结束时间" name="end" class="form-control layer-date laydate-icon"-->
                        <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>-->
                        <input placeholder="开始日期"
                               class="form-control layer-date laydate-icon " id="start" name="start">
                        <span style="display:inline-block;padding:0 10px;">至</span>
                        <input placeholder="结束日期"
                               class="form-control layer-date laydate-icon " id="end" name="end">


                        <input type="button" value="查询" id="search" class="btn btn-warning"/>
                        <!--<input type="button" value="删除" id="delData" class="btn btn-warning"/>-->
                    </form>
                </div>
                <div class="ibox-content" style="padding: 0">
                    <div class="jqGrid_wrapper">
                        <table id="logger_list"></table>
                        <div id="logger_pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>
