<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title data-th-text="${AppName}">系统登录</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/system/logger.js"></script>
    <script>
        // $(document).ready(function () {
        //     $.jgrid.defaults.styleUI = 'Bootstrap';
        //     $(window).bind('resize', function () {
        //         var width = $('.jqGrid_wrapper').width();
        //         $('#logger_list').setGridWidth(width);
        //     });
        //
        //     $("#logger_list").jqGrid({
        //         url: baseUrl+'/log/all',
        //         datatype: "json",
        //         mtype: 'get',
        //         altRows: true,
        //         altclass: 'bgColor',
        //         height: "auto",
        //         page: 1,//第一页
        //         rownumbers: true,
        //         setLabel: "序号",
        //         autowidth: true,//自动匹配宽度
        //         gridview: true, //加速显示
        //         cellsubmit: "clientArray",
        //         viewrecords: true,  //显示总记录数
        //         multiselectWidth: 25, //设置多选列宽度
        //         sortorder: "desc", //排序方式：倒序，本例中设置默认按id倒序排序
        //         shrinkToFit: true,
        //         prmNames: {rows: "size"},
        //         rowNum: 15,//每页显示记录数
        //         rowList: [15, 25, 50],//分页选项，可以下拉选择每页显示记录数
        //         jsonReader: {
        //             root: "list", page: "pageNum", total: "pages",
        //             records: "total", repeatitems: false, id: false
        //         },
        //         colModel: [
        //             {
        //                 name: 'id',
        //                 label: 'id',
        //                 editable: true,
        //                 hidden: true,
        //                 sorttype: "int",
        //                 search: true
        //             },
        //             {
        //                 name: 'url',
        //                 label: '调用地址',
        //                 editable: true,
        //                 width: 60,
        //                 align: "center"
        //             },
        //             {
        //                 name: 'module',
        //                 label: '操作模块',
        //                 editable: true,
        //                 width: 60,
        //                 align: "center"
        //             },
        //             {
        //                 name: 'user.userName',
        //                 label: '操作人',
        //                 editable: true,
        //                 width: 50,
        //                 align: "center"
        //             },
        //             {
        //                 name: 'opDate',
        //                 label: '操作时间',
        //                 editable: true,
        //                 width: 80,
        //                 align: "center"
        //             },
        //             {
        //                 name: 'opType',
        //                 label: '操作类型',
        //                 editable: true,
        //                 width: 50,
        //                 align: "center"
        //             },
        //             {
        //                 name: 'className',
        //                 label: '调用类名',
        //                 editable: true,
        //                 width: 120,
        //                 align: "center"
        //             },
        //             {
        //                 name: 'methodName',
        //                 label: '调用方法名称',
        //                 editable: true,
        //                 width: 60,
        //                 align: "center"
        //             },
        //             {
        //                 name: 'note',
        //                 label: '备注',
        //                 editable: true,
        //                 width: 300,
        //                 align: "center"
        //             }
        //         ],
        //         pager: "#logger_pager",
        //         viewrecords: true,
        //         caption: "jqGrid 示例2",
        //         add: true,
        //         edit: true,
        //         addtext: 'Add',
        //         edittext: 'Edit',
        //         hidegrid: false,
        //         loadComplete: function (data) {
        //             if (getResCode(data))
        //                 return;
        //         }, ondblClickRow: function (rowid, iRow, iCol, e) {
        //             //双击行时触发。rowid：当前行id；iRow：当前行索引位置；iCol：当前单元格位置索引；e:event对象
        //             page('/lifter/detail?id=' + rowid, '日志详情');
        //         }
        //     });
        //
        //     $("#logger_list").setSelection(4, true);
        //     $("#logger_list").jqGrid('navGrid', '#logger_pager', {
        //         edit: true,
        //         add: true,
        //         del: true,
        //         search: true
        //     }, {
        //         height: 200,
        //         reloadAfterSubmit: true
        //     });

        // });
    </script>
    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-htable thead th div {
            text-align: center !important;
        }
    </style>

</head>

<body>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>jQuery Grid Plugin – jqGrid</h5>
                </div>
                <div class="ibox-content">
                    <h4 class="m-t">高级用法</h4>
                    <div class="jqGrid_wrapper">
                        <table id="logger_list"></table>
                        <div id="logger_pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>