<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>用户管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">

    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Bootstrap-Treeview plugin javascript -->
    <script type="text/javascript" src="/js/plugins/treeview/bootstrap-treeview.js"></script>
    <script th:src="@{/js/crm/commonDatagrid.js(v=${version})}"  data-th-inline="javascript"></script>
    <script th:src="@{/js/system/queryUser.js(v=${version})}"  data-th-inline="javascript"></script>
</head>
<body>
<!--查询条件-->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox" style="margin-bottom: 0px">
            <div class="ibox-title" style="padding-left: 20px">
                <h5 style="font-weight: bold">查询条件</h5>
            </div>
            <div class="ibox-content" style="padding: 15px 20px 0px 20px">
                <div class="form-horizontal" id="queryDiv">
                    <form id="queryForm">
                        <div class="form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div class="input-group m-b" style="margin-bottom: 0">
                                    <input type="hidden" id="deptId1" name="deptId1" class="height18">
                                    <input type="text" id="deptName1" class="form-control height18" readonly="readonly">
                                    <span class="input-group-addon btn btn-primary glyphicon glyphicon-search"
                                          style="top: 0px;border: 1px solid #1ab394;border-radius: 3px;background-color: #1ab394;color: #FFFFFF" id="selDept1"
                                          data-toggle="tooltip" data-placement="top" data-html="true" title="选择部门"></span>
                                    <span class="input-group-addon btn btn-primary glyphicon glyphicon-remove"
                                          style="top: 0px;border: 1px solid #f8ac59;border-radius: 3px;background-color: #f8ac59;color: #FFFFFF" id="cleanDept1"
                                          data-toggle="tooltip" data-placement="top" data-html="true" title="清除选择的部门"></span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <input type="text" id="userNameQc" name="userNameQc" class="form-control" placeholder="账号">
                            </div>
                            <div class="col-sm-1">
                                <input type="text" id="nameQc" name="nameQc" class="form-control" placeholder="姓名">
                            </div>
                            <div class="col-sm-1">
                                <input type="text" name="postNameQc" class="form-control" placeholder="职务">
                            </div>
                            <div class="col-sm-1">
                                <input type="text" id="phoneQc" name="phoneQc" class="form-control" placeholder="电话">
                            </div>
                            <div class="col-sm-1">
                                <select type="text" id="roleId" name="roleId" class="form-control">
                                    <option value="">角色</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <select name="stateQc" class="form-control" th:placeholder="状态">
                                    <option value="">用户状态</option>
                                    <option value="1">有效</option>
                                    <option value="-9">删除</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" id="search" class="btn btn-primary">
                                    <i class="fa fa-search"></i>&nbsp;查询
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <button id="addBtn" class="btn btn-danger" type="button">
                    <i class="fa fa-plus"></i>&nbsp;新增用户
                </button>
            </div>
            <div class="ibox-content" style="padding-left: 5px;padding-right: 0px;">
                <div class="jqGrid_wrapper">

                    <table id="query_table_logs"></table>
                    <div id="query_pager_logs"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--查看用户角色信息-->
<div id="mediaTypeModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h5>媒体板块赋权</h5>
                </div>
                <div class="ibox-content">
                    <form id="mediaTypeForm" class="form-horizontal">
                        <input id="userId" name="userId" type="hidden"/>
                        <input id="departId" name="departId" type="hidden"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                媒体类型:<span class="text-red">*</span>
                            </label>
                            <div class="col-md-10" id="mediaType">

                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success btn-sm" type="button" onclick="saveMediaType()">
                                <i class="fa fa-save"></i>&nbsp; 保存
                            </button>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp; 关闭
                            </button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">重置密码</h4>
            </div>
            <div class="modal-body">
                <form id="resetForm">
                    <div class="tabs-container">
                        <input type="hidden" id="id" name="id" class="form-control">
                        <div id="addDiv" class="tab-pane form-horizontal">
                            <div class="form-group panel-body">
                                <label class="col-sm-4 control-label">请输入密码<span class="text-red">*</span>：</label>
                                <div class="col-sm-6">
                                    <input type="password" id="password" name="password" class="form-control"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success glyphicon glyphicon-ok" id="resetPwd"> 确认重置
                        </button>
                        <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">
                            <i class="fa fa-close"></i>&nbsp; 关&nbsp;闭
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--新增编辑用户页面-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title save">新增用户信息</h4>
                <h4 class="modal-title update">更改用户信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="editForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">姓名<span class="text-red" >*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="name" name="name" class="form-control" required="">
                                    </div>
                                    <label class="col-sm-2 control-label">所属公司<span class="text-red">*</span>：</label>
                                    <div class="col-sm-3 layui-form">
                                        <input type="hidden" id="companyCode"/>
                                        <input type="hidden" name="companyCode"/>
                                        <select name="companyId" class="form-control height18" lay-verify=""
                                                lay-search lay-filter="companyId">
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" id="checkUserId" name="id" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="userName" name="userName" class="form-control"
                                               required="">
                                    </div>
                                    <label class="col-sm-2 control-label">所属部门<span class="text-red">*</span>：</label>
                                    <div class="col-sm-3">
                                        <input type="hidden" id="deptId" name="deptId"/>
                                        <input type="text" id="deptName" name="deptName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button"
                                                class="btn btn-primary btn-circle glyphicon glyphicon-search"
                                                id="selDept"></button>
                                        <button type="button"
                                                class="btn btn-warning btn-circle glyphicon glyphicon-remove"
                                                id="cleanDept" required=""></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">工号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="no" name="no" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">当前职位<span class="text-red">*</span>：</label>
                                    <div class="col-sm-3 layui-form">
                                        <input type="hidden" id="postId"/>
                                        <input type="hidden" name="postName" id="postName"/>
                                        <select name="postId" class="form-control height18" lay-verify=""
                                                lay-search lay-filter="postId">
                                            <option value="">请选择职位</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">性别:</label>
                                    <div class="col-sm-3">
                                        <div class="radio-inline i-checks">
                                            <input type="radio" value="0" name="sex"/>女
                                            <input type="radio" value="1" name="sex" checked/>男
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">是否领导<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <div class="radio-inline i-checks">
                                            <input type="radio" value="1" name="isMgr"/>是
                                            <input type="radio" value="0" name="isMgr" checked/>否
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">电话<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="phone" name="phone" class="form-control" required="required">
                                    </div>
                                    <label class="col-sm-2 control-label">邮箱:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="email" name="email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">QQ:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="qq" name="qq" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">微信:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="wechat" name="wechat" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 save control-label">密码:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="pass" name="password" class="form-control save"  required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 save control-label">用户角色:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="userRole" name="role" class="form-control save "  readonly="readonly" placeholder="默认角色">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">备注:</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" id="remark" name="remark" class="form-control"
                                                  style="resize:none;"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary save" id="save"
                                            onclick="submitHander(this,'/user/add')"><i class="fa fa-save"></i>&nbsp;新增
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary update" id="update"
                                            onclick="submitHander(this,'/user/edit')"><i class="fa fa-refresh"></i>&nbsp;修改
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger backButton" id="cancel1"
                                            data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--用户角色编辑页面-->
<div id="editUserRoleModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h5>编辑用户角色信息</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="editUserRoleForm" class="form-horizontal">
                            <input type="hidden" name="id" id="id2">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">所属角色<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10" id="groupDiv">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 col-sm-offset-5">
                                        <button class="btn btn-sm btn-success" type="button" id="saveId"
                                                onclick="saveUserRole(this,'/user/submitUserRole')"><i
                                                class="fa fa-save"></i>&nbsp; 保存
                                        </button>
                                        <button class="btn btn-sm btn-danger backButton" type="button"
                                                data-dismiss="modal"
                                                id="clo"><i class="fa fa-close"></i>&nbsp; 关闭
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--查看用户角色信息-->
<div id="viewUserRoleModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h5>查看用户角色信息</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="viewUserRoleForm" class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">所属角色<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10" id="groupDiv2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 col-sm-offset-5">
                                        <button class="btn btn-danger backButton" type="button" data-dismiss="modal"
                                                id="close"><i class="fa fa-close"></i> 关闭
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--搜索条件选择部门-->
<div class="modal inmodal" id="deptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h1>选择业务部门</h1>
            </div>
            <div class="modal-body" style="padding: 0px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox" style="margin-bottom: 0">
                            <div class="ibox-content">
                                <input type="hidden" id ="flage" name = "flage"/>
                                <div id="treeview"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭
                </button>
            </div>
        </div>
    </div>
</div>
</html>