<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title data-th-text="'职位管理-'+${AppName}"></title>
    <!--<link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">-->
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/system/queryPost.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script>
        $(function () {
            $('body').bind('keyup', function (event) {
                if (event.keyCode == "13") {
                    // 回车执行查询；
                    $("#deptPostSearch").click();
                }
            });
        })
    </script>
</head>
<body>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div id="queryForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label right0">职位名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="postNameQC" id="postNameQC" class="form-control ">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="deptPostSearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button id="addPostBtn" class="btn btn-danger" type="button">
                        <i class="fa fa-plus"></i>&nbsp;新增职位
                    </button>
                </div>
                <div class="ibox-content" style="padding-left: 0px;padding-right: 0px;">
                    <div class="jqGrid_wrapper">
                        <table id="dept_post_table"></table>
                        <div id="dept_post_pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增编辑部门职位模态框-->
<div class="modal inmodal" id="editPostModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form id="editPostForm">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h4 class="modal-title save">添加职位</h4>
                    <h4 class="modal-title update">修改职位</h4>
                </div>
                <div class="modal-body">
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox ">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <input type="hidden" name="id" id="id2">
                                            <label class="col-sm-3 control-label">职位名称<span class="text-red">*</span>:</label>
                                            <div class="col-sm-3">
                                                <input type="hidden" id="companyCode2" name="companyCode">
                                                <input type="hidden" name="state">
                                                <input type="hidden" name="creator">
                                                <input type="text" name="name" id="PostNames" class="form-control" required="required" placeholder="职位名称">
                                            </div>
                                            <label class="col-sm-2 control-label">职位编码<span class="text-red">*</span>:</label>
                                            <div class="col-sm-3">
                                                <input type="text" name="code" class="form-control" required="required" placeholder="职位编码">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">职位介绍:</label>
                                            <div class="col-sm-8">
                                                <textarea cols="30" rows="6"  name="remark" id ="postRemark" class="form-control" ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">创建时间:</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="createTime" id ="createTime" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success save" id="save" onclick="submitHander2(this,'/user/saveDeptPost')"><i class="fa fa-save"></i>&nbsp;新增</button>
                                        <button type="button" class="btn btn-success update" id="update" onclick="submitHander2(this,'/user/updateDeptPost')"><i class="fa fa-update"></i>&nbsp;修改</button>
                                        <button type="button" class="btn btn-danger backButton" id="cancel2" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--查看职位模态框-->
<div class="modal inmodal" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form id="viewForm">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h4 class="modal-title update">职位详情</h4>
                </div>
                <div class="modal-body">
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox ">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">职位名称:</label>
                                            <div class="col-sm-3">
                                                <input type="text" name="name" id="name" class="form-control" disabled="disabled" placeholder="职位名称">
                                            </div>
                                            <label class="col-sm-2 control-label">职位编码:</label>
                                            <div class="col-sm-3">
                                                <input type="text" name="code" class="form-control" disabled="disabled" placeholder="职位编码">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">职位介绍:</label>
                                            <div class="col-sm-8">
                                                <textarea cols="30" rows="6"  name="remark" id ="remark" disabled="disabled" class="form-control" ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">创建时间:</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="createTime" class="form-control" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger backButton" id="cancel" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

</html>