<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title data-th-text="'资源管理'+${AppName}">系统登录</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <!-- iCheck -->
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/js/system/resource.js"></script>
    <style></style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox ">
            <div class="ibox-title form-group form-inline">
                <form id="resourceForm" action="/resource/search">
                    <label class="control-label">资源名称：</label>
                    <input class="form-control" name="name"/>
                    <!--<label class="control-label">操作类型：</label>-->
                    <!--<select class="form-control" id="opType" name="opType"></select>-->
                    <label class="control-label">状态：</label>
                    <select class="form-control" name="state">
                        <option value="">请选择状态</option>
                        <option value="0">有效</option>
                        <option value="1">无效</option>
                    </select>
                    <!--<label class="control-label">开始时间：</label>-->
                    <!--<input type="text" placeholder="开始时间" name="start" class="form-control layer-date laydate-icon"-->
                    <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>-->
                    <!--到 <input type="text" placeholder="结束时间" name="end" class="form-control layer-date laydate-icon"-->
                    <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>-->
                    <button type="button" id="search" class="btn btn-primary">
                        <i class="fa fa-search"></i>&nbsp;&nbsp;查询
                    </button>
                    <!--<input type="button" value="删除" id="delData" class="btn btn-warning"/>-->
                </form>
            </div>
            <div class="ibox-title">
                <button class='btn btn-danger btn-sm' id="delData" onclick='del("+row.rowId+")'><i class="fa fa-close"></i> 删除</button>&nbsp;&nbsp;
                <button class='btn btn-success btn-sm' id="save" onclick='location.href="/system/editResource"'>
                    <i class="fa fa-save"></i>&nbsp;&nbsp;新增
                </button>
            </div>
            <div class="ibox-content">
                <div class="jqGrid_wrapper">
                    <table id="resource_list"></table>
                    <div id="resource_pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>