<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>员工离职记录</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/plugins/iCheck/custom.css">
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">

    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript" src="/js/employ/utils/jquery.validate.addition.js"></script>
    <script type="text/javascript" src="/js/employ/utils/jquery.validate.cn.js"></script>
    <script type="text/javascript" src="/js/employ/utils/entry.util.js"></script>
    <script type="text/javascript" src="/js/employ/employee/employeeLeave.js"></script>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <form id="queryForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight:bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">所属部门：</label>
                                <div class="col-sm-2 layui-form">
                                    <select name="empDept" data="deptId" class="form-control height18" lay-verify=""
                                            lay-search lay-filter="deptId">
                                        <option value="">请选择部门</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">当前职位：</label>
                                <div class="col-sm-2 layui-form">
                                    <select name="empProfession" data="postId" class="form-control height18"
                                            lay-verify="" lay-search lay-filter="postId">
                                        <option value="">请选择职位</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">工号：</label>
                                <div class="col-sm-2">
                                    <input type="text" name="empNum" class="form-control"
                                           placeholder="请输入工号" maxlength="10" special="true"/>
                                </div>
                                <label class="col-sm-1 control-label">姓名：</label>
                                <div class="col-sm-2">
                                    <input type="text" name="empName" class="form-control"
                                           placeholder="请输入姓名" maxlength="10" special="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">上级领导：</label>
                                <div class="col-sm-2">
                                    <input type="text" name="deptLeaderName" class="form-control"
                                           placeholder="请输入上级领导姓名" maxlength="10" special="true"/>
                                </div>
                                <label class="col-sm-1 control-label">离职类型：</label>
                                <div class="col-sm-2">
                                    <select name="leaveType" class="form-control height18">
                                        <option value="">请选择类型</option>
                                        <option value="0">公司劝退</option>
                                        <option value="1">个人离职</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">离职性质：</label>
                                <div class="col-sm-2">
                                    <select name="leaveTypeContent" class="form-control height18">
                                        <option value="">请选择性质</option>
                                        <option value="0">终止试用</option>
                                        <option value="1">公司辞退</option>
                                        <option value="2">终止续签</option>
                                        <option value="3">试用辞退</option>
                                        <option value="4">个人辞职</option>
                                        <option value="5">合同期满</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label">离职原因：</label>
                                <div class="col-sm-2">
                                    <input type="text" name="leaveReason" class="form-control"
                                           placeholder="请输入离职原因" maxlength="20" special="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">入职日期：</label>
                                <div class="col-sm-2">
                                    <input type="text" style="vertical-align:middle;cursor:pointer;width:48.5%;"
                                           class="form-control layer-date laydate-icon"
                                           name="empDateStart" placeholder="开始日期"
                                           onclick="laydate({istime: false,istoday: false, format: 'YYYY-MM-DD'})"
                                           readonly/>
                                    <input type="text" style="vertical-align:middle;cursor:pointer;width:48.5%;"
                                           class="form-control layer-date laydate-icon"
                                           name="empDateEnd" placeholder="结束日期"
                                           onclick="laydate({istime: false,istoday: false, format: 'YYYY-MM-DD'})"
                                           readonly/>
                                </div>
                                <label class="col-sm-1 control-label">离职日期：</label>
                                <div class="col-sm-2">
                                    <input type="text" style="vertical-align:middle;cursor:pointer;width:48.5%;"
                                           class="form-control layer-date laydate-icon"
                                           name="leaveDateStart" placeholder="开始日期"
                                           onclick="laydate({istime: false,istoday: false, format: 'YYYY-MM-DD'})"
                                           readonly/>
                                    <input type="text" style="vertical-align:middle;cursor:pointer;width:48.5%;"
                                           class="form-control layer-date laydate-icon"
                                           name="leaveDateEnd" placeholder="结束日期"
                                           onclick="laydate({istime: false,istoday: false, format: 'YYYY-MM-DD'})"
                                           readonly/>
                                </div>
                                <label class="col-sm-1 control-label">申请日期：</label>
                                <div class="col-sm-2">
                                    <input type="text" style="vertical-align:middle;cursor:pointer;width:48.5%;"
                                           class="form-control layer-date laydate-icon"
                                           name="createTimeStart" placeholder="开始日期"
                                           onclick="laydate({istime: false,istoday: false, format: 'YYYY-MM-DD'})"
                                           readonly/>
                                    <input type="text" style="vertical-align:middle;cursor:pointer;width:48.5%;"
                                           class="form-control layer-date laydate-icon"
                                           name="createTimeEnd" placeholder="结束日期"
                                           onclick="laydate({istime: false,istoday: false, format: 'YYYY-MM-DD'})"
                                           readonly/>
                                </div>
                                <label class="col-sm-1 control-label">状态：</label>
                                <div class="col-sm-2">
                                    <select name="state" class="form-control height18">
                                        <option value="">请选择状态</option>
                                        <option value="0">审核中</option>
                                        <option value="1">审核通过</option>
                                        <option value="2">审核拒绝</option>
                                        <option value="3">离职完成</option>
                                        <option value="4">准备交接</option>
                                        <option value="5">交接中</option>
                                    </select>
                                </div>

                                <div class="col-sm-1" style="float:left;">
                                    <button type="button" id="dataSearch" class="btn btn-warning">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ibox">
                <div class="ibox-content" style="padding-left: 0px;padding-right: 0px;">
                    <div class="jqGrid_wrapper">
                        <table id="employeeTable"></table>
                        <div id="employeeTableNav"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 审核流程详情； -->
<div class="modal inmodal" id="historyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">审核流程详情</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div id="history" class="col-sm-12"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="position:relative;z-index:2;">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>