<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>媒介管理统计</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!--统计概况模态框Css-->
    <link href="/css/statisticsModal/statisticsModal.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]];
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/plugins/echarts/echarts-all.js"></script>
    <!--页面js-->
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>
    <!--部门树-->
    <script type="text/javascript" src="/js/plugins/treeview/bootstrap-treeview.js"></script>

    <style>
        .ui-jqgrid{
            width: 99% !important;
        }
        .ui-jqgrid-bdiv{/*表格展示滚动条*/
            overflow: auto !important;
        }

        .searchCondition{
            background-color: white;
            background-color: white;
           /* margin-left:5px;
            margin-right: 5px;
            border-radius: 5px;
            box-shadow: 5px 5px 3px #888888;*/
            height: 40px;
            border: 1px solid #C7C7CD;
            width: 100%;
        }

        .topz {
            height: 100%;
        }

        .topz div:not(.echarts-tooltip) {
            height: 100%;
        }

        .topz div.c {
            background-color: white;
        }

        #bottom * {
            padding: 0 !important;
        }

        .date_select {
            background: white;
            text-align: center;
            display: inline-block;
            width: 26px;
            height: 22px;
        }

        .hover {
            color: white;
            background-color: rgb(0, 118, 255);
        }

        div.colorValue {
            margin-right: 10px;
            width: 70px;
        }

        #meddle_chart {
            padding: 0 !important;
            display: table;
            width: 100%;
            height: 88%;
            /*border: 1px solid red;*/
        }
    </style>

    <script src="/js/mediauser/statistics/media_user_manager_statistics.js"></script>
    <!--模态框拖动-->
    <link rel="stylesheet" href="/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" />
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!--统计概况模态框Js-->
    <script src="/js/statisticsModal/statisticsModal.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            deptTree.loadDept();//加载部门树
            topOption.init();
            middleOption.init();
            supplier.init();
            media.init();
            outgo.init();
            artType.init();
            statisticsModal.init();//初始化模态框
        });
    </script>

</head>

<body style="background:#e8e5e5;">
<div class="searchCondition" id ="deptDiv" style="display:none">
    <div>
        <div style="height: 40px;line-height: 40px;width: 7%;float: left;text-align: right;">业务部门：</div>
        <div class="col-sm-1" style="text-align:center;padding-top: 2px;">
            <input type="hidden" id="currentDeptId" name="currentDeptId" class="form-control">
            <input type="text" id="chooseDeptName" class="form-control height18" readonly="readonly"
                   style="width:180%">
        </div>
        <div class="col-sm-2" style="text-align:center">
            <button type="button" class="btn btn-primary  glyphicon glyphicon-search"
                    id="selDept"></button>
            <button type="button" class="btn btn-danger  glyphicon glyphicon-remove"
                    id="cleanDept"></button>
        </div>
    </div>
</div>
<div class="row" style="height:100%">
    <div id="content" style="height:100%">
        <div id="top" style="height:20%;margin-top:15px;width: 100%;float: left;">
            <div class="topz col-sm-3">
                <div class="col-sm-1 gray-bg"></div>
                <div id="artCountBox" class="col-sm-10 c" style="box-shadow: 5px 5px 3px #888888;">
                    <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">稿件数量</span>
                        <div class="text"
                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                <a id="artCountDay" onclick="common.dateSelect('artCountBox',this);topOption.setValue('artCountBox','4');"
                                   class="date_select hover">天&nbsp;</a>
                                <a onclick="common.dateSelect('artCountBox',this);topOption.setValue('artCountBox','3');"
                                   class="date_select">月&nbsp;</a>
                                <a onclick="common.dateSelect('artCountBox',this);topOption.setValue('artCountBox','1');"
                                   class="date_select">年&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div style="margin:10px 0 0 20px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:28px; color:rgb(147, 130, 130); font-style:normal; letter-spacing:0px; line-height:41px; text-decoration:none;"
                              class="value"></span><br/>
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;">总数量</span>
                        <div class="colorValue"
                             style="height: 21px; left: 1396px; top: 236px; z-index: 216; border-width: 0px; border-style: solid; font-weight: normal; font-style: normal; opacity: 1;float:right;">
                            <span class="colorValue changeValue"
                                  style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"></span>
                            <span class="icon fa iconValue" style="font-size: 21px;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topz col-sm-3">
                <div class="col-sm-1 gray-bg"></div>
                <div id="payAmountBox" class="col-sm-10 c" style="box-shadow: 5px 5px 3px #888888;">
                    <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">应付金额</span>
                        <div class="text"
                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                <a id="payAmountDay" onclick="common.dateSelect('payAmountBox',this);topOption.setValue('payAmountBox','4');"
                                   class="date_select hover">天&nbsp;</a>
                                <a onclick="common.dateSelect('payAmountBox',this);topOption.setValue('payAmountBox','3');"
                                   class="date_select">月&nbsp;</a>
                                <a onclick="common.dateSelect('payAmountBox',this);topOption.setValue('payAmountBox','1');"
                                   class="date_select">年&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div style="margin:10px 0 0 20px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:28px; color:rgb(147, 130, 130); font-style:normal; letter-spacing:0px; line-height:41px; text-decoration:none;"
                              class="value"></span><br/>
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;">需支付</span>
                        <div class="colorValue"
                             style="height: 21px; left: 1396px; top: 236px; z-index: 216; border-width: 0px; border-style: solid; font-weight: normal; font-style: normal; opacity: 1;float:right;">
                            <span class="colorValue changeValue"
                                  style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"></span>
                            <span class="icon fa iconValue" style="font-size: 21px;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topz col-sm-3">
                <div class="col-sm-1 gray-bg"></div>
                <div id="outgoAmountBox" class="col-sm-10 c" style="box-shadow: 5px 5px 3px #888888;">
                    <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">已付金额</span>
                        <div class="text"
                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                <a id="outgoAmountDay" onclick="common.dateSelect('outgoAmountBox',this);topOption.setValue('outgoAmountBox','4');"
                                   class="date_select hover">天&nbsp;</a>
                                <a onclick="common.dateSelect('outgoAmountBox',this);topOption.setValue('outgoAmountBox','3');"
                                   class="date_select">月&nbsp;</a>
                                <a onclick="common.dateSelect('outgoAmountBox',this);topOption.setValue('outgoAmountBox','1');"
                                   class="date_select">年&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div style="margin:10px 0 0 20px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:28px; color:rgb(147, 130, 130); font-style:normal; letter-spacing:0px; line-height:41px; text-decoration:none;"
                              class="value"></span><br/>
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;">已支付</span>
                        <div class="colorValue"
                             style="height: 21px; left: 1396px; top: 236px; z-index: 216; border-width: 0px; border-style: solid; font-weight: normal; font-style: normal; opacity: 1;float:right;">
                            <span class="colorValue changeValue"
                                  style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"></span>
                            <span class="icon fa iconValue" style="font-size: 21px;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topz col-sm-3">
                <div class="col-sm-1 gray-bg"></div>
                <div id="qkAmountBox" class="col-sm-10 c" style="box-shadow: 5px 5px 3px #888888;">
                    <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">请款金额</span>
                        <div class="text"
                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                <a id="qkAmountDay" onclick="common.dateSelect('qkAmountBox',this);topOption.setValue('qkAmountBox','4');"
                                   class="date_select hover">天&nbsp;</a>
                                <a onclick="common.dateSelect('qkAmountBox',this);topOption.setValue('qkAmountBox','3');"
                                   class="date_select">月&nbsp;</a>
                                <a onclick="common.dateSelect('qkAmountBox',this);topOption.setValue('qkAmountBox','1');"
                                   class="date_select">年&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div style="margin:10px 0 0 20px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:28px; color:rgb(147, 130, 130); font-style:normal; letter-spacing:0px; line-height:41px; text-decoration:none;"
                              class="value"></span><br/>
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;">请款金额</span>
                        <div class="colorValue"
                             style="height: 21px; left: 1396px; top: 236px; z-index: 216; border-width: 0px; border-style: solid; font-weight: normal; font-style: normal; opacity: 1;float:right;">
                            <span class="colorValue changeValue"
                                  style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"></span>
                            <span class="icon fa iconValue" style="font-size: 21px;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="middle" style="height:40%;padding:0 2%!important;margin-top:20px;width:100%;float: left;">
            <div class="topz col-sm-12" style="background-color:white;">
                <div id="middleBox" style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                    <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">媒体登记</span>
                    <div class="text"
                         style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                        <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                            <a id="middleDay" onclick="common.dateSelect('middleBox',this);middleOption.setValue('middleBox','4')"
                               class="date_select hover">天&nbsp;</a>
                            <a onclick="common.dateSelect('middleBox',this);middleOption.setValue('middleBox','3')"
                               class="date_select">月&nbsp;</a>
                            <a onclick="common.dateSelect('middleBox',this);middleOption.setValue('middleBox','1')"
                               class="date_select">年&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div id="meddle_chart">

                </div>
            </div>
        </div>

        <div id="bottom" style="height:70%;margin-top:20px;width: 100%;float: left;">
            <div class="topz col-sm-4">
                <div class="col-sm-1 gray-bg"></div>
                <div style="height:95%;width:100%;">
                    <form id="supplierForm">
                        <div id="supplierBox" class="col-sm-11 c">
                            <div style="height:99%;margin-top:1%">
                                <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                                    <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">供应商排名</span>
                                    <select name="artType" style="margin-left:50px;" onchange="supplier.grid.search();">
                                        <option value="">稿件类别</option>
                                    </select>
                                    <input type="hidden" name="dateSelect" value=""/>
                                    <input type="hidden" name="currentDeptId"/> <!--部门选择-->
                                    <div class="text"
                                         style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                                        <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                            <a id="supplierDay" onclick="common.dateSelect('supplierBox',this);supplier.reflush('4')"
                                               class="date_select hover">天&nbsp;</a>
                                            <a onclick="common.dateSelect('supplierBox',this);supplier.reflush('3')"
                                               class="date_select">月&nbsp;</a>
                                            <a onclick="common.dateSelect('supplierBox',this);supplier.reflush('1')"
                                               class="date_select">年&nbsp;</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="jqGrid_wrapper">
                                        <table id="supplierTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="height:5%;width:100%;">
                    <span class="icon fa fa-angle-double-down"
                          style="font-size: 24px;margin-left:10px;color:rgb(242, 155, 155)"></span>
                    <a href="javascript:page('/mediauser/statistics/supplier_statistics','供应商排名')"
                       style="margin-left:10px;font-size: 18px;">查看更多</a>
                </div>
            </div>
            <div class="topz col-sm-4">
                <div class="col-sm-1 gray-bg"></div>
                <form id="mediaForm">
                    <div id="mediaBox" class="col-sm-11 c">
                        <div style="height:99%;margin-top:1%">
                            <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                                <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">媒体排名</span>
                                <select name="artType" style="margin-left:50px;" onchange="media.grid.search();">
                                    <option value="">稿件类别</option>
                                </select>
                                <input type="hidden" name="dateSelect" value=""/>
                                <input type="hidden" name="currentDeptId"/> <!--部门选择-->
                                <input type="hidden" name="tjType" value="mediaBox"/>
                                <div class="text"
                                     style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                                    <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                        <a id="mediaDay" onclick="common.dateSelect('mediaBox',this);media.reflush('4')"
                                           class="date_select hover">天&nbsp;</a>
                                        <a onclick="common.dateSelect('mediaBox',this);media.reflush('3')"
                                           class="date_select">月&nbsp;</a>
                                        <a onclick="common.dateSelect('mediaBox',this);media.reflush('1')"
                                           class="date_select">年&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="jqGrid_wrapper">
                                    <table id="mediaTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="topz col-sm-4">
                <div class="col-sm-1 gray-bg"></div>
                <div class="col-sm-10 c">
                    <div style="height:50%;width: 100%;float: left;overflow-y: auto;">
                        <form id="outgoForm" >
                            <div id="outgoBox" class="col-sm-11 c">
                                <div style="height:99%;margin-top:1%">
                                    <div style="border-bottom:1px solid lightslategray;height:34px;width: 100%;float: left;">
                                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">请款排名</span>
                                        <input type="hidden" name="dateSelect" value=""/>
                                        <input type="hidden" name="currentDeptId"/> <!--部门选择-->
                                        <input type="hidden" name="tjType" value="outgoBox"/>
                                        <div class="text"
                                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                                <a id="outgoDay" onclick="common.dateSelect('outgoBox',this);outgo.reflush('4')"
                                                   class="date_select hover">天&nbsp;</a>
                                                <a onclick="common.dateSelect('outgoBox',this);outgo.reflush('3')"
                                                   class="date_select">月&nbsp;</a>
                                                <a onclick="common.dateSelect('outgoBox',this);outgo.reflush('1')"
                                                   class="date_select">年&nbsp;</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jqGrid_wrapper" style="height: 88%;width: 100%;float: left;">
                                        <table id="outgoTable"></table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div style="height:49%;margin-top:1%;width: 100%;float: left;">
                        <form id="artTypeForm" style="width: 100%;height: 100%; display: block; float: left;">
                            <div id="artTypeBox" class="col-sm-11 c">
                                <div style="height:99%;margin-top:1%;">
                                    <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;width: 100%;float: left;">
                                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">稿件类型分布</span>
                                        <input type="hidden" name="dateSelect" value=""/>
                                        <input type="hidden" name="currentDeptId"/> <!--部门选择-->
                                        <div class="text"
                                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                                <a id="artTypeDay" onclick="common.dateSelect('artTypeBox',this);artType.loadPie('4')"
                                                   class="date_select hover">天&nbsp;</a>
                                                <a onclick="common.dateSelect('artTypeBox',this);artType.loadPie('3')"
                                                   class="date_select">月&nbsp;</a>
                                                <a onclick="common.dateSelect('artTypeBox',this);artType.loadPie('1')"
                                                   class="date_select">年&nbsp;</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="artTypeChart" style="height: 86%;width: 100%;float: left;" class="col-sm-12">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--搜索条件选择部门-->
<div class="modal inmodal" id="deptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <h5>部门信息</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>选择部门</h5>
                                    <div class="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">

                                    <div id="treeview"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--统计模态框导入-->
<div th:include="statisticsmodal/statisticsModal" ></div>
</html>
