<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>业绩排名统计</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/plugins/echarts/echarts-all.js"></script>
    <!--页面js-->
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>
    <style>

    </style>

    <script src="/js/mediauser/statistics/ranking_user_statistics.js"></script>

    <script th:inline="javascript">
        $().ready(function () {
            //加载时间控件
            var issuedDateStart = {
                elem: '#issuedDateStart',
                format: 'YYYY/MM/DD',
                istime: false,
                istoday: false,
                choose:function () {
                    var startTime = $("#issuedDateStart").val();
                    var endTime = $("#issuedDateEnd").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("开始时间不能大于结束时间");
                        $("#issuedDateStart").val("")
                        return;
                    }
                    searchForm.search();//刷新数据
                }
            };
            laydate(issuedDateStart);
            var issuedDateEnd = {
                elem: '#issuedDateEnd',
                format: 'YYYY/MM/DD',
                istime: false,
                istoday: false,
                choose:function () {
                    var startTime = $("#issuedDateStart").val();
                    var endTime = $("#issuedDateEnd").val();
                    if(startTime && endTime && startTime > endTime){
                        layer.msg("结束时间不能小于开始时间");
                        $("#issuedDateEnd").val("")
                        return;
                    }
                    searchForm.search();//刷新数据
                }
            };
            laydate(issuedDateEnd);

            //个人排名初始化
            getSelfRanking();
            //查询条件初始化
            searchForm.loadAllCompany("#companyCode");
            //页面自动加载
            searchForm.search();
        });
    </script>

</head>

<body>
<form id="searchForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="margin-bottom:-16px;">
                <div class="ibox-title">
                    <h5 style="font-weight: bold">查询条件</h5>
                </div>
                <div class="ibox-content" style="padding:0 0 0 0">
                    <div class="form-horizontal">
                        <div class="form-group" style="margin-top:15px;">
                            <label class="col-sm-1 control-label right0">类别:</label>
                            <div class="col-sm-1">
                                <!--时间段-->
                                <select name="timeQuantum" class="form-control height18"
                                        onchange="searchForm.showIssuedDate(this.value);searchForm.search()">
                                    <option value="1" selected="selected">本月</option>
                                    <option value="2">本年</option>
                                    <option value="3">时间区间</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">公司:</label>
                            <div class="col-sm-1">
                                <select id="companyCode" name="companyCode" class="form-control height18" onchange="searchForm.search()">
                                </select>
                            </div>

                            <div class="col-sm-6">
                                <button type="button" id="searchButton" class="btn btn-primary"
                                        style="float:left;margin-left:20px;"
                                        onclick="searchForm.search()">
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;查询
                                </button>
                            </div>


                            <div class="col-sm-2">
                                <span style="color: red;display: inline-block;">&nbsp;您的本月排名:</span>
                                <input type="text" id="selfRanking" name="selfRanking" disabled class="form-control"
                                       required="true" maxlength="10" normalname="true" style="width: 60px;display: inline-block;text-align: center;"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div id="issuedDateFormGroup" style="display: none">
                                <label class="col-sm-1 control-label right0">发布时间：</label>
                                <div class="col-sm-2" style="min-width:240px;">
                                    <input placeholder="开始日期" style="width:40%;margin-left:0;vertical-align: middle"
                                           class="form-control layer-date" id="issuedDateStart" name="issuedDateStart" autocomplete="off">
                                    <span style="display:inline-block;padding:0 10px;">至</span>
                                    <input placeholder="结束日期" style="width:40%;vertical-align: middle"
                                           class="form-control layer-date" id="issuedDateEnd" name="issuedDateEnd" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </DIV>
            </div>
        </div>
    </div>

    <div class="col-sm-10" style="margin-top: 10px;padding-right: 0px;padding-left: 0px;">
        <div id="topChart">
            <div id="statisticsResultChart" style="height: 300px;" class="col-sm-12"></div>
        </div>

        <div id="bottomChart">
            <div id="supplierResultChart" style="height: 300px;" class="col-sm-12"></div>
        </div>
    </div>
    <div class="col-sm-2" style="margin-top: 10px;padding-right: 0px;padding-left: 0px;">
        <label class="col-sm-12 control-label right0">
            <font color="#000000"><h3>个人排名</h3></font>
        </label>
        <div id="supplierResultTable" style="overflow-y: auto; height: 600px;background-color: #fff;" class="col-sm-12">
        </div>
    </div>

</form>
</body>

</html>
